<div class="container diagnostics-out">
  <div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
      <% if inform.inf_type != 'cito' %>
        <h4>Diganósticos:</h4>
      <% else %>
        <h4>Resultados:</h4>
      <% end %>
      
      <% inform.diagnostics.each_with_index do |diagnostic, n| %>
        <div class="alert alert-dark">
          <div class="d-flex flex-row justify-content-between align-items-center">
            <strong>Diagnóstico <%= n + 1 %> de <%= inform.diagnostics.count %> creado el <%= diagnostic.created_at.strftime('%d/%m/%Y') %>
            </strong>
            <div>
              <%= form_with url: diagnostics_destroy_diagnostic_path(diagnostic), method: "post" do |form| %>
                <%= form.submit '&times;'.html_safe, class: "btn btn-outline-dark btn-sm" %>
                <%= form.hidden_field :diagnostic_id, value: diagnostic.id %>
              <% end %>
            </div>
          </div>

          <% if edit_diagnostic == diagnostic %>
            <%= form_with model: diagnostic do |form| %>
              <div class="row">
                <div class="col-12 col-lg-12 col-xl-12">
                  <div class="form-group">
                    <%= form.text_area :description, class: "form-control form-control-lg input" %>
                    <%= form.hidden_field :edit_dx_status, value: edit_dx_status %>
                  </div>
                </div>
                <% if inform.inf_type != 'cito' %>
                  <div class="col-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                      <%= form.collection_select(:pss_code, diagcodes, :pss_code, :description, { prompt: 'Código PSS'}, { class: "form-control input" }) %>
                    </div>
                  </div>
                <% end %>
                <% if inform.inf_type == 'cito' %>
                  <div class="col-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                      <%= form.label "Código cito:" %>
                      <%= form.collection_select(:pss_code, diagcodes, :cito_code, :description, { prompt: 'Código PSS'}, { class: "form-control input" }) %>
                    </div>
                    <div class="form-group">
                      <%= form.label "Resultado:" %>
                      <%= form.select(:result, options_for_select([['Positiva', 'positiva'], ['Negativa', 'negativa'], ['Insatisfactoria', 'insatisfactoria']]), { prompt: "Selecciona" }, class: "form-control form-control input") %>
                    </div>
                  </div>
                <% end %>
              </div>
              
              <div class="actions">
                <%= form.submit "Guardar", class: "btn btn-warning btn-sm mt-2" %>
              </div>
            <% end %>
          <% else %>
            <% if inform.inf_type != 'cito' %>
              <p>Código Patología Suescún: <%= diagnostic.pss_code %> - Código OMS: <%= diagnostic.who_code %></p>
            <% else %>
              <p>Código Patología Suescún para citología: <%= diagnostic.pss_code %></p>
              <% if diagnostic.result == "negativa" %>
                <div class="alert alert-success">
              <% else %>
                <% if diagnostic.result == "insatisfactoria" %>
                  <div class="alert alert-warning">
                <% else %>
                  <div class="alert alert-danger">
                <% end %>
              <% end %>
              
                <p>Resultado: <strong><%= diagnostic.result %></strong></p>
              </div>
              
            <% end %>
            
            <p>
              <%= link_to edit_diagnostic_path(diagnostic), remote: true do %>
              <span style="font-size: 25px;color: black;border: 1px solid black; border-radius: 3px;padding-left: 5px;padding-right: 5px;text-decoration: none;">&#9998;</span>
              <% end %><span><%= diagnostic.description %></span>
            </p>
          <% end %>


          <div class="text-muted"><p>Por: <%= User.where(id: diagnostic.user_id).first.try(:fullname) %></p></div>
          
          <% diagnostic.objections.each do |objection| %>
            <div>
              <span class="badge badge-<%= objection.closed == false ? "danger" : "warning" %>">No conformidad: <%= objection_title(objection.obcode_id) %></span>
            </div>
            
            <% if edit_objection_id == nil %>
              <div class="d-flex flex-column">
                <span class="text-muted objection-description">
                  <%= objection.description %>
                </span>
              </div>
              <% unless objection.closed %>
                <%= form_with url: diagnostics_review_path, method: "post" do |form| %>
                  <div class="form-group">
                    <%= form.submit "Revisar", class: "btn btn-outline-danger mx-1 my-1" %>
                    <%= form.hidden_field :objection_id, value: objection.id %>
                    <%= form.hidden_field :diagnostic_id, value: diagnostic.id %>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <% if edit_objection_id == objection %>
                <%= form_with url: diagnostics_anotate_path, method: "post" do |form| %>
                  <div class="form-group">
                    <%= form.label "Historial:" %>
                    <%= form.text_area :description, value: objection.description, rows: 4, class: "form-control input disabled" %>
                  </div>
                  <div class="form-group">
                    <%= form.label "Acción de mejora:" %>
                    <%= form.text_area :new_description, rows: 2, class: "form-control input" %>
                  </div>
                  <div class="actions">
                    <%= form.submit "Anotar", class: "btn btn-warning mx-1 my-1" %>
                    <%= form.hidden_field :objection_id, value: objection.id %>
                    <%= form.hidden_field :diagnostic_id, value: diagnostic.id %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-12 col-xl-12 diagnostic-form">
      
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-12 col-xl-12 d-flex flex-row justify-content-start align-items-center">
      <div class="d-flex">
        <%= form_with url: new_diagnostic_path, method: "get", class: "diagnostic-form-out mr-3" do |form| %>
          <%= form.submit " + Diagnóstico", class: "btn btn-outline-dark" %>
          <%= form.hidden_field :inform_id, value: inform.id %>
        <% end %>
      </div>
    </div>
  </div>
</div>
