<div class="row" id="home-bar">
	<div class="col-12 col-lg-4 mx-auto">
		<%= link_to "Resultados", results_path, class: "btn btn-lg btn-success btn-block" %>
	</div>
	<div class="col-12 col-lg-12">
		<ul class="nav justify-content-center">
		  <li class="nav-item">
		    <%= link_to "Inicio", static_pages_home_path, class: "nav-link" %>
		  </li>
		  <li class="nav-item">
		    <%= link_to "Quiénes somos", static_pages_whoweare_path, class: "nav-link" %>
		  </li>
		  <li class="nav-item">
		    <%= link_to "Servicios", static_pages_services_path, class: "nav-link" %>
		  </li>
		  <li class="nav-item">
		    <%= link_to "Tecnología", static_pages_tech_path, class: "nav-link" %>
		  </li>
		  <li class="nav-item">
		    <%= link_to "Portafolio", static_pages_portfolio_path, class: "nav-link" %>
		  </li>
		  <li class="nav-item">
		    <%= link_to "Contacto", static_pages_contact_path, class: "nav-link" %>
		  </li>
		</ul>
	</div>
</div>
