<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">

      <h4>Importar datos</h4>
      <%= form_tag import_branches_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Importar CSV" %>
      <% end %>

      <h1>Sedes IPS</h1>

      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Código</th>
            <th>IPS</th>
            <th>Sede</th>
            <th>Informes</th>
            <th>Cups</th>
            <th>Costo</th>
            <th>Facturación</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @branches.each do |branch| %>
            <tr>
              <td><%= branch.code %></td>
              <td><%= branch.entity.initials %></td>
              <td><%= branch.initials %></td>
              <td><%= infos(branch) %></td>
              <td><%= studs(branch) %></td>
              <td><%= number_to_currency(costos(branch), precision: 0, delimiter: '.') %></td>
              <td><%= number_to_currency(prices(branch), precision: 0, delimiter: '.') %></td>
              <td><%= link_to 'Detalles', branch_path(branch) %></td>
              <td><%= link_to 'Editar', edit_branch_path(branch) %></td>
              <td><%= link_to 'Borrar', branch, method: :delete, data: { confirm: '¿Confirmas la operación?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

    </div>
  </div>
</div>
