<p id="notice"><%= notice %></p>

<h1>Branches</h1>

<table>
  <thead>
    <tr>
      <th>Entity</th>
      <th>Name</th>
      <th>Initials</th>
      <th>Code</th>
      <th>Mgr name</th>
      <th>Mgr email</th>
      <th>Mgr tel</th>
      <th>Mgr cel</th>
      <th>Municipality</th>
      <th>Department</th>
      <th>Address</th>
      <th>Entype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= branch.entity %></td>
        <td><%= branch.name %></td>
        <td><%= branch.initials %></td>
        <td><%= branch.code %></td>
        <td><%= branch.mgr_name %></td>
        <td><%= branch.mgr_email %></td>
        <td><%= branch.mgr_tel %></td>
        <td><%= branch.mgr_cel %></td>
        <td><%= branch.municipality %></td>
        <td><%= branch.department %></td>
        <td><%= branch.address %></td>
        <td><%= branch.entype %></td>
        <td><%= link_to 'Show', branch %></td>
        <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
        <td><%= link_to 'Destroy', branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Branch', new_branch_path %>
