<p id="notice"><%= notice %></p>

<p>
  <strong>Entity:</strong>
  <%= @branch.entity %>
</p>

<p>
  <strong>Name:</strong>
  <%= @branch.name %>
</p>

<p>
  <strong>Initials:</strong>
  <%= @branch.initials %>
</p>

<p>
  <strong>Code:</strong>
  <%= @branch.code %>
</p>

<p>
  <strong>Mgr name:</strong>
  <%= @branch.mgr_name %>
</p>

<p>
  <strong>Mgr email:</strong>
  <%= @branch.mgr_email %>
</p>

<p>
  <strong>Mgr tel:</strong>
  <%= @branch.mgr_tel %>
</p>

<p>
  <strong>Mgr cel:</strong>
  <%= @branch.mgr_cel %>
</p>

<p>
  <strong>Municipality:</strong>
  <%= @branch.municipality %>
</p>

<p>
  <strong>Department:</strong>
  <%= @branch.department %>
</p>

<p>
  <strong>Address:</strong>
  <%= @branch.address %>
</p>

<p>
  <strong>Entype:</strong>
  <%= @branch.entype %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
