<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 mx-auto">
      <%= form_with(model: sample, local: true) do |form| %>

        <div class="field">
          <%= form.label "Nombre" %>
          <%= form.text_field :name, class: "form-control input" %>
        </div>

        <div class="form-group">
          <%= form.label "Descripción" %>
          <%= form.text_area :description, class: "form-control input" %>
        </div>

        <div class="form-group">
          <%= form.label "Etiqueta" %>
          <%= form.text_field :sample_tag, class: "form-control input" %>
        </div>

        <div class="actions">
          <%= form.submit "Guardar", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

