<%= form_with(model: macro, local: true) do |form| %>
  <% if macro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(macro.errors.count, "error") %> prohibited this macro from being saved:</h2>

      <ul>
      <% macro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :inform_id %>
    <%= form.text_field :inform_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
