<p id="notice"><%= notice %></p>

<h1>Macros</h1>

<table>
  <thead>
    <tr>
      <th>Inform</th>
      <th>User</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @macros.each do |macro| %>
      <tr>
        <td><%= macro.inform %></td>
        <td><%= macro.user_id %></td>
        <td><%= macro.description %></td>
        <td><%= link_to 'Show', macro %></td>
        <td><%= link_to 'Edit', edit_macro_path(macro) %></td>
        <td><%= link_to 'Destroy', macro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Macro', new_macro_path %>
