<p id="notice"><%= notice %></p>

<p>
  <strong>Inform:</strong>
  <%= @macro.inform %>
</p>

<p>
  <strong>User:</strong>
  <%= @macro.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @macro.description %>
</p>

<%= link_to 'Edit', edit_macro_path(@macro) %> |
<%= link_to 'Back', macros_path %>
