<%= form_with(model: oldrecord, local: true) do |form| %>
  <% if oldrecord.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oldrecord.errors.count, "error") %> prohibited this oldrecord from being saved:</h2>

      <ul>
      <% oldrecord.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :clave %>
    <%= form.text_field :clave %>
    <%= form.label :numero %>
    <%= form.text_field :numero %>
    <%= form.label :fecharec %>
    <%= form.date_select :fecharec %>
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>
  <br>
  <div>
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
    <%= form.label :nombre2 %>
    <%= form.text_field :nombre2 %>
    <%= form.label :apellido %>
    <%= form.text_field :apellido %>
    <%= form.label :apellido2 %>
    <%= form.text_field :apellido2 %>
    
    <%= form.label :identif %>
    <%= form.text_field :identif %>
    <%= form.label :cedula %>
    <%= form.text_field :cedula %>
    <%= form.label :historia %>
    <%= form.text_field :historia %>
    <%= form.label :uniedad %>
    <%= form.text_field :uniedad %>
    <%= form.label :edad %>
    <%= form.text_field :edad %>
    <%= form.label :sexo %>
    <%= form.text_field :sexo %>
  </div>
  <br>
  <div>
    <%= form.label :clinica %>
    <%= form.text_field :clinica %>
    <%= form.label :entidad %>
    <%= form.text_field :entidad %>
    <%= form.label :entad %>
    <%= form.text_field :entad %>
    <%= form.label :codval1 %>
    <%= form.text_field :codval1 %>
    <%= form.label :por1 %>
    <%= form.text_field :por1 %>
    <%= form.label :codval2 %>
    <%= form.text_field :codval2 %>
    <%= form.label :por2 %>
    <%= form.text_field :por2 %>
    <%= form.label :codval3 %>
    <%= form.text_field :codval3 %>
    <%= form.label :por3 %>
    <%= form.text_field :por3 %>
    <%= form.label :saldo %>
    <%= form.text_field :saldo %>
    <%= form.label :codigo %>
    <%= form.text_field :codigo %>
    <%= form.label :codigo1 %>
    <%= form.text_field :codigo1 %>
    <%= form.label :codigo2 %>
    <%= form.text_field :codigo2 %>
    <%= form.label :codigo3 %>
    <%= form.text_field :codigo3 %>
    <%= form.label :codigo4 %>
    <%= form.text_field :codigo4 %>
    <%= form.label :codigo5 %>
    <%= form.text_field :codigo5 %>
    <%= form.label :prestador %>
    <%= form.text_field :prestador %>
    <%= form.label :factura %>
    <%= form.text_field :factura %>
    <%= form.label :autoriz %>
    <%= form.text_field :autoriz %>
    <%= form.label :usuario %>
    <%= form.text_field :usuario %>
    <%= form.label :ocupacion %>
    <%= form.text_field :ocupacion %>
    <%= form.label :residencia %>
    <%= form.text_field :residencia %>
    <%= form.label :zona %>
    <%= form.text_field :zona %>
    <%= form.label :emb %>
    <%= form.text_field :emb %>
    <%= form.label :estado %>
    <%= form.text_field :estado %>
    <%= form.label :telefono %>
    <%= form.text_field :telefono %>
  </div>
  <br>
  <div>
    <%= form.label :dnombre %>
    <%= form.text_field :dnombre %>
    <%= form.label :dapellido %>
    <%= form.text_field :dapellido %>
    <%= form.label :oficina %>
    <%= form.text_field :oficina %>
    <%= form.label :bloque %>
    <%= form.text_field :bloque %>
    <%= form.label :patologo %>
    <%= form.text_field :patologo %>
    <%= form.label :secretaria %>
    <%= form.text_field :secretaria %>
    <%= form.label :tipo %>
    <%= form.text_field :tipo %>
    <%= form.label :imprimir %>
    <%= form.text_field :imprimir %>
    <%= form.label :secretauno %>
    <%= form.text_field :secretauno %>
    <%= form.label :fecha1 %>
    <%= form.date_select :fecha1 %>
    <%= form.label :firma %>
    <%= form.text_field :firma %>
    <%= form.label :rango %>
    <%= form.text_field :rango %>
    <%= form.label :dx %>
    <%= form.text_field :dx %>
    <%= form.label :revisor %>
    <%= form.text_field :revisor %>
    <%= form.label :tiempo %>
    <%= form.text_field :tiempo %>
    <%= form.label :sincroniza %>
    <%= form.text_field :sincroniza %>
    <%= form.label :fsincro %>
    <%= form.date_select :fsincro %>
  </div>
  <br>
  <div> 
    <%= form.label :descr %>
    <%= form.text_area :descr, rows: 8, cols: 80 %>

    <%= form.label :diagnostic %>
    <%= form.text_area :diagnostic, rows: 8, cols: 80 %>
  </div>
  
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
