<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Oldrecords</h1>

      <h4>Importar datos</h4>
      <%= form_tag import_oldrecords_path, multipart: true, class: "form-group" do %>
        <%= file_field_tag :file, class: "form-control input mb-3" %>
        <%= submit_tag "Importar CSV", class: "btn btn-primary" %>
      <% end %>

      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Informe</th>
            <th>Tipo</th>
            <th>Ingreso PSS</th>
            <th>User PSS</th>
            <th>Nombre</th>
            <th>Id</th>
            <th>EPS</th>
            <th>Sede IPS</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @oldrecords.each do |oldrecord| %>
            <tr>
              <td><%= oldrecord.clave + oldrecord.fecharec.strftime('%y') + "-" + oldrecord.numero %></td>
              <td><%= oldrecord.clave %></td>
              <td><%= oldrecord.fecharec.strftime('%d/%m/%Y') %></td>
              <td><%= oldrecord.secretauno %></td>
              <td><%= oldrecord.fullname %></td>
              <td><%= oldrecord.cedula %></td>
              <td><%= oldrecord.entidad %></td>
              <td><%= oldrecord.clinica %></td>
              
              <td><%= link_to 'Detalles', oldrecord %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
