
<div class="info">
  <h3>
    <strong><%= @oldrecord.tag_code %></strong>: <strong><%= @oldrecord.fullname.to_s %></strong>, <strong><%= @oldrecord.edad.to_s + " " + (@oldrecord.uniedad.to_s == "1" ? "A" : (@oldrecord.uniedad.to_s == "2" ? "M" : "D")) %></strong>, sexo: <strong><%= @oldrecord.sexo.to_s %></strong>, <%= @oldrecord.identif.to_s %>: <strong><%= @oldrecord.cedula.to_s + @oldrecord.historia.to_s %> </strong>, fecha: <%= @oldrecord.fecharec.to_s %>
  </h3>
</div>
<div class="inform">
  </strong> - Dirección: <strong><%= @oldrecord.residencia %> - </strong> - Fecha de entrega: <strong><%= @oldrecord.fecha1 %></strong> - EPS: <strong><%= @oldrecord.entidad %></strong> - Sede IPS: <strong><%= @oldrecord.clinica %></strong></p>

  
  <p><strong>Médico tratante:</strong> <%= @oldrecord.dnombre %> <%= @oldrecord.dapellido %> Contactos: <strong><%= @oldrecord.oficina %></strong> <strong><%= @oldrecord.telefono %></strong> <strong><%= @oldrecord.telefono %></strong>
  
  | <%= link_to 'Volver a informes', informs_path %> | <%= link_to 'Previsualizar informe', preview_inform_path %></p>
  <p>
    <strong>Prestador: </strong><%= @oldrecord.prestador %><strong>Factura: </strong><%= @oldrecord.factura %> <strong>Autoriz: </strong><%= @oldrecord.autoriz %> <strong>Saldo: </strong><%= @oldrecord.saldo %>
  </p>

</div>


<p>
  <strong>Fecha:</strong>
  <%= @oldrecord.fecha %>
</p>

<p>
  <strong>Codval1: </strong><%= @oldrecord.codval1 %> x <%= @oldrecord.por1 %> <strong>Codval2: </strong><%= @oldrecord.codval2 %> x <%= @oldrecord.por2 %> <strong>Codval3: </strong><%= @oldrecord.codval3 %> x <%= @oldrecord.por3 %>
</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
      <div class="card bg-light mx-2 mb-3">
        <div class="card-header pl-1 pr-0 pt-0 pb-0 d-flex justify-content-between">
          <p>Descripción</p>
        </div>
        <div class="card-body">
          <p><%= simple_format(fix_accent(@oldrecord.descr)) %></p>
          <div class="text-muted"><p>Por: <%= @oldrecord.patologo %></p></div>
        </div>
      </div>
    </div>
  </div>
</div>
    
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
      <div class="card bg-light mx-2 mb-3">
        <div class="card-header pl-1 pr-0 pt-0 pb-0 d-flex justify-content-between">
          <p>Diganóstico producido el <%= @oldrecord.fecha1 %></p>
        </div>
        <div class="card-body">
          <p>Código Patología Suescún: <%= @oldrecord.codigo %>, <%= @oldrecord.codigo1 %>, <%= @oldrecord.codigo2 %>, <%= @oldrecord.codigo3 %>, <%= @oldrecord.codigo4 %>, <%= @oldrecord.codigo5 %></p>
          <p>Código OMS: <%= @oldrecord.dx %></p>
          <p><%= fix_accent(@oldrecord.diagnostic) %></p>
          <div class="text-muted"><p>Por: <%= @oldrecord.firma %></p></div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<p>
  <strong>Bloque:</strong>
  <%= @oldrecord.bloque %>
</p>

<p>
  <strong>Firma: </strong>
   <strong>Secretaria: </strong><%= @oldrecord.secretaria %>
</p>

<p>
  <strong>Revisor científico:</strong><%= @oldrecord.revisor %>
  <strong>Revisor admin: </strong><%= @oldrecord.secretauno %>
</p>


<%= link_to 'Back', oldrecords_path %>
