<p id="notice"><%= notice %></p>

<p>
  <strong>Clave:</strong>
  <%= @oldrecord.clave %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @oldrecord.numero %>
</p>

<p>
  <strong>Fecharec:</strong>
  <%= @oldrecord.fecharec %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @oldrecord.fecha %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @oldrecord.apellido %>
</p>

<p>
  <strong>Apellido2:</strong>
  <%= @oldrecord.apellido2 %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @oldrecord.nombre %>
</p>

<p>
  <strong>Nombre2:</strong>
  <%= @oldrecord.nombre2 %>
</p>

<p>
  <strong>Identif:</strong>
  <%= @oldrecord.identif %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @oldrecord.cedula %>
</p>

<p>
  <strong>Historia:</strong>
  <%= @oldrecord.historia %>
</p>

<p>
  <strong>Uniedad:</strong>
  <%= @oldrecord.uniedad %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @oldrecord.edad %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @oldrecord.sexo %>
</p>

<p>
  <strong>Clinica:</strong>
  <%= @oldrecord.clinica %>
</p>

<p>
  <strong>Entidad:</strong>
  <%= @oldrecord.entidad %>
</p>

<p>
  <strong>Entad:</strong>
  <%= @oldrecord.entad %>
</p>

<p>
  <strong>Codval1:</strong>
  <%= @oldrecord.codval1 %>
</p>

<p>
  <strong>Por1:</strong>
  <%= @oldrecord.por1 %>
</p>

<p>
  <strong>Codval2:</strong>
  <%= @oldrecord.codval2 %>
</p>

<p>
  <strong>Por2:</strong>
  <%= @oldrecord.por2 %>
</p>

<p>
  <strong>Codval3:</strong>
  <%= @oldrecord.codval3 %>
</p>

<p>
  <strong>Por3:</strong>
  <%= @oldrecord.por3 %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @oldrecord.saldo %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @oldrecord.descr %>
</p>

<p>
  <strong>Diagnostic:</strong>
  <%= @oldrecord.diagnostic %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @oldrecord.codigo %>
</p>

<p>
  <strong>Codigo1:</strong>
  <%= @oldrecord.codigo1 %>
</p>

<p>
  <strong>Codigo2:</strong>
  <%= @oldrecord.codigo2 %>
</p>

<p>
  <strong>Codigo3:</strong>
  <%= @oldrecord.codigo3 %>
</p>

<p>
  <strong>Codigo4:</strong>
  <%= @oldrecord.codigo4 %>
</p>

<p>
  <strong>Codigo5:</strong>
  <%= @oldrecord.codigo5 %>
</p>

<p>
  <strong>Prestador:</strong>
  <%= @oldrecord.prestador %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @oldrecord.factura %>
</p>

<p>
  <strong>Autoriz:</strong>
  <%= @oldrecord.autoriz %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @oldrecord.usuario %>
</p>

<p>
  <strong>Ocupacion:</strong>
  <%= @oldrecord.ocupacion %>
</p>

<p>
  <strong>Residencia:</strong>
  <%= @oldrecord.residencia %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @oldrecord.zona %>
</p>

<p>
  <strong>Emb:</strong>
  <%= @oldrecord.emb %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @oldrecord.estado %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @oldrecord.telefono %>
</p>

<p>
  <strong>Dnombre:</strong>
  <%= @oldrecord.dnombre %>
</p>

<p>
  <strong>Dapellido:</strong>
  <%= @oldrecord.dapellido %>
</p>

<p>
  <strong>Oficina:</strong>
  <%= @oldrecord.oficina %>
</p>

<p>
  <strong>Bloque:</strong>
  <%= @oldrecord.bloque %>
</p>

<p>
  <strong>Patologo:</strong>
  <%= @oldrecord.patologo %>
</p>

<p>
  <strong>Secretaria:</strong>
  <%= @oldrecord.secretaria %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @oldrecord.tipo %>
</p>

<p>
  <strong>Imprimir:</strong>
  <%= @oldrecord.imprimir %>
</p>

<p>
  <strong>Secretauno:</strong>
  <%= @oldrecord.secretauno %>
</p>

<p>
  <strong>Fecha1:</strong>
  <%= @oldrecord.fecha1 %>
</p>

<p>
  <strong>Firma:</strong>
  <%= @oldrecord.firma %>
</p>

<p>
  <strong>Rango:</strong>
  <%= @oldrecord.rango %>
</p>

<p>
  <strong>Dx:</strong>
  <%= @oldrecord.dx %>
</p>

<p>
  <strong>Revisor:</strong>
  <%= @oldrecord.revisor %>
</p>

<p>
  <strong>Tiempo:</strong>
  <%= @oldrecord.tiempo %>
</p>

<p>
  <strong>Sincroniza:</strong>
  <%= @oldrecord.sincroniza %>
</p>

<p>
  <strong>Fsincro:</strong>
  <%= @oldrecord.fsincro %>
</p>

<%= link_to 'Edit', edit_oldrecord_path(@oldrecord) %> |
<%= link_to 'Back', oldrecords_path %>
