<div class="list-slides">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-12 col-xl-12 mx-auto">
        <h1>Placas</h1>
        <% @slides.each do |slide| %>
          <div class="d-flex flex-row">
            <div class="col-12 col-lg-12 col-xl-12">
              <div class="list-slides">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="card bg-light mx-2 mb-3">
                          <div class="card-header pl-1 pr-0 pt-0 pb-0 d-flex justify-content-between">
                            <strong>Placas para informe <%= slide.inform.tag_code %></strong>
                          </div>
                          <div class="card-body">
                            <div class="card-deck">
                              <% slide.inform.slides.each do |slide| %>
                                <% if slide.slide_tag != nil %> <!-- Hay instancias no en DB por las form de las Samples, solo listo las que tengan tag -->
                                  <div class="col-3 col-lg-3 col-xl-2 card-in">
                                    <div class="card mb-3">
                                      <% if slide.colored %>
                                        <div class="card-header d-flex pl-1 pr-0 pt-0 pb-0 justify-content-between <%= "#{slide.tagged ? "" : "text-muted"}" %>" style="background-color: rgba(255,150,255,0.6)">
                                      <% else %>
                                        <div class="card-header d-flex pl-1 pr-0 pt-0 pb-0 justify-content-between text-muted">
                                      <% end %>
                                      
                                      <% if slide.tagged %>
                                        <span class="d-flex"><strong><%= slide.slide_tag %></strong></span>
                                      <% else %>
                                        <span class="d-flex"><%= slide.slide_tag %></span>
                                      <% end %>
                                      

                                      <%= link_to inform_path(slide.inform), class: "my-0 d-flex px-2", style: "color: grey; font-size: 20px;border: 1px solid grey; border-radius: 6px;text-decoration: none;", local: true  do %>
                                          <span>i</span>
                                        <% end %>

                                      </div>
                                      <div class="card-body p-1">
                                        <div class="cover <%= "#{slide.covered ? "alert alert-secondary" : "alert alert-light"}" %> p-2">
                                          <% unless get_slides_samples(slide).empty? %>
                                            <% get_slides_samples(slide).each do |sample| %>
                                              <% if slide.colored %>
                                                <div class="mb-2" style="background-color: <%= get_color(sample) %>; border-radius: 3px;">
                                              <% else %>
                                                <div class="mb-2">
                                              <% end %>
                                                <span class="p-1"><strong><%= sample.sample_tag %> <%= sample.name == "Extendido" ? "Ext" : "" %></strong></span>
                                                <p class="m-0 p-1"><%= sample.organ_code %></p>
                                                <p class="m-0 p-1"><%= sample.description %></p>
                                              </div>
                                            <% end %>
                                          <% end %>

                                          <% unless get_slides_blocks(slide).empty? %>
                                            <% get_slides_blocks(slide).each do |block| %>
                                              <% if slide.colored %>
                                                <div class="mb-2" style="background-color: <%= get_color(block) %>; border-radius: 3px;">
                                              <% else %>
                                                <div class="mb-2">
                                              <% end %>
                                                <span class="p-1"><strong><%= block.block_tag %></strong></span>
                                                <p class="m-0 p-1"><%= block.organ_code %></p>
                                                <p class="m-0 p-1"><%= block.description %></p>
                                              </div>
                                            <% end %>
                                          <% end %>
                                        </div>                          

                                        <%= render partial: "slides/list-slides-controls", locals: { slide: slide } %>
                                      </div>
                                    </div>
                                  </div>
                                <% end %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <br>
        <%= link_to 'New Slide', new_slide_path %>
      </div>
    </div>
  </div>

</div>

