<div class="contanier">
  <div class="row">
    <div class="col-8 col-lg-8 mx-auto">
      <h1>Admins de Hipodecos</h1>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Cellular</th>
            <th>Dirección</th>
            <th>God mode</th>
            <th>Reports only</th>
          </tr>
        </thead>

        <tbody>
          <% @admins.each do |admin| %>
            <tr>
              <td scope="col"><%= admin.name %></td>
              <td><%= admin.email %></td>
              <td><%= admin.tel %></td>
              <td><%= admin.cel %></td>
              <td><%= admin.address %></td>
              <td><%= admin.god_mode %></td>
              <td><%= admin.reports_only %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
    </div>
  </div>
</div>