<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @admin.tel %>
</p>

<p>
  <strong>Cel:</strong>
  <%= @admin.cel %>
</p>

<p>
  <strong>Address:</strong>
  <%= @admin.address %>
</p>

<p>
  <strong>God mode:</strong>
  <%= @admin.god_mode %>
</p>

<p>
  <strong>Reports only:</strong>
  <%= @admin.reports_only %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
