<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-4">
      <%= will_paginate @invoices, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      <h1>Facturas</h1>

      <table class="table-striped dense">
        <thead>
          <tr>
            <th>Factura</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Fecha exp.</th>
            <th>Cliente</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Por</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @invoices.each do |invoice| %>
            <tr>
              <td><%= invoice.invoice_code %></td>
              <td><%= invoice.init_date.strftime("%d/%m/%Y") %></td>
              <td><%= invoice.final_date.strftime("%d/%m/%Y") %></td>
              <td><%= invoice.invoice_date.strftime("%d/%m/%Y") %></td>
              <td><%= Entity.where(id: invoice.entity_id).first.try(:initials) %></td>
              <td><%= invoice.inf_type %></td>
              <td><%= number_to_currency(invoice.value, precision: 0, delimiter: '.') %></td>
              <td><%= User.where(id: invoice.user_id).first.try(:first_name) %></td>
              <td><%= link_to 'Detalles', show_sale_report_path(id: invoice.entity_id, init_date: invoice.init_date.strftime("%d-%m-%Y"), final_date: invoice.final_date.strftime("%d-%m-%Y"), inf_type: invoice.inf_type, invoice_code: invoice.invoice_code) %></td>
              <td><%= link_to 'Editar', edit_invoice_path(invoice) %></td>
              <td><%= link_to 'Borrar', invoice, method: :delete, data: { confirm: '¿Confirmas la operación?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
