<p id="notice"><%= notice %></p>

<h1>Citocodes</h1>

<table>
  <thead>
    <tr>
      <th>Admin</th>
      <th>Cito code</th>
      <th>Description</th>
      <th>Result type</th>
      <th>Score</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @citocodes.each do |citocode| %>
      <tr>
        <td><%= citocode.admin_id %></td>
        <td><%= citocode.cito_code %></td>
        <td><%= citocode.description %></td>
        <td><%= citocode.result_type %></td>
        <td><%= citocode.score %></td>
        <td><%= citocode.order %></td>
        <td><%= link_to 'Show', citocode %></td>
        <td><%= link_to 'Edit', edit_citocode_path(citocode) %></td>
        <td><%= link_to 'Destroy', citocode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Citocode', new_citocode_path %>
