<% if script.errors.any? %>
  <%= render "shared/error_messages", target: script %>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-12">
      <%= form_with model: [@automatic, @script] do |form| %>
        <% if @automatic.auto_type == "macro" %>
          <div class="row">
            <div class="col-2 col-lg-2">
              <div class="form-group">
                <%= form.label "Modelo a crear" %>
                <%= form.select(:script_type, options_for_select([['+1 Rec', 'rec'], ['+1 Bloque', 'blo'], ['+1 Corte', 'cor'], ['+1 Ext', 'ext']], @script.script_type), {  }, class: "form-control input") %>
              </div>

              <div class="form-group">
                <%= form.label "Fragmentos (solo para Bloques Cortes o Extendidos)" %>
                <%= form.number_field :param1, class: "form-control input" %>
              </div>

              <div class="form-group">
                <!-- <%= form.label "Órgano" %> -->
                <!-- <%= form.text_field :organ, class: "form-control input" %> -->
                <%= form.collection_select(:organ, Organ.all, :organ, :organ, {selected: @selected, include_blank: true, prompt: 'Seleccione órgano'}, { class: "form-control input" }) %>
              </div>

                <!-- <%= form.hidden_field :param2, value: 0 %> -->

              <div class="form-group">
                <%= form.label "Orden de ejecución (importante)" %>
                <%= form.number_field :script_order, class: "form-control input" %>
              </div>
            </div>

            <div class="col-10 col-lg-10">
              <div class="form-group">
                <%= form.label "Descripción (Recipientes, Bloques y Cortes)" %>
                <%= form.text_area :description, rows: 14, class: "form-control input" %>
              </div>
              <div class="actions">
                <%= form.submit "Guardar", class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
        <% if @automatic.auto_type == "micro" %>
          <div class="row">
            <div class="col-2 col-lg-2">
              <div class="form-group">
                <%= form.label "Órgano" %>
                <%= form.collection_select(:organ, Organ.all, :organ, :organ, {selected: @selected, include_blank: true, prompt: 'Seleccione órgano'}, { class: "form-control input" }) %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <%= form.label "Descripción Micro" %>
                <%= form.text_area :description, rows: 10, class: "form-control input" %>
              </div>
            </div>
            <div class="col-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <%= form.label "Diagnóstico" %>
                <%= form.text_area :diagnostic, rows: 10, class: "form-control input" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-lg-6">
              <div class="form-group">
                <%= form.label "Código PSS" %>
                <%= form.collection_select(:pss_code, diagcodes, :pss_code, :description, { prompt: 'Seleccione código'}, { class: "form-control input" }) %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-2 col-lg-2">
              <div class="actions">
                <%= form.submit "Guardar", class: "btn btn-primary" %>
              </div>
            </div>
            
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

