<h1>Nuevo automático para descripción <%= @automatic.auto_type %> de </h1>
<h1><%= @automatic.organ %> con nombre <%= @automatic.title %></h1>

<%= render 'form', script: @script, automatic: @automatic, diagcodes: @diagcodes %>

<br>
<%= link_to automatic_path(@automatic) do %>
	Volver a automático <%= @automatic.title %>
<% end %>