<div class="contanier">
  <div class="row">
    <div class="col-sm-4 mx-auto">
      <h2>Editar <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label "Nombre" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "Nombre", class: "form-control"  %>
        </div>

        <div class="form-group">
          <%= f.label "Teléfono" %><br />
          <%= f.text_field :tel, autocomplete: "Teléfono", class: "form-control"  %>
        </div>

        <div class="form-group">
          <%= f.label "Celular" %><br />
          <%= f.text_field :cel, autocomplete: "Celular", class: "form-control"  %>
        </div>

        <div class="form-group">
          <%= f.label "Dirección" %><br />
          <%= f.text_field :address, autocomplete: "Dirección", class: "form-control"  %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Actualizar", class: "btn btn-primary btn-block mb-3" %>
        </div>
      <% end %>

      <h3>Borrar mi cuenta</h3>

      <p>¿No estas contento? <%= button_to "Borrar mi cuenta", registration_path(resource_name), data: { confirm: "¿Confirmar acción?" }, method: :delete, class: "btn btn-danger btn-block mb-3" %></p>

      <%= link_to "Vovler", :back %>

    </div>
  </div>
</div>