<p id="notice"><%= notice %></p>

<p>
  <strong>Organ:</strong>
  <%= @template.organ %>
</p>

<p>
  <strong>Title:</strong>
  <%= @template.title %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
