<%= form_with(model: automatic, local: true) do |form| %>
  <% if automatic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(automatic.errors.count, "error") %> prohibited this automatic from being saved:</h2>

      <ul>
      <% automatic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 col-xl-4 mx-auto">
        <div class="form-group">
          <!-- <%= form.label "Órgano" %> -->
          <!-- <%= form.text_field :organ, class: "form-control input" %> -->
          <%= form.collection_select(:organ, Organ.all, :organ, :organ, {selected: @selected, include_blank: true, prompt: 'Seleccione órgano'}, { class: "form-control input" }) %>
        </div>

        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title, class: "form-control input" %>
        </div>

        <div class="actions">
          <%= form.submit "Guardar", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

  
<% end %>
