<%= form_with(model: automatic, local: true) do |form| %>
  <% if automatic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(automatic.errors.count, "error") %> prohibited this automatic from being saved:</h2>

      <ul>
      <% automatic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Tipo de automático" %>
    <%= form.select(:auto_type, options_for_select([['Micro', 'micro'], ['Macro', 'macro']], @automatic.auto_type), { }, class: "form-control input", autofocus: true) %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control input" %>
  </div>

  <div class="form-group">
    <%= form.collection_select(:organ, Organ.all.order(organ: :asc), :organ, :organ, {selected: @selected, include_blank: true, prompt: 'Seleccione órgano'}, { class: "form-control input" }) %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
  </div>

  
<% end %>
