<div class="container">
  <div class="row">
    <div class="col-4 col-lg-4 col-xl-4 mx-auto">

		<h1>Nuevo Autom치tico para <%= type %></h1>

		<%= render 'form', automatic: automatic %>

		<% if @automatic.auto_type == "micro" %>
			<%= link_to 'Volver a Autom치ticos para Micro', automatics_index_micro_path %>
		<% end %>
		<% if @automatic.auto_type == "macro" %>
			<%= link_to 'Volver a Autom치ticos para Macro', automatics_index_macro_path %>
		<% end %>
		<% if @automatic.auto_type == "cito" %>
			<%= link_to 'Volver a Autom치ticos para Cito', automatics_index_cito_path %>
		<% end %>

    </div>
  </div>
</div>
