<% if get_nomen(block.block_tag) == "A" || get_nomen(block.block_tag) == "A1" %>
  <tr class="inclusion-inform p-0 m-0">
    <td class="m-0 p-0"><strong><span class="badge badge-dark"><%= block.inform.tag_code %></strong></span></td>
    <td class="m-0 p-0"></td>
    <td class="m-0 p-0"></td>
    <td class="m-0 p-0"><span class="badge badge-dark"><strong><%= block.inform.blocks.count %></strong></span></td>
  </tr>
<% end %>
<tr>
  <td class="m-0 p-0"><%= block.block_tag %></td>
  <td class="m-0 p-0">
    <span class="d-flex pt-2 mr-1 badge badge-primary">
      <%= sample.fragment %>
    </span>
  </td>
  <td class="m-0 p-0">
    <% if sample.included %>
      <span class="d-flex pt-2 mr-1 badge badge-<%= block.fragment == sample.fragment ? "success" : "warning" %>">
        <%= block.fragment %>
      </span>
    <% else %>
      <span class="d-flex pt-2 mr-1 badge badge-<%= block.fragment == sample.fragment ? "success" : "danger" %>">
        <%= block.fragment %>
      </span>
    <% end %>
  </td>
  <td class="m-0 p-0">
    <%= render partial: "inclusion_blocks/inclusion-block-controls", locals: { block: block, sample: sample } %>
  </td>
</tr>