<div class="container">
  <div class="row">
    <div class="col-8 col-lg-8 mx-auto">
      <%= form_with(model: entity, local: true) do |form| %>

      <% if entity.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(entity.errors.count, "errores") %> impidieron guardar esta IPS:</h2>

          <ul>
          <% entity.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <div class="row">
        <div class="col-6 col-lg-6 mx-auto">
          <div class="form-group">
            <%= form.label "Nombre" %>
            <%= form.text_field :name, class: "form-control form-control-lg input" %>
          </div>

          <div class="form-group">
            <%= form.label "Siglas" %>
            <%= form.text_field :initials, class: "form-control form-control-lg input" %>
          </div>

          <div class="form-group">
            <%= form.label "Código IPS" %>
            <%= form.text_field :code, class: "form-control form-control-lg input" %>
          </div>

          <div class="form-group">
            <%= form.label "Nombre del gerente" %>
            <%= form.text_field :mgr_name, class: "form-control form-control-lg input" %>
          </div>

          <div class="form-group">
            <%= form.label "Email corporativo" %>
            <%= form.text_field :mgr_email, class: "form-control form-control-lg input" %>
          </div>

          <div class="form-group">
            <%= form.label "Teléfono de contacto" %>
            <%= form.text_field :mgr_tel, class: "form-control form-control-lg input" %>
          </div>
        </div>
        <div class="col-12 col-lg-6 mx-auto">
          <div class="form-group">
            <%= form.label "Celular de contacto" %>
            <%= form.text_field :mgr_cel, class: "form-control form-control-lg input" %>
          </div>

          <div class="form-group">
            <%= form.label "Municipio" %>
            <%= form.text_field :municipality, class: "form-control form-control-lg input" %>
          </div>

          <div class="form-group">
            <%= form.label "Departamento" %>
            <%= form.text_field :department, class: "form-control form-control-lg input" %>
          </div>

          <div class="form-group">
            <%= form.label "Dirección de correspondencia" %>
            <%= form.text_field :address, class: "form-control form-control-lg input" %>
          </div>

          <div class="form-group">
            <%= form.label "Tipo de entidad" %>
            <%= form.select(:entype, options_for_select([['Privada', 'Privada'], ['Pública', 'Publica']], @entity.entype), { include_blank: true }, class: "form-control form-control-lg input") %>
          </div>

          <div class="form-group">
            <%= form.label "Tabla de tarifas" %>
            <%= form.select :rate_id, Rate.pluck(:name, :id), {prompt:"Seleccione tabla de tarifas"}, class: "form-control form-control-lg input" %>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
          <div class="actions">
            <%= form.submit "Guardar", class: "btn btn-primary btn-block" %>
          </div>
        </div>
      </div>

      <% end %>

    </div>
  </div>
</div>
