<div class="container-fluid">
  <div class="row">
    <div class="col-10 col-lg-10 mx-auto">

      <h1>Listado de IPS</h1>

      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Siglas</th>
            <th>Tipo de IPS</th>
            <th>Tarifa</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @entities.each do |entity| %>
            <tr>
              <td><%= entity.code %></td>
              <td><%= entity.name %></td>
              <td><%= entity.initials %></td>
              <td><%= entity.entype %></td>
              <td><%= Rate.where(id: entity.rate_id).first.try(:name) %></td>
              <td><%= link_to 'Detalles', entity %></td>
              <td><%= link_to 'Editar', edit_entity_path(entity) %></td>
              <td><%= link_to 'Borrar', entity, method: :delete, data: { confirm: '¿Confirmas la operación?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

    </div>
  </div>
</div>
