<%= form_with(model: value, local: true) do |form| %>
  <% if value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(value.errors.count, "error") %> prohibited this value from being saved:</h2>

      <ul>
      <% value.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codeval_id %>
    <%= form.text_field :codeval_id %>
  </div>

  <div class="field">
    <%= form.label :cost_id %>
    <%= form.text_field :cost_id %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :admin_id %>
    <%= form.number_field :admin_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
