<div class="container cytologies-out">
  <div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
    	<h4>Sugerencias:</h4>
    	<% inform.cytologies.each_with_index do |cytology, n| %>
    	  <div class="alert alert-dark">
    	  	<div class="d-flex flex-row justify-content-between align-items-center">
    	  	  <strong>
    	  	    Sugerencia <%= n + 1 %> de <%= inform.cytologies.count %> para <%= inform.tag_code %>, creada el <%= cytology.created_at.strftime('%d/%m/%Y') %>
    	  	  </strong>
    	  	</div>
    	    
    	  </div>
    	  <% if edit_cytology == cytology %>
    	    <%= form_with model: cytology do |f| %>
    	      <div class="field">
    	        <%= f.label "Sugerencia:" %>
    	        <%= f.text_area :suggestion, value: cytology.suggestion, rows: 8, class: "form-control input" %>
    	        <%= f.hidden_field :edit_cy_status, value: edit_cy_status %>
    	      </div>
    	      <div class="actions">
    	        <%= f.submit "Guardar", class: "btn btn-warning btn-sm mt-2" %>
    	      </div>
    	    <% end %>
    	  <% else %>
    	    <p>
    	      <%= link_to edit_cytology_path(cytology), remote: true do %>
    	      <span style="font-size: 25px;color: black;border: 1px solid black; border-radius: 3px;padding-left: 5px;padding-right: 5px;text-decoration: none;">&#9998;</span>
    	      <% end %>
    	      <span><%= cytology.suggestion %>
    	    <div>Resultado: <%= cytology.result %></div></span>
    	    </p>
    	  <% end %>

    	  <% cytology.objections.each do |objection| %>
    	    <div>
    	      <span class="badge badge-<%= objection.closed == false ? "danger" : "warning" %>">No conformidad: <%= objection_title(objection.obcode_id) %></span>
    	    </div>
    	    
    	    <% if edit_objection_id == nil %>
    	      <div class="d-flex flex-column">
    	        <span class="text-muted objection-description">
    	          <%= objection.description %>
    	        </span>
    	      </div>
    	      <% unless objection.closed %>
    	        <%= form_with url: cytologies_review_path, method: "post" do |form| %>
    	          <div class="form-group">
    	            <%= form.submit "Revisar", class: "btn btn-outline-danger mx-1 my-1" %>
    	            <%= form.hidden_field :objection_id, value: objection.id %>
    	            <%= form.hidden_field :cytology_id, value: cytology.id %>
    	          </div>
    	        <% end %>
    	      <% end %>
    	    <% else %>
    	      <% if edit_objection_id == objection %>
    	        <%= form_with url: cytologies_anotate_path, method: "post" do |form| %>
    	          <div class="form-group">
    	            <%= form.label "Historial:" %>
    	            <%= form.text_area :description, value: objection.description, rows: 10, class: "form-control input disabled" %>
    	          </div>
    	          <div class="form-group">
    	            <%= form.label "Acción de mejora:" %>
    	            <%= form.text_area :new_description, rows: 2, class: "form-control input" %>
    	          </div>
    	          <div class="actions">
    	            <%= form.submit "Anotar", class: "btn btn-warning mx-1 my-1" %>
    	            <%= form.hidden_field :objection_id, value: objection.id %>
    	            <%= form.hidden_field :cytology_id, value: cytology.id %>
    	          </div>
    	        <% end %>
    	      <% end %>
    	    <% end %>
    	    
    	  <% end %>
    	<% end %>
    </div>
  </div>
</div>

