<div class="blocks">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12">
        <div class="card bg-light mx-2 mb-3">
          <div class="card-header pl-1 pr-0 pt-0 pb-0 d-flex justify-content-between">
            <span><strong>Bloques</strong></span>
            <%= form_with url: execute_templates_create_blocks_path, method: "get", local: false do |form| %>
              <div class="actions">
                <%= form.submit "Procesar Cassettes", class: "btn btn-outline-dark mx-1 my-1" %>
                <%= form.hidden_field :inform_id, value: inform.id %>
              </div>
            <% end %>
          </div>
          <div class="card-body">
            <div class="card-deck">
              <% @blocks.each do |block| %>
                <% sample = samplesc.where(sample_tag: block.block_tag).first %>
                <div class="col-6 col-lg-6 col-xl-6 d-flex flex-row">
                  <% if !sample.included %>
                    <div class="col-6 col-lg-6">
                      <div class="card mx-2 my-2 pb-0" style="background-color: <%= get_color(sample) %>">
                        <div class="card-header pl-1 pr-0 pt-0 pb-0 d-flex justify-content-start">
                          <span class="d-flex "><strong><%= sample.sample_tag %>: </strong></span>
                          <span class="d-flex pt-2 badge badge-<%= block.fragment == sample.fragment ? "success" : "danger" %>">
                            <strong><%= sample.fragment %>F</strong>
                          </span>
                        </div>
                        <div class="card-body p-1 m-1">
                          <h6 class="card-title my-0">Órgano: <%= sample.organ_code %></h6>
                          <%= sample.description %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  
                  <% if !sample.included %>
                    <div class="col-6 col-lg-6">
                  <% else %>
                    <div class="col-12 col-lg-12">
                  <% end %>
                  
                    <div class="card mx-2 my-2 pb-0 <%= block.verified ? "border-success" : "" %>">
                      <div class="card-header pl-1 pr-0 pt-0 pb-0 d-flex justify-content-between">
                        <div class="d-flex justify-content-start">
                          <span class="d-flex "><strong><%= block.block_tag %>: </strong></span>
                          <% if sample.included %>
                            <span class="d-flex"><strong><%= block.fragment %>F</strong></span>
                          <% else %>
                            <span class="d-flex pt-2 mb-3 badge badge-<%= block.fragment == sample.fragment ? "success" : "danger" %>">
                              <strong><%= block.fragment %>F</strong>
                            </span>
                          <% end %>
                        </div>
                        <%= link_to block, method: :delete, remote: true, class: "mx-2 my-2 px-2", style: "color: grey; font-size: 20px;border: 1px solid grey; border-radius: 3px;text-decoration: none;" do %>
                          <span>&times;</span>
                        <% end %>
                      </div>
                      <div class="card-body p-1 m-1">
                        <h6 class="card-title my-0">Órgano: <%= block.organ_code %></h6>
                        <% if !sample.included %>
                          <div id="controls-block-<%= block.block_tag %>" class="mb-2">
                            <%= render partial: "blocks/block-controls", locals: { inform: inform, block: block, sample: sample } %>
                          </div>
                        <% end %>
                        <% block.objections.each do |objection| %>
                          <% if edit_objection_id == nil %>
                            <div class="d-flex flex-column">
                              <span class="px-1 badge badge-<%= objection.closed == false ? "danger" : "warning" %>">
                                <%= Obcode.where(id: objection.obcode_id).first.try(:title) %>
                              </span>
                              <span class="text-muted objection-description">
                                <%= objection.description %>
                              </span>
                            </div>
                            <% unless objection.closed %>
                              <%= form_with url: execute_templates_review_block_path, method: "get", local: false do |form| %>
                                <div class="actions">
                                  <%= form.submit "Revisar", class: "btn btn-outline-danger mx-1 my-2" %>
                                  <%= form.hidden_field :block_id, value: block.id %>
                                  <%= form.hidden_field :objection_id, value: objection.id %>
                                </div>
                              <% end %>
                            <% end %>
                          <% else %>
                            <% if edit_objection_id == objection.id %>
                              <%= form_with url: execute_templates_anotate_block_path, method: "get", local: false do |form| %>
                                <div class="field">
                                  <%= form.label "Acción de mejora:" %>
                                  <%= form.text_area :description, value: objection.description, class: "form-control input disabled" %>
                                </div>
                                <div class="field">
                                  <%= form.label "Acción de mejora:" %>
                                  <%= form.text_area :new_description, class: "form-control input" %>
                                </div>
                                <div class="field">
                                  <%= form.label "Fragmentos:" %>
                                  <%= form.number_field :fragment, value: block.fragment, class: "form-control input" %>
                                </div>
                                <div class="actions">
                                  <%= form.submit "Anotar", class: "btn btn-outline-warning mx-1 my-1" %>
                                  <%= form.hidden_field :block_id, value: block.id %>
                                  <%= form.hidden_field :objection_id, value: objection.id %>
                                </div>
                              <% end %>
                            <% end %>
                          <% end %>
                        <% end %>
                        <% if block.verified %>
                          <span><strong>Bloque verificado por: <%= current_user.initials %></strong></span>
                        <% end %>
                        <% if block.verified %>
                          <div id="controls-block-<%= block.block_tag %>">
                            <%= render partial: "blocks/block-slide-controls", locals: { inform: inform, block: block, sample: sample } %>
                          </div>
                        <% end %>
                        Creado hace <%= time_ago_in_words(block.created_at) %>
                      </div>
                    </div>
                  </div>
                </div>
                
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if false %>
      <div class="row">
        <div class="col-12 col-lg-12 mx-auto">
          <div class="card bg-light mx-2 mb-3">
            <div class="card-header pl-1 pr-0 pt-0 pb-0">
              <strong>Lista de bloques</strong>
            </div>
            <div class="card-body">
              <table class="table table-hover table-borderless">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Órgano</th>
                    <th>Frag.</th>
                    <th>Último usuario</th>
                    <th>Verif.</th>
                    <th scope="3">Controles</th>
                  </tr>
                </thead>
                <tbody>
                  <% inform.blocks.each do |block| %>
                    <% sample = samplesc.where(sample_tag: block.block_tag).first %>
                    <% if !sample.included %>
                      <tr>
                        <td><%= sample.sample_tag %></td>
                        <td><%= sample.organ_code %></td>
                        <td>
                          <% if sample.included %>
                            <span class="d-flex pt-2 badge badge-<%= block.fragment == sample.fragment ? "success" : "warning" %>">
                              <%= sample.fragment %>
                            </span>
                          <% else %>
                            <span class="d-flex pt-2 badge badge-<%= block.fragment == sample.fragment ? "success" : "danger" %>">
                              <%= sample.fragment %>
                            </span>
                          <% end %>
                          
                        </td>
                        <td><%= User.where(id: sample.user_id).first.try(:email) %></td>
                        <td></td>
                      </tr>
                    <% end %>
                    

                    <tr class="<%= block.verified ? "table-success" : "" %>">
                      <% if sample.included %>
                        <td><%= block.block_tag %></td>
                      <% else %>
                        <td></td>
                      <% end %>
                      
                      <td><%= block.organ_code %></td>
                      <td>
                        <% if sample.included %>
                          <span class="d-flex pt-2 badge badge-<%= block.fragment == sample.fragment ? "success" : "warning" %>">
                            <%= block.fragment %>
                          </span>
                        <% else %>
                          <span class="d-flex pt-2 badge badge-<%= block.fragment == sample.fragment ? "success" : "danger" %>">
                            <%= block.fragment %>
                          </span>
                        <% end %>
                      </td>
                      
                      <td><%= User.where(id: block.user_id).first.try(:email) %></td>
                      <td><%= block.verified == true ? 'Si' : 'No' %></td>
                      <% if !sample.included %>
                        <td>
                          <%= render partial: "blocks/block-controls", locals: { inform: inform, block: block, sample: sample } %>
                        </td>
                      <% end %>
                      <% if block.verified %>
                        <td style="width:230px;">
                          <%= render partial: "blocks/block-slide-controls", locals: { inform: inform, block: block, sample: sample } %>
                        </td>
                          
                      <% end %>


                      
                    </tr>
                    <% block.objections.each do |objection| %>
                      <tr class="<%= block.verified ? "table-success" : "" %>" >
                        <td>
                          <span class="badge badge-<%= objection.closed == false ? "danger" : "warning" %>">
                            No conformidad: 
                          </span>
                        </td>
                        <td>
                          <span class="badge badge-<%= objection.closed == false ? "danger" : "warning" %>">
                            <%= objection_title(objection.obcode_id) %>
                          </span>
                          <% if edit_objection_id == nil %>
                            <div class="d-flex flex-column">
                              <span class="text-muted objection-description">
                                <%= objection.description %>
                              </span>
                            </div>
                            <% unless objection.closed %>
                              <%= form_with url: execute_templates_review_block_path, method: "get", local: false do |form| %>
                                <div class="actions">
                                  <%= form.submit "Revisar", class: "btn btn-outline-danger mx-1 my-1" %>
                                  <%= form.hidden_field :block_id, value: block.id %>
                                  <%= form.hidden_field :objection_id, value: objection.id %>
                                </div>
                              <% end %>
                            <% end %>
                          <% else %>
                            <% if edit_objection_id == objection.id %>
                              <%= form_with url: execute_templates_anotate_block_path, method: "get", local: false do |form| %>
                                <div class="field">
                                  <%= form.label "Historial:" %>
                                  <%= form.text_area :description, value: objection.description, class: "form-control input disabled" %>
                                </div>
                                <div class="field">
                                  <%= form.label "Acción de mejora:" %>
                                  <%= form.text_area :new_description, class: "form-control input" %>
                                </div>
                                <div class="field">
                                  <%= form.label "Fragmentos:" %>
                                  <%= form.number_field :fragment, value: block.fragment, class: "form-control input" %>
                                </div>
                                <div class="actions">
                                  <%= form.submit "Anotar", class: "btn btn-outline-warning mx-1 my-1" %>
                                  <%= form.hidden_field :block_id, value: block.id %>
                                  <%= form.hidden_field :objection_id, value: objection.id %>
                                </div>
                              <% end %>
                            <% end %>
                          <% end %>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    
  </div>
</div>
