<div class="codevals">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12">
        <div class="card bg-light mx-2 mb-3">
          <div class="card-header pl-1 pr-0 pt-0 pb-0">
            <strong>CUPS</strong>
          </div>
          <div class="card-body">
            <div class="card-deck">
              <% accumulated_value = 0 %>
              <% inform.studies.each do |study| %>
                <% if edit_study_form == study %>
                  <div class="col-3 col-lg-3">
                    <%= form_with model: [inform, edit_study_form] do |form| %>
                      <div class="card mb-2">
                        <div class="card-header d-flex flex-row align-items-center justify-content-between px-1">
                          <span class="d-flex"><strong>Editar CUP</strong></span>
                          <div class="form-group m-0">
                            <%= form.collection_select(:codeval_id, Codeval.all, :id, :code, { prompt: 'CUPS'}, { class: "form-control input" }) %>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="row d-flex flex-row justify-content-around">
                            <div class="col-12 col-lg-6 col-xl-4">
                              <div class="form-group">
                                <%= form.number_field :factor, value: edit_study_form.factor, class: "form-control input d-flex" %>
                              </div>
                            </div>
                            <div class="actions">
                              <%= link_to study_path(study), remote: true, class: "btn btn-secondary" do %>
                                x
                              <% end %>
                            </div>
                            <div class="actions">
                              <%= form.submit "Guardar", class: "btn btn-warning" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% else %>
                  <div class="col-3 col-lg-3">
                    <div class="card mb-2">
                      <div class="card-header p-0 m-0 d-flex justify-content-between align-items-center">
                        <%= link_to edit_study_path(study), remote: true, class: "d-flex my-0 py-0" do %>
                          <span style="font-size: 25px;color: grey;border: 1px solid grey; border-radius: 3px;padding-left: 5px;padding-right: 5px;text-decoration: none;">&#9998;</span>
                        <% end %>
                        <strong><%= Codeval.find(study.codeval_id).code %> x <%= study.factor %></strong>
                        <%= link_to study, method: :delete, remote: true, class: "mx-2 my-2 px-2", style: "color: grey; font-size: 20px;border: 1px solid grey; border-radius: 3px;text-decoration: none;" do %>
                          <span>&times;</span>
                        <% end %>
                      </div>
                      <div class="card-body p-0 m-0 d-flex flex-column">
                        <span>Tarifa: <%= get_rate_name(study) %></span>
                        <span><strong>Valor total: <%= number_to_currency(get_price(study) * study.factor.to_d, precision: 0, delimiter: '.') %></strong></span>
                        <% accumulated_value = accumulated_value + (get_price(study) * study.factor.to_d) %>
                      </div>
                    </div>
                  </div>    
                <% end %>
              <% end %>
              <div class="col-3 col-lg-3">
                <%= form_with model: [inform, inform.studies.build] do |form| %>
                  <div class="card mb-2">
                    <div class="card-header d-flex flex-row align-items-center justify-content-between px-1 py-1">
                      <span class="d-flex"><strong>Nuevo CUP</strong></span>
                      <div class="form-group m-0">
                        <%= form.select :codeval_id, Codeval.pluck(:code, :id), {prompt:"CUPS"}, class: "form-control d-flex mb-0" %>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row d-flex flex-row justify-content-around">
                        <div class="col-12 col-lg-6 col-xl-4">
                          <div class="form-group">
                            <%= form.number_field :factor, value: 1, class: "form-control input d-flex" %>
                          </div>
                        </div>
                        
                        <div class="actions">
                          <%= form.submit "+", class: "btn btn-outline-dark" %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <span class="d-flex justify-content-end"><strong>Total CUPS: <%= number_to_currency(accumulated_value, precision: 0, delimiter: '.') %></strong></span>
          </div>
        </div>     
      </div>
    </div>
  </div>
</div>
