<div class="cytologies">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12">
        <div class="card bg-light mx-2 mb-3">
          <div class="card-header pl-1 pr-0 pt-0 pb-0">
            <strong>Citología</strong>
          </div>
          <div class="card-body">
            <div class="card-deck">
              <% inform.cytologies.each do |cytology| %>
                <% if edit_cytology_form == cytology %>
                  <div class="col-12 col-lg-12 col-xl-12">
                    <%= form_with model: cytology do |form| %>
                      <%= render "shared/error_messages", target: cytology %>
                      <%= form.hidden_field :edit_status, value: true %>
                      <div class="card mb-2">
                        <div class="card-header d-flex flex-row align-items-center justify-content-between px-1">
                          <span class="d-flex"><strong>Editar citología</strong></span>
                          
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col-12 col-lg-3 col-xl-3">
                              <div class="form-group">
                                <%= form.label "Fecha toma muestra:" %>
                                <%= form.date_field :sample_date, class: "form-control input" %>
                              </div>
                            </div>
                            <div class="col-12 col-lg-3 col-xl-3">
                              <div class="form-group">
                                <%= form.label "última menst:" %>
                                <%= form.text_field :last_mens, class: "form-control input" %>
                              </div>
                            </div>
                            <div class="col-12 col-lg-3 col-xl-3">
                              <div class="form-group">
                                <%= form.label "Cita anterior:" %>
                                <%= form.text_field :prev_appo, class: "form-control input" %>
                              </div>
                            </div>
                            <div class="col-12 col-lg-3 col-xl-3">
                              <div class="form-group">
                                <%= form.label "Resultado:" %>
                                <%= form.text_field :result, class: "form-control input" %>
                              </div>
                            </div>
                            <div class="col-12 col-lg-3 col-xl-3">
                              <div class="form-group">
                                <%= form.label "Emb:" %>
                                <%= form.number_field :pregnancies, class: "form-control input" %>
                              </div>
                            </div>
                            <div class="col-12 col-lg-3 col-xl-3">
                              <div class="form-group">
                                <%= form.label "Planif:" %>
                                <%= form.number_field :birth_control, class: "form-control input" %>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 col-lg-3 col-xl-3">
                              <div class="actions">
                                <%= form.submit "Guardar", class: "btn btn-warning" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% else %>
                  <div class="col-12 col-lg-12 p-0">
                    <div class="card mb-2">
                      <div class="card-header p-0 m-0 d-flex justify-content-between align-items-center">
                        <%= link_to edit_cytology_path(cytology), remote: true, class: "d-flex my-0 py-0" do %>
                          <span style="font-size: 25px;color: grey;border: 1px solid grey; border-radius: 3px;padding-left: 5px;padding-right: 5px;text-decoration: none;">&#9998;</span>
                        <% end %>
                        <span><strong>Última menstruación:</strong> <%= cytology.last_mens %> - <strong>Fecha de cita anterior:</strong> <%= cytology.prev_appo %> - <strong>Fecha de toma de la muestra:</strong> <%= cytology.sample_date %></span>
                        <%= link_to cytology, method: :delete, remote: true, class: "mx-2 my-2 px-2", style: "color: grey; font-size: 20px;border: 1px solid grey; border-radius: 3px;text-decoration: none;" do %>
                          <span>&times;</span>
                        <% end %>
                      </div>
                      <div class="card-body p-1 m-0 d-flex flex-column">
                        <p></p>
                        <p><span><strong>Número de embarazos:</strong> <%= cytology.pregnancies %> <strong>Desde que edad planifica:</strong> <%= cytology.birth_control %> - <strong>Resultado:</strong> <%= cytology.result %></span></p>
                        
                        <p><strong>Sugerencias:</strong> <%= cytology.suggestion %></p>

                        <% cytology.objections.each do |objection| %>
                          <% if edit_objection_id == nil %>
                            <div class="d-flex flex-column">
                              <span class="px-1 badge badge-<%= objection.closed == false ? "danger" : "warning" %>">
                                <%= Obcode.where(id: objection.obcode_id).first.try(:title) %>
                              </span>
                              <span class="text-muted objection-description">
                                <%= objection.description %>
                              </span>
                            </div>
                            <% unless objection.closed %>
                              <%= form_with url: review_cytology_path, method: "get" do |form| %>
                                <div class="actions">
                                  <%= form.submit "Revisar", class: "btn btn-outline-danger mx-1 my-2" %>
                                  <%= form.hidden_field :cytology_id, value: cytology.id %>
                                  <%= form.hidden_field :objection_id, value: objection.id %>
                                </div>
                              <% end %>
                            <% end %>
                          <% else %>
                            <% if edit_objection_id == objection %>
                              <%= form_with url: anotate_cytology_path, method: "get" do |form| %>
                                <div class="field">
                                  <%= form.label "Acción de mejora:" %>
                                  <%= form.text_area :description, value: objection.description, class: "form-control input disabled" %>
                                </div>
                                <div class="field">
                                  <%= form.label "Acción de mejora:" %>
                                  <%= form.text_area :new_description, class: "form-control input" %>
                                </div>
                                
                                <div class="actions">
                                  <%= form.submit "Anotar", class: "btn btn-outline-warning mx-1 my-1" %>
                                  <%= form.hidden_field :cytology_id, value: cytology.id %>
                                  <%= form.hidden_field :objection_id, value: objection.id %>
                                </div>
                              <% end %>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>    
                <% end %>
              <% end %>
              <% if inform.cytologies.count < 1 %>
                <div class="col-12 col-lg-12 col-xl-12 p-0">
                  <%= form_with model: [inform, inform.cytologies.build] do |form| %>
                    <div class="card mb-2">
                      <div class="card-header d-flex flex-row align-items-center justify-content-between m-0 p-0">
                        <span class="d-flex"><strong>Nueva citología</strong></span>
                        
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12 col-lg-3 col-xl-3 d-flex align-items-center">
                            <div class="form-group">
                              <%= form.label "Fecha toma muestra:" %>
                              <%= form.date_field :sample_date, class: "form-control input" %>
                            </div>
                          </div>
                          <div class="col-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                              <%= form.label "Última menst:" %>
                              <%= form.text_field :last_mens, class: "form-control input" %>
                            </div>
                          </div>
                          <div class="col-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                              <%= form.label "Cita anterior:" %>
                              <%= form.text_field :prev_appo, class: "form-control input" %>
                            </div>
                          </div>
                          <div class="col-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                              <%= form.label "Resultado:" %>
                              <%= form.text_field :result, class: "form-control input" %>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                              <%= form.label "Emb:" %>
                              <%= form.number_field :pregnancies, class: "form-control input" %>
                            </div>
                          </div>
                          <div class="col-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                              <%= form.label "Planif:" %>
                              <%= form.number_field :birth_control, class: "form-control input" %>
                            </div>
                          </div>
                          
                        </div>
                        <div class="row">
                          <div class="col-12 col-lg-3 col-xl-3">
                            <div class="actions">
                              <%= form.submit "+", class: "btn btn-outline-dark" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
              
            </div>
          </div>
        </div>     
      </div>
    </div>
  </div>
</div>

