<h1>Diagnóstico para <%= @inform.tag_code %></h1>
<div class="row">
  <div class="col-12 col-lg-8">
    <div class="row">
      <% @inform.diagnostics.each do |diagnostic| %>
        <div class="col-12 col-lg-3">
          <div class="card text-center mt-3">
            <div class="card-header">
              <strong>Diagnóstico</strong>
            </div>
            <div class="card-body">
              <h5 class="card-title">Descripción</h5>
              <p class="card-text"><%= diagnostic.description %></p>
              <%= link_to "Editar", edit_diagnostic_path(diagnostic), class: 'btn btn-primary' %>
              <%= link_to 'Borrar', diagnostic, method: :delete, data: { confirm: '¿Confirmas la operación?' }, class: 'btn btn-primary' %>
            </div>
            <div class="card-footer text-muted">
              <p>Creada el <%= diagnostic.created_at %> por <%= User.find(diagnostic.user_id).email %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>      
  </div>
  <div class="col-12 col-lg-3 mx-auto">
    <%= form_for [@inform, @inform.diagnostics.build] do |form| %>
      <div class="form-group">
        <%= form.label "Descripción" %>
        <%= form.text_area :description, class: "form-control form-control-lg input" %>
      </div>
      
      <div class="actions">
        <%= form.submit "Agregar", class: "btn btn-primary btn-block" %>
      </div>

    <% end %>
  </div>
</div>