<div class="row">
  <% unless inform.diagnostics.length < 1 %>
    <div class="col-12 col-lg-4">
      <% inform.diagnostics.each do |diagnostic| %>
        <p>Código Patología Suescún: <%= diagnostic.pss_code %></p>
        <p>Código OMS: <%= diagnostic.who_code %></p>
        <p><%= diagnostic.description %></p>
        <div class="text-muted"><p>Por: <%= User.where(id: diagnostic.user_id).first.try(:first_name) %> <%= User.where(id: diagnostic.user_id).first.try(:last_name) %></p></div>
        <%= link_to 'Revisar', diagnostic_path(diagnostic) %>
        <%= link_to 'Editar', edit_diagnostic_path(diagnostic) %>
        <%= link_to ' Borrar', diagnostic, method: :delete, data: { confirm: '¿Confirmas la operación?' } %>
        <table>
          <tbody>
            <% diagnostic.objections.each do |objection| %>
              <tr class=<%= objection.closed == false ? "objection" : "" %> >
                <td><span class="badge badge-<%= objection.closed == false ? "danger" : "warning" %>">No conformidad: </td>
                <td><span class="badge badge-<%= objection.closed == false ? "danger" : "warning" %>"><%= objection_title(objection.obcode_id) %></td>
                <!-- <td><%= objection.description %></td> -->
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  <% end %>
  <% if inform.diagnostics.length < 1 %>
    <div class="col-12 col-lg-4">
      <table class="diagnostics">
        <thead>
          <tr>
            <th>PSS</th>
            <th>OMS</th>
            <th>Órgano</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <% getcodes(inform).each_with_index do |diag_code_id, n| %>
            <% if n < ((getcodes(inform).length / 2) + 1) %>
              <tr>
                <td><%= Diagcode.where(id: diag_code_id).first.try(:pss_code) %></td>
                <td><%= Diagcode.where(id: diag_code_id).first.try(:who_code) %></td>
                <td><%= Diagcode.where(id: diag_code_id).first.try(:organ) %></td>
                <td><%= Diagcode.where(id: diag_code_id).first.try(:description) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-lg-4">
      <table class="diagnostics">
        <thead>
          <tr>
            <th>PSS</th>
            <th>OMS</th>
            <th>Órgano</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <% getcodes(inform).each_with_index do |diag_code_id, n| %>
            <% if n > (getcodes(inform).length / 2) %>
            <tr>
              <td><%= Diagcode.where(id: diag_code_id).first.try(:pss_code) %></td>
              <td><%= Diagcode.where(id: diag_code_id).first.try(:who_code) %></td>
              <td><%= Diagcode.where(id: diag_code_id).first.try(:organ) %></td>
              <td><%= Diagcode.where(id: diag_code_id).first.try(:description) %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-lg-4">
      <%= form_for [inform, inform.diagnostics.build] do |form| %>
        <div class="form-group">
          <%= form.label "Código de diagnósticos encontrados" %>
          <%= form.select :diagcode_id, getcodes(inform).pluck(:description, :id), {prompt: "Selecciona el Dx"}, class: "form-control input" %>
        </div>

        <div class="form-group">
          <%= form.label "Código PSS" %>
          <%= form.text_area :pss_code, class: "form-control input" %>
        </div>

        <div class="form-group">
          <%= form.label "Código OMS" %>
          <%= form.text_area :who_code, class: "form-control input" %>
        </div>

        <div class="form-group">
          <%= form.label "Descripción" %>
          <%= form.text_area :description, class: "form-control form-control-lg input" %>
        </div>
        
        <div class="actions">
          <%= form.submit "Agregar", class: "btn btn-primary" %>
        </div>

      <% end %>
    </div>
  <% end %>
</div>
<div class="row">

</div>
