<div class="row">
  <div class="col-8 col-lg-8 mx-auto">
    <div class="alert alert-success">
      <%= form_for @inform do |form| %>
        <div class="row">
          <div class="col-6 col-lg-6 mx-auto">

            <div class="form-group">
              <%= form.label "Fecha de recepci贸n" %>
              <%= form.date_field :receive_date, autocomplete: "Fecha de recepci贸n", class: "form-control form-control input"  %>
            </div>

            <div class="form-group">
              <%= form.label "Fecha de entrega" %>
              <%= form.date_field :delivery_date, autocomplete: "Fecha de entrega", class: "form-control form-control input"  %>
            </div>

            <div class="form-group">
              <%= form.label "C贸digo de autorizaci贸n EPS/IPS" %>
              <%= form.text_field :prmtr_auth_code, class: "form-control form-control input" %>
            </div>
            <div class="form-group">
              <%= form.label "Factura" %>
              <%= form.text_field :invoice, class: "form-control form-control input" %>
            </div>
          </div>
          <div class="col-6 col-lg-6">
            <div class="form-group">
              <%= form.label "Estado del paciente" %>
              <%= form.select(:status, options_for_select([['Ambulatorio', '1'], ['Hospitalizado', '2']], @inform.status), { include_blank: true }, class: "form-control form-control input") %>
            </div>

            <div class="form-group">
              <%= form.label "EPS" %>
              <%= form.select :promoter_id, Promoter.pluck(:name, :id), {prompt:"Seleccione la EPS"}, class: "form-control form-control input" %>
            </div>

            <div class="form-group">
              <%= form.label "Sede IPS" %>
              <%= form.select :branch_id, Branch.pluck(:name, :id), {prompt:"Seleccione la Sede de la IPS"}, class: "form-control form-control input" %>
            </div>

            <div class="form-group">
              <%= form.label "Tipo de zona" %>
              <%= form.select(:zone_type, options_for_select([['Rural', 'R'], ['Urbano', 'U']], @inform.zone_type), { include_blank: true }, class: "form-control form-control input") %>
            </div>

            <div class="form-group">
              <%= form.label "Estado de embarazo" %>
              <%= form.select(:pregnancy_status, options_for_select([['EMB1', '1'], ['EMB2', '2'], ['EMB3', '3'], ['No Emb', '4']], @inform.pregnancy_status), { include_blank: true }, class: "form-control form-control input") %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 col-lg-4 mx-auto">
            <div class="actions">
              <%= form.submit "Guardar", class: "btn btn-primary btn-block" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>