<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">
      <h4>Informes <%= search_range %></h4>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Informe</th>
            <th>Tipo</th>
            <th>Ingreso PSS</th>
            <th>User PSS</th>
            <th>Paciente</th>
            <th>EPS</th>
            <th>Sede IPS</th>
            <th>Código Authoriz.</th>
            <th scope="1"></th>
          </tr>
        </thead>

        <tbody>
          <% informs.each do |inform| %>
            <tr>
              <td>
                <% if inform.inf_status == "anulado" %>
                  <del class="alert alert-warning">
                    <%= link_to inform  do %>
                      <%= inform.tag_code %>
                    <% end %>
                  </del>
                <% else %>
                  <%= link_to inform  do %>
                    <%= inform.tag_code %>
                  <% end %>
                <% end %>
                
              </td>
              <td><%= inform.inf_type %></td>
              <td><%= inform.receive_date.strftime('%d/%m/%Y') %></td>
              <td><%= User.where(id: inform.user_id).first.try(:first_name) %></td>
              <td>
                <%= link_to inform.patient  do %>
                  <%= inform.patient.name1 %> <%= inform.patient.name2 %> <%= inform.patient.lastname1 %> <%= inform.patient.lastname2 %>
                  <% end %>
              </td>
              <td><%= Promoter.where(id: inform.promoter_id).first.try(:initials) %></td>
              <td><%= Branch.where(id: inform.branch_id).first.try(:initials) %></td>
              <td><%= inform.prmtr_auth_code %></td>
              <% if inform.inf_status == "anulado" %>
                <td><%= link_to 'Restaurar', anulate_inform_path(inform), data: { confirm: '¿Confirmas la operación?' } %></td>
              <% else %>
                <td><%= link_to 'Anular', anulate_inform_path(inform), data: { confirm: '¿Confirmas la operación?' } %></td>
              <% end %>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
