<div id="info">
	<h3>
		<strong><%= @inform.tag_code %></strong>: <strong><%= @inform.patient.name1 %> <%= @inform.patient.name2 %> <%= @inform.patient.lastname1 %> <%= @inform.patient.lastname2 %></strong>, <strong><%= @inform.patient.age_number %> <%= @inform.patient.age_type == 'A' ? 'Años' : @inform.patient.age_type == 'M' ? 'Meses' : 'Días' %></strong>, <%= @inform.patient.id_type %>: <strong><%= @inform.patient.id_number %> </strong>, fecha: <%= @inform.receive_date.strftime('%d/%m/%Y') %>
	</h3>
</div>
<div class="inform">
	<p>Teléfono: <strong><%= @inform.patient.tel %></strong> - Celular: <strong><%= @inform.patient.cel %></strong> - Dirección: <strong><%= @inform.patient.address %> - </strong>Email: <strong><%= @inform.patient.email %></strong> - Fecha de entrega: <strong><%= @inform.delivery_date %></strong> - EPS: <strong><%= Promoter.find(@inform.promoter_id).initials %></strong> - Sede IPS: <strong><%= Branch.find(@inform.branch_id).initials %></strong> | <%= link_to 'Editar informe ' + @inform.tag_code, edit_inform_path(@inform) %></p>

	<% @inform.physicians.each do |physician| %>
	<p><strong>Médico tratante:</strong> <%= physician.name %> <%= physician.lastname %> Contactos: <strong><%= physician.tel %></strong> <strong><%= physician.cel %></strong> <strong><%= physician.email %></strong> <%= link_to '+ Doctor', new_inform_physician_path(@inform) %> | <%= link_to 'Revisar', physician %> | <%= link_to 'Borrar', physician, method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Volver a informes', informs_path %> | <%= link_to 'Previsualizar informe', preview_path %></p>
	<% end %>
</div>
<div class="container-fluid">
	<h4>Descripción Macro:</h4>
    <% @inform.recipients.each_with_index do |recipient, n| %>
      <p>
        Contenido de recipiente #<%= n + 1 %>:
        <br>
        <%= recipient.description %> Bloqueado de la siguiente manera:
        <br>
        <% Sample.where(recipient_tag: recipient.tag).each_with_index do |sample, i| %>
          <strong><%= sample.description %> <%= sample.fragment %>F - <%= get_nomen(sample.sample_tag) %></strong> 
          <br>
      </p>
      
      <% end %>
    <% end %>
    <br>
</div>
