<!-- Modal -->

<div class="modal fade bd-example-modal-xl" id="MicrosModal2" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Automáticos para Micro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-lg-6 col-xl-6">
              <table class="table table-hover select-micro">
                <thead>
                  <tr>
                    <th>Automático</th>
                  </tr>
                </thead>
                <tbody>
                  <% @automatics.each_with_index do |automatic, j| %>
                    <% if j < (@automatics.length / 2) + 1 %>
                      <tr class="m-organ-<%= Organ.where(organ: automatic.organ).first.part.gsub(/\s+/, '') %> m-0 p-0">
                        <td>
                          <span class="d-flex flex-row justify-content-between">
                            <%= automatic.title %>
                            <% automatic.scripts.each_with_index do |script, n| %>
                              <% if n == 0 %>

                                <%= form_with url: execute_templates_micro_path, method: "get" do |form| %>

                                  <div class="actions">
                                    <span class="m-0 p-0" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= "#{script.description} DX: <b>#{script.diagnostic}</b>" %>" >
                                      <%= "Opción #{n + 1}: #{script.description[0..25]}..." %>
                                    </span>
                                    <%= form.submit "#{script.pss_code}", { class: "m-0 p-0 auto-option" } %>
                                    <%= form.hidden_field :inform_id, value: @inform.id %>
                                    <%= form.hidden_field :automatic_id, value: automatic.id %>
                                    <%= form.hidden_field :script_id, value: script.id %>
                                  </div>
                                <% end %>
                              <% end %>
                            <% end %>
                          </span>
                        </td>
                      </tr>
                      <% automatic.scripts.each_with_index do |script, n| %>
                        <% if n > 0 %>
                          <tr>
                            <td>
                              <span class="d-flex flex-row justify-content-end">
                                <%= form_with url: execute_templates_micro_path, method: "get" do |form| %>
                                  <div class="actions">
                                    <span class="m-0 p-0" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= "#{script.description} DX: <b>#{script.diagnostic}</b>" %>" >
                                      <%= "Opción #{n + 1}: #{script.description[0..25]}..." %>
                                    </span>
                                    <%= form.submit "#{script.pss_code}", { class: "m-0 p-0 auto-option" } %>
                                    <%= form.hidden_field :inform_id, value: @inform.id %>
                                    <%= form.hidden_field :automatic_id, value: automatic.id %>
                                    <%= form.hidden_field :script_id, value: script.id %>
                                  </div>
                                <% end %>
                              </span>
                            </td>
                          </tr>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-lg-6 col-xl-6">
              <table class="table table-hover select-micro">
                <thead>
                  <tr>
                    <th>Automático</th>
                  </tr>
                </thead>
                <tbody>
                  <% @automatics.each_with_index do |automatic, j| %>
                    <% if j > @automatics.length / 2 %>
                      <tr class="m-organ-<%= Organ.where(organ: automatic.organ).first.part.gsub(/\s+/, '') %> m-0 p-0">
                        <td>
                          <span class="d-flex flex-row justify-content-between">
                            <%= automatic.title %>
                            <% automatic.scripts.each_with_index do |script, n| %>
                              <% if n == 0 %>
                                <%= form_with url: execute_templates_micro_path, method: "get" do |form| %>
                                  <div class="actions">
                                    <span class="m-0 p-0" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= "#{script.description} DX: <b>#{script.diagnostic}</b>" %>" >
                                      <%= "Opción #{n + 1}: #{script.description[0..25]}..." %>
                                    </span>
                                    <%= form.submit "#{script.pss_code}", { class: "m-0 p-0 auto-option" } %>
                                    <%= form.hidden_field :inform_id, value: @inform.id %>
                                    <%= form.hidden_field :automatic_id, value: automatic.id %>
                                    <%= form.hidden_field :script_id, value: script.id %>
                                  </div>
                                <% end %>
                              <% end %>
                            <% end %>
                          </span>
                        </td>
                      </tr>
                      <% automatic.scripts.each_with_index do |script, n| %>
                        <% if n > 0 %>
                          <tr>
                            <td>
                              <span class="d-flex flex-row justify-content-end">
                                <%= form_with url: execute_templates_micro_path, method: "get" do |form| %>
                                  <div class="actions">
                                    <span class="m-0 p-0" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= "#{script.description} DX: <b>#{script.diagnostic}</b>" %>" >
                                      <%= "Opción #{n + 1}: #{script.description[0..25]}..." %>
                                    </span>
                                    <%= form.submit "#{script.pss_code}", { class: "m-0 p-0 auto-option" } %>
                                    <%= form.hidden_field :inform_id, value: @inform.id %>
                                    <%= form.hidden_field :automatic_id, value: automatic.id %>
                                    <%= form.hidden_field :script_id, value: script.id %>
                                  </div>
                                <% end %>
                              </span>
                            </td>
                          </tr>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>