<div class="container">
  <div class="row micros-out">
    <div class="col-12 col-lg-12 col-xl-12">
      <h4>Descripción Micro:</h4>
      <% inform.micros.each_with_index do |micro, n| %>
        <p><strong>Micro <%= n + 1 %> de <%= inform.micros.count %> procesada el <%= micro.created_at.strftime('%d/%m/%Y') %></strong> </p>
        <p><%= micro.description %></p>
        <div class="text-muted"><p>Por: <%= User.where(id: micro.user_id).first.try(:first_name) %> <%= User.where(id: micro.user_id).first.try(:last_name) %></p></div>
        <%= link_to 'Revisar/Cargar foto', micro_path(micro) %> |
        <%= link_to 'Editar', edit_micro_path(micro) %> |
        <%= link_to ' Borrar', micro, method: :delete, data: { confirm: '¿Confirmas la operación?' } %>
        <table>
          <tbody>
            <% micro.objections.each do |objection| %>
              <tr class=<%= objection.closed == false ? "objection" : "" %> >
                <td><span class="badge badge-<%= objection.closed == false ? "danger" : "warning" %>">No conformidad: </td>
                <td><span class="badge badge-<%= objection.closed == false ? "danger" : "warning" %>"><%= objection_title(objection.obcode_id) %></td>
                <!-- <td><%= objection.description %></td> -->
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="card-group">
          <% micro.pictures.each do |pic| %>
            <div class="col-12 col-lg-4">
              <div class="card">
                <div class="card-header">
                    <%= pic.description %>
                </div>
                <%= link_to pic.name.url  do %>
                  <img class="card-img-top" src="<%= pic.name.url %>" alt="Card image cap" >
                <% end %>
                <div class="card-body">
                  <%= link_to 'Borrar', inform_picture_path(inform, pic), method: :delete, data: { confirm: 'Confirmar borrado?' }
                   %>
                   <div class="card-footer text-muted">
                     Cargada por: <%= User.where(id: pic.user_id).first.try(:email) %>
                   </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-lg-12 col-xl-12">
      <h4>Agregar descripción micro manual</h4>
      <%= form_for [inform, inform.micros.build] do |form| %>
        <div class="form-group">
          <%= form.text_area :description, class: "form-control form-control-lg input" %>
        </div>
        
        <div class="actions">
          <%= form.submit "Agregar", class: "btn btn-primary" %>
          <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#MicrosModal">
            + Automáticos
          </button>
        </div>

      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
      <% inform.diagnostics.each do |diagnostic| %>
        <h4>Diganósticos:</h4>
        <p>Código Patología Suescún: <%= diagnostic.pss_code %></p>
        <p>Código OMS: <%= diagnostic.who_code %></p>
        <p><%= diagnostic.description %></p>
        <div class="text-muted"><p>Por: <%= User.where(id: diagnostic.user_id).first.try(:first_name) %> <%= User.where(id: diagnostic.user_id).first.try(:last_name) %></p></div>
        <%= link_to 'Revisar', diagnostic_path(diagnostic) %>
        <%= link_to 'Editar', edit_diagnostic_path(diagnostic) %>
        <%= link_to ' Borrar', diagnostic, method: :delete, data: { confirm: '¿Confirmas la operación?' } %>
        <table>
          <tbody>
            <% diagnostic.objections.each do |objection| %>
              <tr class=<%= objection.closed == false ? "objection" : "" %> >
                <td><span class="badge badge-<%= objection.closed == false ? "danger" : "warning" %>">No conformidad: </span></td>
                <td><span class="badge badge-<%= objection.closed == false ? "danger" : "warning" %>"><%= objection_title(objection.obcode_id) %></span></td>
                <!-- <td><%= objection.description %></td> -->
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
      <h4>Agregar diagnóstico manual</h4>
      <%= form_for [inform, inform.diagnostics.build] do |form| %>
        <div class="row">
          <div class="col-12 col-lg-12 col-xl-12">
            <div class="form-group">
              <%= form.text_area :description, class: "form-control form-control-lg input" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <%= form.label "Código PSS" %>
              <%= form.text_field :pss_code, class: "form-control form-control-lg input" %>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-6">
            <div class="form-group">
              <%= form.label "Código OMS" %>
              <%= form.text_field :who_code, class: "form-control form-control-lg input" %>
            </div>
          </div>
        </div>
        <div class="actions">
          <%= form.submit "Agregar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render partial: "informs/micros-modal", locals: { inform: inform, automatics: automatics } %>

</div>
