<div class="row">
  <div class="col-12 col-lg-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Tel</th>
          <th>Cel</th>
          <th>Email</th>
          <th>Especialidad</th>
          <!-- <th>Otro estudio</th> -->
          <th>Respons.</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @inform.physicians.each do |physician| %>
          <tr>
            <td><%= physician.name %></td>
            <td><%= physician.lastname %></td>
            <td><%= physician.tel %></td>
            <td><%= physician.cel %></td>
            <td><%= physician.email %></td>
            <td><%= physician.study1 %></td>
            <!-- <td><%= physician.study2 %></td> -->
            <td><%= User.where(id: physician.user_id).first.try(:first_name) %></td>
            <td><%= link_to 'Detalles', physician %></td>
            <td><%= link_to 'Editar', edit_physician_path(physician) %></td>
            <td><%= link_to 'Borrar', physician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to '+ Doctor', new_inform_physician_path(inform), class: "btn btn-primary" %>
  </div>
</div>

