
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Tel</th>
      <th>Cel</th>
      <th>Email</th>
      <th>Especialidad</th>
      <th>Otro estudio</th>
      <th>Respons.</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inform.physicians.each do |physician| %>
      <tr>
        <td><%= physician.name %></td>
        <td><%= physician.lastname %></td>
        <td><%= physician.tel %></td>
        <td><%= physician.cel %></td>
        <td><%= physician.email %></td>
        <td><%= physician.study1 %></td>
        <td><%= physician.study2 %></td>
        <td><%= User.where(id: physician.user_id).first.try(:first_name) %></td>
        <td><%= link_to 'Detalles', physician %></td>
        <td><%= link_to 'Editar', edit_physician_path(physician) %></td>
        <td><%= link_to 'Borrar', physician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= form_for [inform, inform.physicians.build] do |form| %>
  <h4>Agregar doctor</h4>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="form-group">
        <%= form.label "Nombres" %>
        <%= form.text_field :name, class: "form-control input" %>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="form-group">
        <%= form.label "Apellidos" %>
        <%= form.text_field :lastname, class: "form-control input" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="form-group">
        <%= form.label "Teléfono" %>
        <%= form.text_field :tel, class: "form-control input" %>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="form-group">
        <%= form.label "Celular" %>
        <%= form.text_field :cel, class: "form-control input" %>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="form-group">
        <%= form.label "Email" %>
        <%= form.text_field :email, class: "form-control input" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="form-group">
        <%= form.label "Especialidad" %>
        <%= form.text_field :study1, class: "form-control input" %>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="form-group">
        <%= form.label "Otra especialidad/estudio" %>
        <%= form.text_field :study2, class: "form-control input" %>
      </div>
    </div>
  </div>
  <div class="actions"> <!-- Este botón lo pongo acá por estética -->
    <%= form.submit "Agregar", class: "btn btn-primary" %>
  </div>
<% end %>