<div class="recipients">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12">
        <% inform.recipients.each do |recipient| %>
          <div class="card mx-2 mb-3">
            <h5 class="card-header">Recipiente: <%= recipient.tag %>, creado por: <%= User.where(id: recipient.user_id).first.try(:email) %>
              <div class="d-flex flex-row justify-content-between">
                <div class="d-flex">
                  <%= form_with model: [inform, inform.samples.build] do |form| %>
                    <%= form.submit "+ Bloque", class: "btn btn-primary btn-sm mx-2 my-2" %>
                    <%= form.hidden_field :recipient_tag, value: recipient.tag %>
                    <%= form.hidden_field :sample_tag, value: generate_letter_tag(inform) %>
                  <% end %>
                  
                </div>
               <!--  <div class="d-flex">
                  <%= link_to "Revisar", recipient_path(recipient), class: "btn btn-outline-primary btn-sm mx-2 my-2" %> <%= link_to "Editar", edit_recipient_path(recipient), class: "btn btn-outline-primary btn-sm mx-2 my-2 disabled" %> <%= link_to 'Borrar', recipient, method: :delete, data: { confirm: '¿Confirmas la operación?', remote: true }, class: "btn btn-outline-primary btn-sm mx-2 my-2 #{Sample.where(inform_id: inform.id, recipient_tag: recipient.tag).count != 0 ? "disabled" : ""}" %>
                  
                </div> -->
                <div class="d-flex">
                  <%= link_to "Revisar", recipient_path(recipient), class: "btn btn-outline-primary btn-sm mx-2 my-2" %> <%= link_to "Editar", edit_recipient_path(recipient), class: "btn btn-outline-primary btn-sm mx-2 my-2 disabled" %> <%= link_to 'Borrar', recipient, method: :delete, remote: true , class: "btn btn-outline-primary btn-sm mx-2 my-2 #{Sample.where(inform_id: inform.id, recipient_tag: recipient.tag).count != 0 ? "disabled" : ""}" %>
                  
                </div>
              </div>
              
            </h5>
            <div class="card-body elements-in-for-<%= recipient.tag %>">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>

              <% if recipient.description == nil %>
                <%= form_with model: recipient do |f| %>
                    <div class="field">
                      <%= f.label "Descripción:" %>
                      <%= f.text_area :description, rows: "10", cols: "80", class: "form-control input" %>
                    </div>
                    <div class="actions">
                      <%= f.submit "Guardar", class: "btn btn-warning btn-sm mt-2" %>
                    </div>
                <% end %>
              <% else %>
                <p class="card-text"><strong>Descripción:</strong> <%= recipient.description %></p>
              <% end %>


              

              <div class="row recipient-<%= recipient.tag %>">
                <div class="col-12 col-md-12 col-lg-12">
                  <div class="card-deck">
                    <% inform.samples.where(recipient_tag: recipient.tag).each do |sample| %>

                      <% if sample.organ_code == nil %>
                        <div class="col-12 col-md-12 col-lg-12 card-in">
                      <% else %>
                        <div class="col-12 col-lg-4 card-in">
                      <% end %>

                        <div class="card mx-2 my-2" id="sample-<%= sample.sample_tag %>" style="background-color: <%= get_color(sample) %>">

                          <h5 class="card-header">Bloque: <%= sample.sample_tag %>
                           <!--  <div class="d-flex justify-content-start">
                              <%= link_to "Revisar", sample_path(sample), class: "btn btn-secondary btn-sm mx-2 my-2" %> <%= link_to "Editar", edit_sample_path(sample), class: "btn btn-secondary btn-sm mx-2 my-2" %> <%= link_to 'Borrar', sample, method: :delete, data: { confirm: '¿Confirmas la operación?' }, class: "btn btn-secondary btn-sm mx-2 my-2", remote: true %>
                            </div> -->

                            <div class="d-flex justify-content-start">
                              <%= link_to "Revisar", sample_path(sample), class: "btn btn-secondary btn-sm mx-2 my-2" %> <%= link_to "Editar", edit_sample_path(sample), remote: true, class: "btn btn-secondary btn-sm mx-2 my-2" %> <%= link_to 'Borrar', sample, method: :delete, class: "btn btn-secondary btn-sm mx-2 my-2", remote: true %>
                            </div>

                            <% if !next_number_tag_exists?(inform, sample) %>
                              <%= form_with model: [inform, inform.samples.build] do |form| %>
                                <%= form.submit "+ Corte", class: "btn btn-primary btn-sm mx-2 my-2" %>
                                <%= form.hidden_field :recipient_tag, value: recipient.tag %>
                                <%= form.hidden_field :organ_code, value: sample.organ_code %>
                                <%= form.hidden_field :sample_tag, value: generate_number_tag(sample) %>
                              <% end %>
                            <% end %>
                          </h5>
                          <div class="card-body">
                            <div class="row">
                              <% if sample.organ_code == nil %>

                                <%= render partial: "informs/organs_choice", locals: { sample: sample } %>
                                
                              <% else %>
                              <!--   <% Auto.where(param1: sample.organ_code).each do |auto| %>
                                  <%= form_with model: [inform, inform.macros.build] do |f| %>
                                    <%= f.label auto.title %>
                                    <%= f.text_area :description, value: auto.body, rows: "10", cols: "80" %>
                                    <%= f.submit "Crear esta macro", class: "btn btn-primary" %>
                                  <% end %>
                                <% end %> -->
                              <% end %> 
                            </div>
                            

                            <h5 class="card-title"><%= sample.organ_code %> - F: <strong><%= sample.fragment %></strong></h5>
                            <p class="card-text">Descr: <strong><%= sample.description %></strong></p>
                            <% if sample.fragment == nil || sample.description == nil || edit_sample_tag == sample.sample_tag %>
                              <%= form_with model: sample do |f| %>
                                  <div class="field">
                                    <%= f.label "Fragmentos:" %>
                                    <%= f.number_field :fragment, value: sample.fragment != nil ? sample.fragment : 1, class: "form-control input" %>
                                  </div>
                                  <div class="field">
                                    <%= f.label "Descripción:" %>
                                    <%= f.text_area :description, class: "form-control input" %>
                                  </div>
                                  <div class="actions">
                                    <%= f.submit "Guardar", class: "btn btn-warning btn-sm mt-2" %>
                                  </div>
                              <% end %>
                            <% else %>
                              <p class="card-text"></p>
                            <% end %>
                          </div>
                        </div>
                      </div>  

                      

                    <% end %>
                  </div>
                </div>
              </div>


              
              <div class="row">
                <div class="col-12 col-sm-12 col-lg-12">
                 <!--  <h3>Descripción Macro:</h3>
                    <div class="row">
                      <div class="col-12 col-lg-8">
                        <% inform.macros.each_with_index do |macro, n| %>
                          <p>Macro <%= n + 1 %> de <%= inform.macros.count %> procesada el <%= macro.created_at %> </p>
                          <h4><%= macro.description %></h4>
                          <div class="text-muted"><p>Por: <%= User.where(id: macro.user_id).first.try(:first_name) %> <%= User.where(id: macro.user_id).first.try(:last_name) %></p>
                          </div>
                        <% end %>
                      </div>
                    </div>
                   -->
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="alert alert-primary">
          <h4>Atajos para recipientes</h4>
          <div class="d-flex flex-column">
            <%= form_with model: [inform, inform.recipients.build] do |form| %>
              <div class="actions">
                <%= form.submit "+ 1 Recipiente + 1 Bloque", id: "1rb", class: "btn btn-primary mx-1 my-1" %>
                <%= form.hidden_field :samples, value: 1 %>
                <%= form.hidden_field :tag, value: inform.tag_code %>
              </div>
            <% end %>
            <%= form_with model: [inform, inform.recipients.build] do |form| %>
              <div class="actions">
                <%= form.submit "+ 1 Recipiente + 2 Bloques diferentes", class: "btn btn-primary mx-1 my-1" %>
                <%= form.hidden_field :samples, value: 2 %>
                <%= form.hidden_field :tag, value: inform.tag_code %>
              </div>
            <% end %>
            <%= form_with model: [inform, inform.recipients.build] do |form| %>
              <div class="actions">
                <%= form.submit "+ 1 Recipiente + 3 Bloques diferentes", class: "btn btn-primary mx-1 my-1" %>
                <%= form.hidden_field :samples, value: 3 %>
                <%= form.hidden_field :tag, value: inform.tag_code %>
              </div>
            <% end %>

            <h4>Atajos para Macros</h4>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#autosMacroModal">
              Autos para Macro
            </button>
           <!--  <div class="actions">
              <button id="shortcut" class="btn btn-danger">Test</button>
            </div> -->
          </div>
        </div>

      </div>
      <div class="col-12 col-lg-4">
        <div class="alert alert-primary">
          <h4>Agregar 1 recipiente con bloques diferentes</h4>
          <%= form_with model: [inform, inform.recipients.build] do |form| %>

            <%= form.hidden_field :tag, value: inform.tag_code %>

            <div class="form-group">
              <%= form.label "Cantidad de muestras" %>
              <%= form.number_field :samples, value: 4, class: "form-control input" %>
            </div>

            <div class="actions">
              <%= form.submit "Agregar", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>

      </div>
    </div>

    <%= render partial: "informs/autos_modal", locals: { inform: inform } %>

  </div>
</div>

