<h1>Muestras para <%= @inform.tag_code %></h1>
<div class="row">
  <div class="col-12 col-lg-8">
    <div class="row">
      <% @inform.samples.each do |sample| %>
        <div class="col-12 col-lg-8">
          <table class="table table-striped">
            <tr>
              <td><%= sample.sample_tag %></td>
              <td><%= sample.name %></td>
              <td><%= sample.description %></td>
              <td>
                <span>
                  <%= link_to "Editar", edit_sample_path(sample), class: 'btn btn-primary' %>
                </span>
                <span>
                  <%= link_to 'Borrar', sample, method: :delete, data: { confirm: '¿Confirmas la operación?' }, class: 'btn btn-primary' %>
                </span>
                
                
              </td>
            </tr>
          </table>
          <div class="card text-center mt-3">
            <div class="card-header">
              <strong><%= sample.sample_tag %></strong>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= sample.name %></h5>
              <p class="card-text"><%= sample.description %></p>
              <%= link_to "Editar", edit_sample_path(sample), class: 'btn btn-primary' %>
              <%= link_to 'Borrar', sample, method: :delete, data: { confirm: '¿Confirmas la operación?' }, class: 'btn btn-primary' %>
            </div>
            <div class="card-footer text-muted">
              <p>Creada el <%= sample.created_at %> por <%= User.find(sample.user_id).email %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>      
  </div>
  <div class="col-12 col-lg-2 mx-auto">
    <%= form_for [@inform, @inform.samples.build] do |form| %>

      <div class="form-group">
        <%= form.label "Nombre de muestra" %>
        <%= form.text_field :name, class: "form-control input" %>
      </div>

      <div class="form-group">
        <%= form.label "Descripción" %>
        <%= form.text_area :description, class: "form-control input" %>
      </div>

      <div class="actions">
        <%= form.submit "Agregar", class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>