<div class="row">
  <div class="col-12 col-lg-8 mx-auto">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Código</th>
          <th>Recipiente</th>
          <th>Nombre</th>
          <!-- <th>Descrp.</th> -->
          <th>Por</th>
          <th scope="2"></th>
        </tr>
      </thead>
      <tbody>
        <% inform.samples.each do |sample| %>
          <tr>
            <td><%= sample.sample_tag %></td>
            <td><%= sample.recipient_tag %></td>
            <td><%= sample.name %></td>
            <!-- <td><%= sample.description %></td> -->
            <td><%= User.where(id: sample.user_id).first.try(:first_name) %></td>
            <td><%= link_to "Revisar", sample_path(sample) %></td>
            <td><%= link_to "Editar", edit_sample_path(sample) %></td>
            <td><%= link_to 'Borrar', sample, method: :delete, data: { confirm: '¿Confirmas la operación?' } %></td>
          </tr>
          <% sample.objections.each do |objection| %>
            <tr class=<%= objection.closed == false ? "objection" : "" %> >
              <td><span class="badge badge-<%= objection.closed == false ? "danger" : "warning" %>">No conformidad: </td>
              <td><span class="badge badge-<%= objection.closed == false ? "danger" : "warning" %>"><%= objection_title(objection.obcode_id) %></td>
              <!-- <td><%= objection.description %></td> -->
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-12 col-lg-4">
    <h4>Agregar muestras</h4>
    <%= form_with model: [inform, inform.samples.build] do |form| %>
      <div class="form-group">
        <%= form.label "Nombre de muestra" %>
        <%= form.text_field :name, class: "form-control input" %>
      </div>
      <div class="form-group">
        <%= form.label "Descripción" %>
        <%= form.text_area :description, class: "form-control input" %>
      </div>
      <div class="actions">
        <%= form.submit "Agregar", class: "btn btn-primary" %>
      </div>
    <% end %>
    <!-- <a class="btn btn-primary" href="<%= samples_path + '?organ=estomago&inform=' + params[:id] %>">+ Estomago</a> -->
    <%= form_with model: [inform, inform.samples.build] do |form| %>
      <div class="actions">
        <%= form.hidden_field :specimen_tag, value: 'estomago' %>
        <%= form.submit "+Estómago", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">

</div>