<div class="row">
  <div class="col-12 col-lg-8 mb-3 mx-auto">
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Múltiplo</th>
          <th>Por</th>
          <th scope="3"></th>
        </tr>
      </thead>
      <tbody>
        <% inform.studies.each do |study| %>
          <tr>
            <td><%= Codeval.find(study.codeval_id).code %></td>
            <td><%= Codeval.find(study.codeval_id).name %></td>
            <td>x <%= study.factor %></td>
            <td><%= User.where(id: study.user_id).first.try(:first_name) %></td>
            <td><%= link_to "Revisar", study_path(study) %></td>
            <td><%= link_to 'Editar', edit_study_path(study) %></td>
            <td><%= link_to 'Borrar', study, method: :delete, data: { confirm: '¿Confirmas la operación?' } %></td>
          </tr>
          <% study.objections.each do |objection| %>
            <tr class=<%= objection.closed == false ? "objection" : "" %> >
              <td><span class="badge badge-<%= objection.closed == false ? "danger" : "warning" %>">No conformidad: </td>
              <td><span class="badge badge-<%= objection.closed == false ? "danger" : "warning" %>"><%= objection_title(objection.obcode_id) %></td>
              <!-- <td><%= objection.description %></td> -->
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-12 col-lg-4">
    <h4>Agregar CUPS</h4>
    <%= form_for [inform, inform.studies.build] do |form| %>

      <div class="form-group">
        <%= form.label "Código CUPS" %>
        <%= form.select :codeval_id, Codeval.pluck(:code, :id), {prompt:"Seleccione el CUPS"}, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label "¿Cuántos CUPS de éste tipo requieres?" %>
        <%= form.number_field :factor, value: 1, class: "form-control input" %>
      </div>

      <div class="actions">
        <%= form.submit "Agregar", class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>
<div class="row">

</div>