<div class="row">
  <div class="col-12 col-lg-12 mx-auto">
    <div class="row">
      <div class="col-12 col-lg-12 col-xl-12">
        <%= render partial: "inform" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12 col-xl-12 ">
        <div class="slide">
          <%= render partial: "slides-micro", locals: { inform: @inform } %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-6 macros-in">
        <%= render partial: "macros/macros", locals: { inform: @inform } %>
      </div>
      <div class="col-12 col-lg-6 col-xl-6">
        <div class="micros-in">
          <%= render partial: "micros/micros", locals: { inform: @inform, automatics: @automatics, edit_micro: nil, edit_objection_id: nil, edit_status: false } %>
        </div>
        <div class="diagnostics-in">
          <%= render partial: "diagnostics/diagnostics", locals: { inform: @inform, diagcodes: @diagcodes, edit_diagnostic: nil, edit_objection_id: nil, edit_dx_status: false } %>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-12 col-lg-4 col-xl-4 mx-auto">
        <%= form_with url: informs_set_revision_path, method: "get", local: true do |form| %>
          <%= form.submit "OK para Revisión", class: "btn btn-success btn-block mt-3" %>
          <%= form.hidden_field :inform_id, value: @inform.id %>
        <% end %>
      </div>
    </div>
  </div>
</div>