<%= render "shared/error_messages", target: @inform %>

<div class="row">
  <div class="col-12 col-lg-12 mx-auto">
    <div class="row">
      <div class="col-12 col-lg-12 col-xl-12">
        <%= render partial: "inform" %>
      </div>
    </div>
    <% if @inform.inf_type != "cito" %>
      <div class="row">
        <div class="col-12 col-lg-12 col-xl-12 ">
          <div class="slide">
            <%= render partial: "slides-micro", locals: { inform: @inform } %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-6 macros-in">
          <%= render partial: "macros/macros", locals: { inform: @inform } %>
        </div>
        <div class="col-12 col-lg-6 col-xl-6">
          <div class="micros-in">
            <%= render partial: "micros/micros", locals: { inform: @inform, automatics: @automatics, edit_micro: nil, edit_objection_id: nil, edit_status: false } %>
          </div>
          <div class="diagnostics-in mt-3">
            <%= render partial: "diagnostics/diagnostics", locals: { inform: @inform, diagcodes: @diagcodes, edit_diagnostic: nil, edit_objection_id: nil, edit_dx_status: false } %>
          </div>
        </div>
      </div>

    <% else %>

      <div class="row">
        <div class="col-12 col-lg-4 col-xl-4">
          <div class="micros-in">
            <%= render partial: "micros/micros", locals: { inform: @inform, automatics: @automatics, edit_micro: nil, edit_objection_id: nil, edit_status: false } %>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-xl-4">
          <div class="diagnostics-in">
            <%= render partial: "diagnostics/diagnostics", locals: { inform: @inform, diagcodes: @diagcodes, edit_diagnostic: nil, edit_objection_id: nil, edit_dx_status: false } %>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-xl-4">
          <div class="cytologies-in">
            <%= render partial: "cytologies/cytologies", locals: { inform: @inform, edit_cytology: nil, edit_objection_id: nil, edit_cy_status: false } %>
          </div>
        </div>
      </div>
    <% end %>
    
    <div class="row">
      <div class="col-4 col-lg-4 col-xl-4 mx-auto">
        <%= link_to "OK para revisión", set_revision_inform_path(@inform), class: "btn btn-success btn-block mt-3" %>
      </div>
    </div>
  </div>
</div>