<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">
      <h1>Descripciones micro pendientes para <%= current_user.fullname %></h1>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Informe</th>
            <th>Estado</th>
            <th>Ingreso PSS</th>
            <th>Paciente</th>
            <th>Dx adicionales en PSS</th>
          </tr>
        </thead>

        <tbody>
          <% @informs.each do |inform| %>
            <tr>
              <td>
                <%= link_to descr_micro_inform_path(inform)  do %>
                  <%= inform.tag_code %>
                <% end %>
              </td>
              <td><%= inform.inf_status %></td>
              <td><%= inform.receive_date.strftime('%d/%m/%Y') %></td>
              <td>
                <%= link_to inform.patient  do %>
                  <%= inform.patient.name1 %> <%= inform.patient.name2 %> <%= inform.patient.lastname1 %> <%= inform.patient.lastname2 %>
                  <% end %>
              </td>
              <td><%= inform.patient.informs.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
