<%= render "shared/error_messages", target: @inform %>

<div class="row">
  <div class="col-12 col-lg-12 mx-auto">
    <div class="row">
      <div class="col-12 col-lg-12 col-xl-12">
        <%= render partial: "inform" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12 col-xl-12 ">
        <div class="slide">
          <%= render partial: "slides-micro", locals: { inform: @inform } %>
        </div>
      </div>
    </div>
    <div class="row">
      <% if @inform.inf_status == 'clin' || @inform.inf_status == 'hosp' %>
        <div class="col-6 col-lg-6 col-xl-6 macros-in">
          <%= render partial: "macros/macros", locals: { inform: @inform } %>
        </div>
      <% end %>
      <div class="col-6 col-lg-6 col-xl-6">
        <div class="micros-in">
          <%= render partial: "micros/micros", locals: { inform: @inform, automatics: @automatics, edit_micro: nil, edit_objection_id: nil, edit_status: false } %>
        </div>
        <div class="diagnostics-in">
          <%= render partial: "diagnostics/diagnostics", locals: { inform: @inform, diagcodes: @diagcodes, edit_diagnostic: nil, edit_objection_id: nil, edit_dx_status: false } %>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-4 col-lg-4 col-xl-4 mx-auto">
        <%= link_to "OK para revisión", set_revision_inform_path(@inform), class: "btn btn-success btn-block mt-3" %>
      </div>
    </div>
  </div>
</div>