<%= render "shared/error_messages", target: @inform %>
<div class="row">
  <div class="col-12 col-lg-12 col-xl-12 ml-1">
    <%= render partial: "inform" %>
  </div>
  <div class="col-12">
    <%= render partial: "macros/macros", locals: { inform: @inform } %>
  </div>
  <div class="col-12 col-lg-12 mx-auto">
    
    <div class="row">
      <% if @inform.inf_type != "cito" %>
        
        <div class="row">
          
          <div class="col-12 col-lg-6 col-xl-6">
            
            <div class="row">
              <div class="col-12">
                <div class="micros-in">
                  <%= render partial: "micros/micros", locals: { inform: @inform, automatics: @automatics, edit_micro: nil, edit_objection_id: nil, edit_status: false } %>
                </div>
              </div>
              <div class="col-12">
                <div class="diagnostics-in mt-3">
                  <%= render partial: "diagnostics/diagnostics", locals: { inform: @inform, diagcodes: @diagcodes, edit_diagnostic: nil, edit_objection_id: nil, edit_dx_status: false } %>
                </div>
              </div>
              
            </div>
            
          </div>
          <div class="col-12 col-lg-6 col-xl-6">
            <div class="card">
              <div class="card-header m-0 p-0 pl-1">
                <strong>Lista de automáticos</strong>
              </div>
              <div class="card-body">
                
                <p class="card-text">
                  <div class="row">
                    <div class="col-12 col-lg-6 col-xl-6">
                      <table class="table table-hover select-micro">
                        <tbody>
                          <% @automatics.each_with_index do |automatic, j| %>
                            <% if j < (@automatics.length / 2) + 1 %>
                              <tr class="m-organ-<%= Organ.where(organ: automatic.organ).first.part.gsub(/\s+/, '') %> m-0 p-0">
                                <td>
                                  <span class="d-flex flex-row justify-content-between">
                                    <%= automatic.title %>
                                    <% automatic.scripts.each_with_index do |script, n| %>
                                      <% if n == 0 %>

                                        <%= form_with url: execute_templates_micro_path, method: "get" do |form| %>

                                          <div class="actions">
                                            <span class="m-0 p-0" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= "#{script.description} DX: <b>#{script.diagnostic}</b>" %>" >
                                              <%= "Opc. #{n + 1}: " %>
                                            </span>
                                            <%= form.submit "#{script.pss_code}", { class: "m-0 p-0 auto-option" } %>
                                            <%= form.hidden_field :inform_id, value: @inform.id %>
                                            <%= form.hidden_field :automatic_id, value: automatic.id %>
                                            <%= form.hidden_field :script_id, value: script.id %>
                                          </div>
                                        <% end %>
                                      <% end %>
                                    <% end %>
                                  </span>
                                </td>
                              </tr>
                              <% automatic.scripts.each_with_index do |script, n| %>
                                <% if n > 0 %>
                                  <tr>
                                    <td>
                                      <span class="d-flex flex-row justify-content-end">
                                        <%= form_with url: execute_templates_micro_path, method: "get" do |form| %>
                                          <div class="actions">
                                            <span class="m-0 p-0" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= "#{script.description} DX: <b>#{script.diagnostic}</b>" %>" >
                                              <%= "Opc. #{n + 1}: " %>
                                            </span>
                                            <%= form.submit "#{script.pss_code}", { class: "m-0 p-0 auto-option" } %>
                                            <%= form.hidden_field :inform_id, value: @inform.id %>
                                            <%= form.hidden_field :automatic_id, value: automatic.id %>
                                            <%= form.hidden_field :script_id, value: script.id %>
                                          </div>
                                        <% end %>
                                      </span>
                                    </td>
                                  </tr>
                                <% end %>
                              <% end %>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-6">
                      <table class="table table-hover select-micro">
                        <tbody>
                          <% @automatics.each_with_index do |automatic, j| %>
                            <% if j > @automatics.length / 2 %>
                              <tr class="m-organ-<%= Organ.where(organ: automatic.organ).first.part.gsub(/\s+/, '') %> m-0 p-0">
                                <td>
                                  <span class="d-flex flex-row justify-content-between">
                                    <%= automatic.title %>
                                    <% automatic.scripts.each_with_index do |script, n| %>
                                      <% if n == 0 %>
                                        <%= form_with url: execute_templates_micro_path, method: "get" do |form| %>
                                          <div class="actions">
                                            <span class="m-0 p-0" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= "#{script.description} DX: <b>#{script.diagnostic}</b>" %>" >
                                              <%= "Opc. #{n + 1}: " %>
                                            </span>
                                            <%= form.submit "#{script.pss_code}", { class: "m-0 p-0 auto-option" } %>
                                            <%= form.hidden_field :inform_id, value: @inform.id %>
                                            <%= form.hidden_field :automatic_id, value: automatic.id %>
                                            <%= form.hidden_field :script_id, value: script.id %>
                                          </div>
                                        <% end %>
                                      <% end %>
                                    <% end %>
                                  </span>
                                </td>
                              </tr>
                              <% automatic.scripts.each_with_index do |script, n| %>
                                <% if n > 0 %>
                                  <tr>
                                    <td>
                                      <span class="d-flex flex-row justify-content-end">
                                        <%= form_with url: execute_templates_micro_path, method: "get" do |form| %>
                                          <div class="actions">
                                            <span class="m-0 p-0" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= "#{script.description} DX: <b>#{script.diagnostic}</b>" %>" >
                                              <%= "Opc. #{n + 1}: " %>
                                            </span>
                                            <%= form.submit "#{script.pss_code}", { class: "m-0 p-0 auto-option" } %>
                                            <%= form.hidden_field :inform_id, value: @inform.id %>
                                            <%= form.hidden_field :automatic_id, value: automatic.id %>
                                            <%= form.hidden_field :script_id, value: script.id %>
                                          </div>
                                        <% end %>
                                      </span>
                                    </td>
                                  </tr>
                                <% end %>
                              <% end %>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </p>
                
              </div>
            </div>
          </div>
        </div>

        

      <% else %>

        <div class="row">
          <div class="col-12 col-lg-6 col-xl-6">
            <div class="row">
              <div class="col-12">
                <div class="micros-in">
                  <%= render partial: "micros/micros", locals: { inform: @inform, automatics: @automatics, edit_micro: nil, edit_objection_id: nil, edit_status: false } %>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="diagnostics-in">
                  <%= render partial: "diagnostics/diagnostics", locals: { inform: @inform, diagcodes: @diagcodes, edit_diagnostic: nil, edit_objection_id: nil, edit_dx_status: false } %>
                </div>
              </div>
              <div class="col-12 mt-3">
                <div class="suggestions-in">
                  <%= render partial: "suggestions/suggestions", locals: { inform: @inform, edit_suggestion: nil, edit_objection_id: nil, edit_su_status: false } %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-6">
            <% if @inform.micros.count < 2 %>
            <div class="card">
              <div class="card-header m-0 p-0 pl-1">
                <strong>Lista de automáticos</strong>
              </div>
              <div class="card-body">
                
                <p class="card-text">
                  <div class="row">
                    <div class="col-12 col-lg-6 col-xl-6">
                      <table class="table table-hover select-micro">
                        <tbody>
                          <% @automatics.each_with_index do |automatic, j| %>
                            <% if j < (@automatics.length / 2) + 1 %>
                              <tr class="m-organ-<%= Organ.where(organ: automatic.organ).first.part.gsub(/\s+/, '') %> m-0 p-0">
                                <td>
                                  <span class="d-flex flex-row justify-content-between">
                                    <%= Citocode.where(cito_code: automatic.scripts.first.pss_code.to_i).first.result_type[0].upcase + ": " %><%= automatic.title[0..5] %>
                                    <% automatic.scripts.each_with_index do |script, n| %>
                                      <% if n == 0 %>

                                        <%= form_with url: execute_templates_micro_path, method: "get" do |form| %>

                                          <div class="actions">
                                            <span class="m-0 p-0" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= "#{script.description} DX: <b>#{script.diagnostic}</b>" %>" >
                                              <%= "Op #{n + 1}: " %>
                                            </span>
                                            <%= form.submit "(#{script.pss_code})", { class: "m-0 p-0 auto-option" } %>
                                            <%= form.hidden_field :inform_id, value: @inform.id %>
                                            <%= form.hidden_field :automatic_id, value: automatic.id %>
                                            <%= form.hidden_field :script_id, value: script.id %>
                                          </div>
                                        <% end %>
                                      <% end %>
                                    <% end %>
                                  </span>
                                </td>
                              </tr>
                              <% automatic.scripts.each_with_index do |script, n| %>
                                <% if n > 0 %>
                                  <tr>
                                    <td>
                                      <span class="d-flex flex-row justify-content-end">
                                        <%= form_with url: execute_templates_micro_path, method: "get" do |form| %>
                                          <div class="actions">
                                            <span class="m-0 p-0" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= "#{script.description} DX: <b>#{script.diagnostic}</b>" %>" >
                                              <%= "Op #{n + 1}: " %>
                                            </span>
                                            <%= form.submit "(#{script.pss_code})", { class: "m-0 p-0 auto-option" } %>
                                            <%= form.hidden_field :inform_id, value: @inform.id %>
                                            <%= form.hidden_field :automatic_id, value: automatic.id %>
                                            <%= form.hidden_field :script_id, value: script.id %>
                                          </div>
                                        <% end %>
                                      </span>
                                    </td>
                                  </tr>
                                <% end %>
                              <% end %>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-6">
                      <table class="table table-hover select-micro">
                        <tbody>
                          <% @automatics.each_with_index do |automatic, j| %>
                            <% if j > @automatics.length / 2 %>
                              <tr class="m-organ-<%= Organ.where(organ: automatic.organ).first.part.gsub(/\s+/, '') %> m-0 p-0">
                                <td>
                                  <span class="d-flex flex-row justify-content-between">
                                    <%= Citocode.where(cito_code: automatic.scripts.first.pss_code.to_i).first.result_type[0].upcase + ": " %><%= automatic.title[0..5] %>
                                    <% automatic.scripts.each_with_index do |script, n| %>
                                      <% if n == 0 %>
                                        <%= form_with url: execute_templates_micro_path, method: "get" do |form| %>
                                          <div class="actions">
                                            <span class="m-0 p-0" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= "#{script.description} DX: <b>#{script.diagnostic}</b>" %>" >
                                              <%= "Op #{n + 1}: " %>
                                            </span>
                                            <%= form.submit "(#{script.pss_code})", { class: "m-0 p-0 auto-option" } %>
                                            <%= form.hidden_field :inform_id, value: @inform.id %>
                                            <%= form.hidden_field :automatic_id, value: automatic.id %>
                                            <%= form.hidden_field :script_id, value: script.id %>
                                          </div>
                                        <% end %>
                                      <% end %>
                                    <% end %>
                                  </span>
                                </td>
                              </tr>
                              <% automatic.scripts.each_with_index do |script, n| %>
                                <% if n > 0 %>
                                  <tr>
                                    <td>
                                      <span class="d-flex flex-row justify-content-end">
                                        <%= form_with url: execute_templates_micro_path, method: "get" do |form| %>
                                          <div class="actions">
                                            <span class="m-0 p-0" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= "#{script.description} DX: <b>#{script.diagnostic}</b>" %>" >
                                              <%= "Op #{n + 1}: " %>
                                            </span>
                                            <%= form.submit "(#{script.pss_code})", { class: "m-0 p-0 auto-option" } %>
                                            <%= form.hidden_field :inform_id, value: @inform.id %>
                                            <%= form.hidden_field :automatic_id, value: automatic.id %>
                                            <%= form.hidden_field :script_id, value: script.id %>
                                          </div>
                                        <% end %>
                                      </span>
                                    </td>
                                  </tr>
                                <% end %>
                              <% end %>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </p>
                
              </div>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% if @inform.inf_type != "cito" %>
      <div class="row">
        <div class="col-12 col-lg-12 col-xl-12 ">
          <div class="slide">
            <%= render partial: "slides-micro", locals: { inform: @inform } %>
          </div>
        </div>
      </div>
    <% end %>
    
    <div class="row">
      <div class="col-4 col-lg-4 col-xl-4 mx-auto">
        <%= link_to "OK para validación", set_revision_inform_path(@inform), class: "btn btn-success btn-block mt-3" %>
      </div>
    </div>
  </div>
</div>