<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-secondary">
        <%= form_tag index_oldrecords_informs_path, method: "get" do %>
          <div class="form-row">
              <div class="form-group col-4">
                <%= label_tag "Fecha inicial" %>
                <%= date_field_tag :init_date, class: "form-control input" %>
              </div>
              <div class="form-group col-4">
                <%= label_tag "Fecha final" %>
                <%= date_field_tag :final_date, class: "form-control input" %>
              </div>
            <div class="col-4">
              <%= submit_tag("Buscar", class: "btn btn-primary") %>
            </div>
            
          </div>
          
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">
      <h3><%= @oldrecords.count %> de <%= Oldrecord.count %> biopsias FoxPro encontrados <%= new_search_range %></h3>
      <%= will_paginate @oldrecords, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Informe</th>
            <th>Tipo</th>
            <th>Ingreso PSS</th>
            <th>User PSS</th>
            <th>Paciente</th>
            <th>EPS</th>
            <th>Sede IPS</th>
            <th>Código Authoriz.</th>
            <th scope="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @oldrecords.each do |oldrecord| %>
            <tr>
              <td>
                <%= link_to oldrecord  do %>
                  <%= oldrecord.tag_code %>
                <% end %>
              </td>
              <td><%= oldrecord.clave %></td>
              <td><%= oldrecord.fecharec.strftime('%d/%m/%Y') %></td>
              <td><%= oldrecord.secretaria %></td>
              <td>
                <% if oldrecord.patient_id %>
                  <%= link_to Patient.where(id: oldrecord.patient_id).first  do %>
                    <%= Patient.where(id: oldrecord.patient_id).first.fullname %>
                  <% end %>
                <% end %>
              </td>
              <td><%= oldrecord.entidad %></td>
              <td><%= oldrecord.clinica %></td>
              <td><%= oldrecord.autoriz %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @oldrecords, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
    </div>
  </div>
</div>
