<p id="notice"><%= notice %></p>

<h1>Informs</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>User</th>
      <th>Physician</th>
      <th>Tag code</th>
      <th>Receive date</th>
      <th>Delivery date</th>
      <th>User review date</th>
      <th>Prmtr auth code</th>
      <th>Zone type</th>
      <th>Pregnancy status</th>
      <th>Status</th>
      <th>Regime</th>
      <th>Promoter</th>
      <th>Entity</th>
      <th>Branch</th>
      <th>Copayment</th>
      <th>Cost</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @informs.each do |inform| %>
      <tr>
        <td><%= inform.patient %></td>
        <td><%= inform.user_id %></td>
        <td><%= inform.physician_id %></td>
        <td><%= inform.tag_code %></td>
        <td><%= inform.receive_date %></td>
        <td><%= inform.delivery_date %></td>
        <td><%= inform.user_review_date %></td>
        <td><%= inform.prmtr_auth_code %></td>
        <td><%= inform.zone_type %></td>
        <td><%= inform.pregnancy_status %></td>
        <td><%= inform.status %></td>
        <td><%= inform.regime %></td>
        <td><%= inform.promoter_id %></td>
        <td><%= inform.entity_id %></td>
        <td><%= inform.branch_id %></td>
        <td><%= inform.copayment %></td>
        <td><%= inform.cost %></td>
        <td><%= inform.price %></td>
        <td><%= link_to 'Show', inform %></td>
        <td><%= link_to 'Edit', edit_inform_path(inform) %></td>
        <td><%= link_to 'Destroy', inform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inform', new_inform_path %>
