<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">
      <%= will_paginate @informs, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      <h1>Informes por validar</h1>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Informe</th>
            <th>Días</th>
            <th>Validación Patología</th>
            <th>Identificación</th>
            <th>Paciente</th>
            <th>Edad</th>
            <th>EPS</th>
            <th>Sede IPS</th>
            <th>Código Authoriz.</th>

          </tr>
        </thead>

        <tbody>
          <% @informs.each do |inform| %>
            <tr>
              <td>
                <%= link_to show_revision_inform_path(inform), local: true  do %>
                  <%= inform.tag_code %>
                <% end %>
              </td>
              <td><%= (Date.today - inform.receive_date).to_i %></td>
              <td><%= User.where(id: inform.pathologist_review_id).first.try(:first_name) %> <%= User.where(id: inform.pathologist_review_id).first.try(:last_name) %></td>
              <td><%= inform.patient.id_type + " " + inform.patient.id_number %></td>
              <td>
                <%= link_to inform.patient  do %>
                  <%= inform.patient.fullname %>
                <% end %>
              </td>
              <td><%= inform.p_age %></td>
              <td><%= Promoter.where(id: inform.promoter_id).first.try(:initials) %></td>
              <td><%= Branch.where(id: inform.branch_id).first.try(:initials) %></td>
              <td><%= inform.prmtr_auth_code %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
