<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">

      <p>Informe número <%= @inform.tag_code %></p>
      <p>Paciente: <%= @inform.patient.name1 %> <%= @inform.patient.name2 %> <%= @inform.patient.lastname1 %> <%= @inform.patient.lastname2 %> F. recibo: <%= @inform.receive_date.strftime('%d/%m/%Y') %></p>
      <p><%= @inform.patient.id_type %>: <%= @inform.patient.id_number %> Edad: <%= @inform.patient.age_number %> <%= @inform.patient.age_type == 'A' ? 'Años' : @inform.patient.age_type == 'M' ? 'Meses' : 'Días' %> con Teléfono: <%= @inform.patient.tel %> F. infor: <%= @inform.delivery_date %></p>
      <p>Clínica: <%= Promoter.find(@inform.promoter_id).initials %> Entidad: <%= Branch.find(@inform.branch_id).initials %></p>
      <p>Doctor: </p>
      <p>Dirección: <%= @inform.patient.address %></p>
      <p>Descripción Macroscópica</p>
      <% @inform.macros.each_with_index do |macro, n| %>
        <p><%= macro.description %></p>
      <% end %>
      <p>Descripción Microscópica</p>
      <% @inform.micros.each_with_index do |micro, n| %>
        <p><%= micro.description %></p>
      <% end %>
      <p>Diagnóstico</p>
      <% @inform.diagnostics.each_with_index do |diagnostic, n| %>
        <p><%= diagnostic.description %></p>
        <p>Patólogo: <%= User.where(id: diagnostic.user_id).first.try(:first_name) %> <%= User.where(id: diagnostic.user_id).first.try(:last_name) %></p>
      <% end %>
      <p>Secretaria: <%= User.where(id: @inform.user_id).first.try(:first_name) %> <%= User.where(id: @inform.user_id).first.try(:last_name) %></p>
    </div>
  </div>
</div>