<!-- <div class="container-fluid"> -->
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">
      
        <div class="row">
          <div class="col-12 col-lg-12 my-3">
            <%= render partial: "inform" %>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12 col-lg-12 mb-3 mx-auto">
            <div class="recipient">
              <!-- <h1>Recipientes</h1> -->
              <%= render partial: "recipients", locals: { inform: @inform, edit_sample_tag: "", edit_recipient_tag: "", automatics: @automatics } %>
            </div>
          </div>
        </div>

        <% if @inform.inf_type == 'cito' %>
          <div class="row">
            <div class="col-12 col-lg-12 mb-3 mx-auto">
              <div class="cytology">
                <%= render partial: "cytologies", locals: { inform: @inform, edit_cytology_form: nil, edit_objection_id: nil } %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-12 col-lg-12 mb-3 mx-auto">
            <div class="codeval">
              <%= render partial: "codevals", locals: { inform: @inform, edit_study_form: nil, all_cups_price: @all_cups_price } %>
            </div>
          </div>
        </div>

        <% if @inform.inf_type == 'hosp' || @inform.inf_type == 'clin' %>
          <div class="row">
            <div class="col-12 col-lg-12 mb-3 mx-auto">
              <div class="block">
                <%= render partial: "blocks", locals: { inform: @inform, blocks: @blocks, samplesc: @samplesc, edit_objection_id: nil } %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-12 col-lg-12 mb-3 mx-auto">
            <div class="slide">
              <%= render partial: "slides", locals: { inform: @inform } %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-12 mb-3 mx-auto">
            <div class="micro">
              <%= render partial: "micros", locals: { inform: @inform } %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-12 mb-3 mx-auto">
            <div class="diagnostic">
              <%= render partial: "diagnostics", locals: { inform: @inform } %>
            </div>
          </div>
        </div>

        <% if @inform.inf_type == 'cito' %>
          <div class="row">
            <div class="col-12 col-lg-12 mb-3 mx-auto">
              <div class="suggestion">
                <%= render partial: "suggestions", locals: { inform: @inform } %>
              </div>
            </div>
          </div>
        <% end %>

    </div>
  </div>
<!-- </div> -->