<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-lg-8">
            <div class="card-body">
              <h5 class="card-title"><%= @inform.patient.name1 %> <%= @inform.patient.name2 %> <%= @inform.patient.lastname1 %> <%= @inform.patient.lastname2 %> - <%= @inform.patient.id_type %>: <%= @inform.patient.id_number %></h5>
              <h5 class="card-title"><%= @inform.tag_code %> recibido hace <%= time_ago_in_words(@inform.receive_date) %></h5>
              <p class="card-text">Médico tratante: <%= @inform.physician_id %></p>
              <p class="card-text">EPS: <%= Promoter.find(@inform.promoter_id).initials %></p>
              <p class="card-text">Sede IPS: <%= Branch.find(@inform.branch_id).initials %></p>
              <p class="card-text">Factura: <%= @inform.invoice %></p>
              <p class="card-text"><small class="text-muted">Creado el <%= @inform.created_at %></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-light">
    <%= render 'samples' %>
  </div>
  <div class="alert alert-secondary">
    <%= render 'codevals' %>
  </div>
  <div class="alert alert-dark">
    <%= render 'macros' %>
  </div>
  <div class="alert alert-warning">
    <%= render 'blocks' %>
  </div>
  <div class="alert alert-primary">
    <%= render 'slides' %>
  </div>
  <div class="alert alert-info">
    <%= render 'micros' %>
  </div>
  <div class="alert alert-success">
    <%= render 'diagnostics' %>
  </div>
</div>


<%= link_to 'Editar', edit_inform_path(@inform) %> |
<%= link_to 'Volver a informes', informs_path %>
