<%= render "shared/error_messages", target: @inform %>
<div class="row">
  <div class="col-12 col-lg-12 mx-auto">
    <div class="row">
      <div class="col-12 col-lg-12 col-xl-12 ml-1">
        <%= render partial: "inform" %>
      </div>
    </div>
    <br>
    <div class="container-fluid">
      <% if @inform.inf_type != "cito" %>
        
        <div class="row">
          <!-- <div class="col-12 col-lg-4 col-xl-4 macros-in">
            <%= render partial: "macros/macros", locals: { inform: @inform } %>
          </div> -->
          <div class="col-12 col-lg-6 col-xl-6">
            <div class="row">
              <div class="micros-in">
                <%= render partial: "micros/micros", locals: { inform: @inform, automatics: @automatics, edit_micro: nil, edit_objection_id: nil, edit_status: false } %>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-6">
            <div class="row">
              <div class="diagnostics-in">
                <%= render partial: "diagnostics/diagnostics", locals: { inform: @inform, diagcodes: @diagcodes, edit_diagnostic: nil, edit_objection_id: nil, edit_dx_status: false } %>
              </div>
            </div>          
          </div>
        </div>
      <% else %>

        <div class="row">
          <div class="col-12 col-lg-4 col-xl-4">
            <div class="micros-in">
              <%= render partial: "micros/micros", locals: { inform: @inform, automatics: @automatics, edit_micro: nil, edit_objection_id: nil, edit_status: false } %>
            </div>
          </div>
          <div class="col-12 col-lg-4 col-xl-4">
            <div class="diagnostics-in">
              <%= render partial: "diagnostics/diagnostics", locals: { inform: @inform, diagcodes: @diagcodes, edit_diagnostic: nil, edit_objection_id: nil, edit_dx_status: false } %>
            </div>
          </div>
          <div class="col-12 col-lg-4 col-xl-4">
            <div class="suggestions-in">
              <%= render partial: "suggestions/suggestions", locals: { inform: @inform, edit_suggestion: nil, edit_objection_id: nil, edit_su_status: false } %>
            </div>
          </div>
        </div>
        
      <% end %>
    </div>
    
    
    <% if role_admin_allowed? %>
      <% if @inform.administrative_review_id == nil %>
        <div class="row">
          <div class="col-4 col-lg-4 col-xl-4 mx-auto">
            <%= link_to "Admin: Marcar como listo para entrega", set_ready_inform_path(@inform), class: "btn btn-success btn-block mt-3" %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-4 col-lg-4 col-xl-4 mx-auto">
            <div class="alert alert-success">
              <h4>Revisado por: <%= User.where(id: @inform.administrative_review_id).first.try(:email) %></h4>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if role_path_allowed? %>
      <% if @inform.pathologist_review_id == nil %>
        <div class="row">
          <div class="col-4 col-lg-4 col-xl-4 mx-auto">
            <%= link_to "Patología: Listo para publicar!", set_ready_inform_path(@inform), class: "btn btn-success btn-block mt-3" %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-4 col-lg-4 col-xl-4 mx-auto">
            <div class="alert alert-success">
              <h4>Revisado por: <%= User.where(id: @inform.pathologist_review_id).first.try(:email) %></h4>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-4 col-lg-4 col-xl-4 mx-auto mt-2">
          <%= link_to "Retornar a lectura de material!", clear_revision_inform_path(@inform), class: "btn btn-warning btn-block mt-3" %>
        </div>
      </div>
    <% end %>
  </div>
</div>