<%= form_with(model: diagcode, local: true) do |form| %>
  <% if diagcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diagcode.errors.count, "error") %> prohibited this diagcode from being saved:</h2>

      <ul>
      <% diagcode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="form-group">
        <%= form.label "Órgano" %>
        <%= form.text_field :organ, class: "form-control input", placeholder: "Ej: 1. Corazon (sin tildes)" %>
      </div>

      <div class="form-group">
        <%= form.label "Lesión" %>
        <%= form.text_field :feature1, class: "form-control input", placeholder: "Ej: A. Inflamacion" %>
      </div>

      <div class="form-group">
        <%= form.label "Tipo" %>
        <%= form.text_field :feature2, class: "form-control input", placeholder: "Ej: 1. Reumatica" %>
      </div>

      <div class="form-group">
        <%= form.label "Clase" %>
        <%= form.text_field :feature3, class: "form-control input", placeholder: "Ej: D. Micotico" %>
      </div>

      <div class="form-group">
        <div class="form-check form-check-inline">
          <%= form.check_box :cancer, class: "form-check-input" %>
          <%= form.label "Es cancer", class: "form-check-label" %>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">

      <div class="form-group">
        <%= form.label "Código del órgano" %>
        <%= form.text_field :feature1, class: "form-control input", placeholder: "(número): Ej: 1 es corazón" %>
      </div>

      <div class="form-group">
        <%= form.label "Código PSS" %>
        <%= form.text_field :pss_code, class: "form-control input" %>
      </div>

      <div class="form-group">
        <%= form.label "Código OMS" %>
        <%= form.text_field :who_code, class: "form-control input" %>
      </div>

      <div class="form-group">
        <%= form.label "Descripción" %>
        <%= form.text_area :description, class: "form-control input", placeholder: "Puedes complementar" %>
      </div>

    </div>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class: "btn btn-primary mb-2" %>
  </div>
<% end %>