<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">

      <h4>Importar datos</h4>
      <%= form_tag import_diagcodes_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Importar CSV" %>
      <% end %>

      <h1>Listado de Diagnósticos automáticos</h1>
      <table class="table-striped dense">
        <thead class="thead-dark">
          <tr>
            <tr>
              <!-- <th>Admin</th> -->
              <th>Órgano</th>
              <th>Lesión</th>
              <th>Tipo</th>
              <th>Clase</th>
              <!-- <th>Sub Clase 1</th> -->
              <!-- <th>Sub Clae 2</th> -->
              <th>Descr.</th>
              <th>Pss code</th>
              <th>Cáncer</th>
              <!-- <th>Archivo</th> -->
              <!-- <th>Who code</th> -->
              <!-- <th>Score</th> -->
              <!-- <th>Order</th> -->
              <th colspan="3"></th>
            </tr>
        </thead>

        <tbody>
          <% @diagcodes.each do |diagcode| %>
            <tr>
              <!-- <td><%= diagcode.admin_id %></td> -->
              <td><%= diagcode.organ %></td>
              <td><%= diagcode.feature1 %></td>
              <td><%= diagcode.feature2 %></td>
              <td><%= diagcode.feature3 %></td>
              <!-- <td><%= diagcode.feature4 %></td> -->
              <!-- <td><%= diagcode.feature5 %></td> -->
              <td><%= diagcode.description %></td>
              <td><%= diagcode.pss_code %></td>
              <% if diagcode.cancer %>
                <td><span class="badge badge-pill badge-danger">Cáncer<span></td>
              <% else %>
                <td></td>
              <% end %>
              <!-- <td><%= load_txt("/Users/ericsuescun/Documents/Projects/rails/hipodecos/app/assets/txt/" + diagcode.pss_code.to_s.strip + ".txt") %></td> -->
              <!-- <td><%= diagcode.who_code %></td> -->
              <!-- <td><%= diagcode.score %></td> -->
              <!-- <td><%= diagcode.order %></td> -->
              <td><%= link_to 'Detalles', diagcode %></td>
              <td><%= link_to 'Editar', edit_diagcode_path(diagcode) %></td>
              <td><%= link_to 'Borrar', diagcode, method: :delete, data: { confirm: '¿Confirmas la operación?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
