<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">

      <h4>Importar datos</h4>
      <%= form_tag import_diagcodes_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Importar CSV" %>
      <% end %>

      <h1>Listado de Diagnósticos automáticos</h1>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <tr>
              <th>Admin</th>
              <th>Organ</th>
              <th>Feature1</th>
              <th>Feature2</th>
              <th>Feature3</th>
              <th>Feature4</th>
              <th>Feature5</th>
              <th>Description</th>
              <th>Pss code</th>
              <th>Who code</th>
              <th>Score</th>
              <th>Order</th>
              <th colspan="3"></th>
            </tr>
        </thead>

        <tbody>
          <% @diagcodes.each do |diagcode| %>
            <tr>
              <td><%= diagcode.admin_id %></td>
              <td><%= diagcode.organ %></td>
              <td><%= diagcode.feature1 %></td>
              <td><%= diagcode.feature2 %></td>
              <td><%= diagcode.feature3 %></td>
              <td><%= diagcode.feature4 %></td>
              <td><%= diagcode.feature5 %></td>
              <td><%= diagcode.description %></td>
              <td><%= diagcode.pss_code %></td>
              <td><%= diagcode.who_code %></td>
              <td><%= diagcode.score %></td>
              <td><%= diagcode.order %></td>
              <td><%= link_to 'Show', diagcode %></td>
              <td><%= link_to 'Edit', edit_diagcode_path(diagcode) %></td>
              <td><%= link_to 'Destroy', diagcode, method: :delete, data: { confirm: '¿Confirmas la operación?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
