<p id="notice"><%= notice %></p>

<p>
  <strong>Descrip. micro:</strong>
  <%= @micro %>
</p>

<p>
  <strong>DX:</strong>
  <%= @dx %>
</p>

<p>
  <strong>File options:</strong>
  <% @opt.each_with_index do |opt, index| %>
    <p>
      <strong>Option <%= index %></strong>
      <%= opt[/(?=txt).*/] %>:
      <%= openfile(opt) %>
    </p>
  <% end %>
</p>

<!-- 

<p>
  <strong>Admin:</strong>
  <%= @diagcode.admin_id %>
</p>
 -->
<p>
  <strong>Organ:</strong>
  <%= @diagcode.organ %>

  <strong>Feature1:</strong>
  <%= @diagcode.feature1 %>

  <strong>Feature2:</strong>
  <%= @diagcode.feature2 %>

  <strong>Feature3:</strong>
  <%= @diagcode.feature3 %>
</p>

<!-- <p>
  <strong>Feature4:</strong>
  <%= @diagcode.feature4 %>
</p>

<p>
  <strong>Feature5:</strong>
  <%= @diagcode.feature5 %>
</p> -->

<p>
  <strong>Description:</strong>
  <%= @diagcode.description %>
</p>

<p>
  <strong>Pss code:</strong>
  <%= @diagcode.pss_code %>
</p>

<!-- <p>
  <strong>Who code:</strong>
  <%= @diagcode.who_code %>
</p> -->
<!-- 
<p>
  <strong>Score:</strong>
  <%= @diagcode.score %>
</p>

<p>
  <strong>Order:</strong>
  <%= @diagcode.order %>
</p> -->

<%= link_to 'Edit', edit_diagcode_path(@diagcode) %> |
<%= link_to 'Back', diagcodes_path %>
