<div class="container">
  <div class="row">
    <div class="col-6">
      <strong>Organ:</strong>
        <p>
          <%= @diagcode.organ %>
        </p>

        <p>
          <strong>Feature1:</strong>
        <%= @diagcode.feature1 %>
        </p>
        

        <p>
          <strong>Feature2:</strong>
          <%= @diagcode.feature2 %>
        </p>
        

        <p>
          <strong>Feature3:</strong>
          <%= @diagcode.feature3 %>
        </p>
        
    </div>
    <div class="col-6">
      <p>
        <strong>Description:</strong>
        <%= @diagcode.description %>
      </p>
      
      <p>
        <strong>Pss code:</strong>
        <%= @diagcode.pss_code %>
      </p>
      
      <p>
        <strong>Es cancer:</strong>
        <% if @diagcode.cancer %>
          <td><span class="badge badge-pill badge-danger">SI<span></td>
        <% else %>
          <td><span class="badge badge-pill badge-success">NO<span></td>
        <% end %>
      </p>

      <p>
        <strong>Who code:</strong>
        <%= @diagcode.who_code %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <%= link_to 'Editar', edit_diagcode_path(@diagcode) %> |
      <%= link_to 'Listado', diagcodes_path %>
    </div>
  </div>
</div>


