<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email2 %>
    <%= form.text_field :email2 %>
  </div>

  <div class="field">
    <%= form.label :tel %>
    <%= form.text_field :tel %>
  </div>

  <div class="field">
    <%= form.label :cel %>
    <%= form.text_field :cel %>
  </div>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.date_select :birth_date %>
  </div>

  <div class="field">
    <%= form.label :join_date %>
    <%= form.date_select :join_date %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="field">
    <%= form.label :deactivation_date %>
    <%= form.date_select :deactivation_date %>
  </div>

  <div class="field">
    <%= form.label :last_admin_id %>
    <%= form.number_field :last_admin_id %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.number_field :role_id %>
  </div>

  <div class="field">
    <%= form.label :file_id %>
    <%= form.number_field :file_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
