<div class="contanier">
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <h1>Usuarios de Hipodecos</h1>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Email alterno</th>
            <th>Teléfono</th>
            <th>Celular</th>
            <th>Cumpleaños</th>
            <th>Ingreso</th>
            <th>Activo</th>
            <th>Salida</th>
            <th>Último Admin</th>
            <th>Notas</th>
            <th>Cargo</th>
            <th>Hoja de vida</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td>
              <td><%= user.email %></td>
              <td><%= user.email2 %></td>
              <td><%= user.tel %></td>
              <td><%= user.cel %></td>
              <td><%= user.birth_date %></td>
              <td><%= user.join_date %></td>
              <td><%= user.active %></td>
              <td><%= user.deactivation_date %></td>
              <td><%= user.last_admin_id %></td>
              <td><%= user.notes %></td>
              <td><%= user.role_id %></td>
              <td><%= user.file_id %></td>
              <td><%= link_to 'Editar', edit_user_registration_path(user) %></td>
              <td><%= link_to 'Salir', destroy_admin_session_path, method: :delete, data: { confirm: '¿Confirmas la acción?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to 'Registrar otro usuario', new_user_registration_path %>
    </div>
  </div>
</div>