<div class="contanier">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      <h1>Usuarios de Hipodecos</h1>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Celular</th>
            <th>Activo</th>
            <th>Cargo</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td>
              <td><%= user.email %></td>
              <td><%= user.tel %></td>
              <td><%= user.cel %></td>
              <td><%= user.active %></td>
              <td><%= Role.find(user.role_id.to_i).name %></td>
              <td><%= link_to 'Editar User', edit_user_registration_path(user) %></td>
              <td><%= link_to 'Editar Datos', edit_user_path(user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to 'Crear otro usuario', new_user_registration_path %>
    </div>
  </div>
</div>