<%= link_to 'Editar tabla de costos ' + @cost.name, edit_cost_path(@cost) %> |
<%= link_to 'Volver a tabla de costos', costs_path %>

<div class="container">
  <div class="row">
    <div class="col-8 col-lg-8 mx-auto">
      <div class="card text-center my-3">
        <div class="card-header">
          Tabla de costos: <strong><%= @cost.name %></strong>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= Admin.find(@cost.admin_id).name %> tomó como tabla base: <%= @cost.base == nil ? "Ninguna" : Cost.find(@cost.base).name %></h5>
          <p class="card-text"><%= @cost.description %></p>
        </div>
        <div class="card-footer text-muted">
        	Fecha de creación: <%= @cost.created_at.strftime('%d/%m/%Y') %> - Fecha de modificación: <%= @cost.updated_at.strftime('%d/%m/%Y') %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  	<div class="col-12 col-lg-12 mx-auto">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>CUPS</th>
						<th>Costo</th>
						<th>Asigando por:</th>
            <th>Comentarios</th>
            <th scope="1"></th>
					</tr>
					
				</thead>
				<tbody>
          <% @cost.values.each do |value| %>
  					<tr>
  						<td><%= value.codeval.code %></td>
  						<td><%= number_to_currency(value.value, precision: 0, delimiter: '.') %></td>
  						<td><%= Admin.find(value.admin_id).name %></td>
              <td><%= value.description %></td>
              <td><%= link_to "Editar", edit_value_path(value) %></td>
  					</tr>
          <% end %>
				</tbody>
			</table>
  	</div>
  </div>
</div>