<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">
      <h1>Resultados</h1>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Informe</th>
            <th>Ingreso PSS</th>
            <th>User PSS</th>
            <th>Paciente</th>
            <th>EPS</th>
            <th>Sede IPS</th>
            <th>Código Authoriz.</th>
          </tr>
        </thead>

        <tbody>
          <% @oldcitos.each do |oldcito| %>
            <tr>
              <td>
                <%= link_to show_oldcito_result_path(oldcito)  do %>
                  <%= oldcito.clave %><%= oldcito.fecharec.strftime("%y") %>-<%= oldcito.numero %>
                <% end %>
              </td>
              <td><%= oldcito.fecharec.strftime('%d/%m/%Y') %></td>
              <td><%= oldcito.secretauno %></td>
              <td>
                <%= Patient.where(id: oldcito.patient_id).first.fullname %> 
              </td>
              <td><%= oldcito.prestador %></td>
              <td><%= oldcito.clinica %></td>
              <td><%= oldcito.autoriz %></td>
              
            </tr>  
          <% end %>
          <% @oldrecords.each do |oldrecord| %>
            <tr>
              <td>
                <%= link_to show_oldrecord_result_path(oldrecord)  do %>
                  <%= oldrecord.clave %><%= oldrecord.fecharec.strftime("%y") %>-<%= oldrecord.numero %>
                <% end %>
              </td>
              <td><%= oldrecord.fecharec.strftime('%d/%m/%Y') %></td>
              <td><%= oldrecord.secretauno %></td>
              <td>
                <%= Patient.where(id: oldrecord.patient_id).first.fullname %> 
              </td>
              <td><%= oldrecord.prestador %></td>
              <td><%= oldrecord.clinica %></td>
              <td><%= oldrecord.autoriz %></td>
              
            </tr>  
          <% end %>
          <% @informs.each do |inform| %>
            <tr>
              <td>
                <%= link_to result_path(inform)  do %>
                  <%= inform.tag_code %>
                <% end %>
              </td>
              <td><%= inform.receive_date.strftime('%d/%m/%Y') %></td>
              <td><%= User.where(id: inform.user_id).first.try(:first_name) %></td>
              <td>
                <%= inform.patient.fullname %> 
              </td>
              <td><%= Promoter.where(id: inform.promoter_id).first.try(:initials) %></td>
              <td><%= Branch.where(id: inform.branch_id).first.try(:initials) %></td>
              <td><%= inform.prmtr_auth_code %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4 col-lg-4 col-xl-4">
        <%= link_to "Salir de forma segura", destroy_patient_session_path, method: :delete, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  
</div>
