<header>
  <%= link_to 'Volver a resultados', results_path %> |
  <%= link_to 'Descargar en PDF', result_path(@oldrecord, format: "pdf") %>
  <%= link_to "Salir de forma segura", destroy_patient_session_path, method: :delete, class: "btn btn-primary" %>
</header>


<div class="container">
  <div class="row">
    <div class="col-10 col-lg-10 mx-auto">
      <br>
      <div class="row d-flex flex-row">
        <div class="col-4 col-lg-4">
          <%= image_tag "logo.JPG", class: "img-fluid" %>
        </div>
        <div class="col-4 col-lg-4">
        </div>
        <div class="col-4 col-lg-4">
          <%= image_tag "datos.JPG", class: "img-fluid" %>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-lg-4 mx-auto">
          <strong>Informe número</strong> <%= @oldrecord.oldrecord_tag %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-6 col-lg-6">
          <strong>Paciente:</strong> <%= @patient.fullname %> 
        </div>
        <div class="col-3 col-lg-3">
        </div>
        <div class="col-3 col-lg-3">
          <strong>F. recibo:</strong> <%= @oldrecord.fecharec.strftime('%d/%m/%Y') %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-3 col-lg-3">
          <strong><%= @patient.id_type %>:</strong> <%= @patient.id_number %>
        </div>
        <div class="col-3 col-lg-3">
          <strong>Edad:</strong> <%= @oldrecord.edad %> <%= @oldrecord.uniedad == 'A' ? 'Años' : @oldrecord.uniedad == 'M' ? 'Meses' : 'Días' %>
        </div>
        <div class="col-3 col-lg-3">
          
        </div>
        <div class="col-3 col-lg-3">
          <strong>F. infor:</strong> <%= @oldrecord.fecha %>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-lg-3">
          <strong>Teléfono:</strong> <%= @oldrecord.telefono %>
        </div>
        <div class="col-3 col-lg-3">
          <strong>Celular:</strong>
        </div>
        <div class="col-6 col-lg-6">
          <strong>Email:</strong>
        </div>
      </div>

      <div class="row">
        <div class="col-3 col-lg-3">
          <strong>Clínica:</strong> <%= @oldrecord.clinica %>
        </div>
        <div class="col-4 col-lg-4">
          <strong>Entidad:</strong> <%= @oldrecord.entidad %>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-lg-6">
          <strong>Doctor:</strong> <%= @oldrecord.dnombre %> <%= @oldrecord.dapellido %>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-lg-6">
          <strong>Dirección de entrega:</strong> <%= @oldrecord.oficina %>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-4 col-lg-4">
          <strong>Descripción Macroscópica</strong>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">
          <div class="preview">
            <%= simple_format(fix_accent(@oldrecord.descr)) %>
          </div>
        </div>
      </div>
      
      <div class="row diagnostic">
        <div class="col-12 col-lg-12">
          <div class="card mt-3">
            <div class="card-header text-center">
              <strong>DIAGNÓSTICO Y PROCEDIMIENTOS</strong>
            </div>
            <div class="card-body">
              <h5 class="card-title"><strong><%= fix_accent(@oldrecord.diagnostic) %></strong></h5>
              <div class="row d-flex flex-row">
                <div class="col-4 col-lg-4 mt-3">
                  <h5 class="card-title"><strong>Patólogo:</strong> <%= @oldrecord.patologo %> </h5>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
              <div>
                <strong>Código:</strong> <%= @oldrecord.codigo %>, <%= @oldrecord.codigo1 %>, <%= @oldrecord.codigo2 %>, <%= @oldrecord.codigo3 %>, <%= @oldrecord.codigo4 %>, <%= @oldrecord.codigo5 %> <strong>DX:</strong> <%= @oldrecord.dx %>
              </div>
              <div>
                <strong>Secretaria:</strong> <%= @oldrecord.secretaria %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>