<p id="notice"><%= notice %></p>

<p>
  <strong>Codeval:</strong>
  <%= @factor.codeval %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @factor.rate %>
</p>

<p>
  <strong>Factor:</strong>
  <%= @factor.factor %>
</p>

<p>
  <strong>Description:</strong>
  <%= @factor.description %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @factor.admin_id %>
</p>

<%= link_to 'Edit', edit_factor_path(@factor) %> |
<%= link_to 'Back', factors_path %>
