<div id="control-block-<%= block.block_tag %>">
  
  <div class="d-flex justify-content-around align-items-center mt-1">

    <%= form_with url: execute_templates_block_fm1_path, method: "get", id: "block-#{block.block_tag}" do |form| %>
      <%= form.submit "-1", class: "mx-2 my-0 d-flex", style: "padding-left: 10px;padding-right: 10px;font-size: 16px;border: 1px solid grey; border-radius: 3px;background-color: purple;color: white;" %>
      <%= form.hidden_field :sample_id, value: sample.id %>
      <%= form.hidden_field :block_id, value: block.id %>
      <%= form.hidden_field :fragment, value: block.fragment %>
    <% end %>

    <%= form_with url: execute_templates_block_fok_path, method: "get", id: "block-#{block.block_tag}" do |form| %>
      <%= form.submit "OK", class: "mx-2 my-0 d-flex", style: "padding-left: 10px;padding-right: 10px;font-size: 16px;border: 1px solid grey; border-radius: 3px;background-color: purple;color: white;" %>
      <%= form.hidden_field :sample_id, value: sample.id %>
      <%= form.hidden_field :block_id, value: block.id %>
    <% end %>

    <%= form_with url: execute_templates_block_fp1_path, method: "get", id: "block-#{block.block_tag}" do |form| %>
      <%= form.submit "+1", class: "mx-2 my-0 d-flex", style: "padding-left: 10px;padding-right: 10px;font-size: 16px;border: 1px solid grey; border-radius: 3px;background-color: purple;color: white;" %>
      <%= form.hidden_field :sample_id, value: sample.id %>
      <%= form.hidden_field :block_id, value: block.id %>
      <%= form.hidden_field :fragment, value: block.fragment %>
    <% end %>

  </div>

</div>