<%= form_with(model: block, local: true) do |form| %>
  <% if block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(block.errors.count, "error") %> prohibited this block from being saved:</h2>

      <ul>
      <% block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :inform_id %>
    <%= form.text_field :inform_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :block_tag %>
    <%= form.text_field :block_tag %>
  </div>

  <div class="field">
    <%= form.label :stored %>
    <%= form.check_box :stored %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
