<div id="control-block-<%= block.block_tag %>">
  <% if block.slide_tag == nil %>
    <span class="blocks-card-<%= block.block_tag %>">Sin placa asociada</span>
  <% else %>
    <% if Slide.where(slide_tag: block.slide_tag).length == 0 %>
      <span class="blocks-card-<%= block.block_tag %>">Placa asociada borrada</span>
    <% else %>
      <span class="blocks-card-<%= block.block_tag %> badge badge-dark">Placa asociada: <%= block.slide_tag %></span>
      <% Slide.where(slide_tag: block.block_tag + "*").each do |slide| %>
        <span class="blocks-card-<%= block.block_tag %> badge badge-dark">Placa asociada: <%= slide.slide_tag %></span>
      <% end %>
    <% end %>
  <% end %>
  <div class="d-flex justify-content-end align-items-center mt-1">
    <% if block.slide_tag == nil %>
      <%= form_with url: list_blocks_add_block_slide_path + "?init_date=#{params[:init_date]}&final_date=#{params[:final_date]}", method: "post", id: "block-#{block.block_tag}" do |form| %>
        <div class="actions d-flex flex-row">
          <%= form.submit "+P", class: "btn btn-outline-dark mx-2" %>
          <%= form.hidden_field :sample_id, value: sample.id %>
          <%= form.hidden_field :block_id, value: block.id %>
          <%= form.hidden_field :block_tag, value: block.block_tag %>
        </div>
      <% end %>
    <% else %>
      <%= form_with url: list_blocks_add_block_series_path + "?init_date=#{params[:init_date]}&final_date=#{params[:final_date]}" do |form| %>
        <div class="actions d-flex flex-row">
          <%= form.submit "+S", class: "btn btn-outline-dark mx-2" %>
          <%= form.hidden_field :block_id, value: block.id %>
        </div>
      <% end %>
    <% end %>
    <% if block.slide_tag == nil && Slide.where(inform_id: block.inform).length != 0 %>
      <%= form_with url: list_blocks_associate_block_slide_path + "?init_date=#{params[:init_date]}&final_date=#{params[:final_date]}" do |form| %>
        <div class="actions d-flex flex-row">
          <%= form.submit "+A", class: "btn btn-outline-dark mx-2" %>
          <%= form.collection_select(:destination_slide, block.inform.slides, :slide_tag, :slide_tag, { prompt: 'Placa'}, { class: "form-control input" }) %>
          <%= form.hidden_field :block_id, value: block.id %>
          <%= form.hidden_field :sample_id, value: sample.id %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>