<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <%= form_with(model: sample, local: true) do |form| %>

        <div class="form-group">
          <%= form.label "Código CUPS" %>
          <%= form.select :codeval_id, Codeval.pluck(:name, :id), {prompt:"Seleccione el CUPS"}, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label "Factor" %>
          <%= form.number_field :factor, class: "form-control input" %>
        </div>

        <div class="actions">
          <%= form.submit "Guardar", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
