<%= form_with(model: study, local: true) do |form| %>
  <% if study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(study.errors.count, "error") %> prohibited this study from being saved:</h2>

      <ul>
      <% study.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :inform_id %>
    <%= form.text_field :inform_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :codeval_id %>
    <%= form.number_field :codeval_id %>
  </div>

  <div class="field">
    <%= form.label :factor %>
    <%= form.number_field :factor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
