<p id="notice"><%= notice %></p>

<p>
  <strong>Inform:</strong>
  <%= @study.inform %>
</p>

<p>
  <strong>User:</strong>
  <%= @study.user_id %>
</p>

<p>
  <strong>Codeval:</strong>
  <%= @study.codeval_id %>
</p>

<p>
  <strong>Factor:</strong>
  <%= @study.factor %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
