<div class="container">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">
      <%= form_with(model: patient, local: true) do |form| %>
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="form-group">
              <%= form.label "Número de identificación" %>
              <%= form.text_field :id_number, class: "form-control form-control-lg input" %>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="form-group">
              <%= form.label "Tipo de identificación" %>
              <%= form.number_field :id_type, class: "form-control form-control-lg input" %>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="form-group">
              <%= form.label "Fecha de nacimiento" %>
              <%= form.date_select :birth_date, class: "form-control form-control-lg input" %>
            </div>
          </div>
        </div>
        

        

        

        <div class="form-group">
          <%= form.label "Edad" %>
          <%= form.number_field :age_number, class: "form-control form-control-lg input" %>
        </div>

        <div class="form-group">
          <%= form.label "Unidad Edad" %>
          <%= form.number_field :age_type, class: "form-control form-control-lg input" %>
        </div>

        <div class="form-group">
          <%= form.label "Primer nombre" %>
          <%= form.text_field :name1, class: "form-control form-control-lg input" %>
        </div>

        <div class="form-group">
          <%= form.label "Segundo nombre" %>
          <%= form.text_field :name2, class: "form-control form-control-lg input" %>
        </div>

        <div class="form-group">
          <%= form.label "Primer apellido" %>
          <%= form.text_field :lastname1, class: "form-control form-control-lg input" %>
        </div>

        <div class="form-group">
          <%= form.label "Segundo apellido" %>
          <%= form.text_field :lastname2, class: "form-control form-control-lg input" %>
        </div>

        <div class="form-group">
          <%= form.label "Sexo" %>
          <%= form.number_field :sex, class: "form-control form-control-lg input" %>
        </div>

        <div class="form-group">
          <%= form.label "Dirección" %>
          <%= form.text_field :address, class: "form-control form-control-lg input" %>
        </div>

        <div class="form-group">
          <%= form.label "Email" %>
          <%= form.text_field :email, class: "form-control form-control-lg input" %>
        </div>

        <div class="form-group">
          <%= form.label "Teléfono" %>
          <%= form.text_field :tel, class: "form-control form-control-lg input" %>
        </div>

        <div class="form-group">
          <%= form.label "Celular" %>
          <%= form.text_field :cel, class: "form-control form-control-lg input" %>
        </div>

        <div class="form-group">
          <%= form.label "Ocupación" %>
          <%= form.text_field :occupation, class: "form-control form-control-lg input" %>
        </div>

        <div class="form-group">
          <%= form.label "Código de residencia" %>
          <%= form.text_field :residence_code, class: "form-control form-control-lg input" %>
        </div>

        <div class="form-group">
          <%= form.label "Municipio" %>
          <%= form.text_field :municipality, class: "form-control form-control-lg input" %>
        </div>

        <div class="form-group">
          <%= form.label "Departamento" %>
          <%= form.text_field :department, class: "form-control form-control-lg input" %>
        </div>

        <div class="actions">
          <%= form.submit "Guardar", class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>

    </div>
  </div>
</div>

