<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">
      <div class="alert alert-primary">
        <h4>Pacientes <%= search_range %></h4>
      </div>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th># id</th>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Cel</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @patients.each do |patient| %>
            <tr>
              <td><%= patient.id_type %>
                <%= link_to patient do %>
                   <%= patient.id_number %>
                <% end %>
              </td>
              <td><%= patient.fullname %></td>
              <td><%= patient.sex %></td>
              <td><%= patient.informs.first.try(:p_address) %></td>
              <td><%= patient.informs.first.try(:p_email) %></td>
              <td><%= patient.informs.first.try(:p_tel) %></td>
              <td><%= patient.informs.first.try(:p_cel) %></td>
              <td><%= link_to 'Editar', edit_patient_path(patient) %></td>
              <% if admin_signed_in? %>
                <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

