<div class="container-fluid">
  <% if params[:inf_type] %>
    <div class="info">
      <h4>Siguiente informe para <%= params[:inf_type] == "clin" ? "Clínica" : params[:inf_type] == "hosp" ? "Hospital" : "Citología" %>: <%= next_inform(params[:inf_type]) %></h4>
    </div>
  <% end %>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="alert alert-info">
            <h4>Buscar por identificación:</h4>
            <%= form_tag patients_new_series_path, method: "get" do %>
              <div class="col-12">
                <div class="form-group">
                  <%= hidden_field_tag :inf_type, params[:inf_type] %>
                  <%= text_field_tag :id_number, nil, autofocus: true, class: "form-control input", placeholder: "# identificación" %>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <%= submit_tag "Buscar/Matricular varios", class: "btn btn-primary btn-block" %>
                </div>
              </div>

            <% end %>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="alert alert-info">
            <h4>Pacientes atendidos entre fechas:</h4>
            <%= form_tag patients_path, method: "get" do %>
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <%= date_field_tag :init_date, nil, class: "form-control" %>
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group">
                    <%= date_field_tag :final_date, nil, class: "form-control" %>
                  </div>
                </div>
              </div>
              <%= submit_tag "Buscar", class: "btn btn-primary btn-block" %>
            <% end %>
          </div>

        </div>

      </div>
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="alert alert-info">
            <h4>Buscar por nombres y apellidos:</h4>
              <%= form_tag index_names_patients_path, method: "get" do %>
              <div class="row">
                <div class="col-12 col-lg-4">
                  <div class="form-group">
                    <%= text_field_tag :name, params[:name], class: "form-control" %>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="form-group">
                    <%= text_field_tag :lastname, params[:lastname], class: "form-control" %>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="form-group">
                    <%= submit_tag "Buscar", class: "btn btn-primary btn-block" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <%= will_paginate @patients, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th># id</th>
            <th>Nombre</th>
            <th>Ult inf</th>
            <th>Sexo</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Cel</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @patients.each do |patient| %>
            <tr>
              <td><%= patient.id_type %>
                <%= link_to patient do %>
                   <%= patient.id_number %>
                <% end %>
              </td>
              <td><%= patient.fullname %></td>
              <% if patient.informs != [] %>
                <td><%= link_to "#{patient.informs.first.tag_code}", patient.informs.first %></td>
              <% else %>
                <td>Sistema FoxPro</td>
              <% end %>
              <td><%= patient.sex %></td>
              <td><%= patient.informs.first.try(:p_email) %></td>
              <td><%= patient.informs.first.try(:p_tel) %></td>
              <td><%= patient.informs.first.try(:p_cel) %></td>
              <td><%= link_to 'Editar', edit_patient_path(patient) %></td>
              <% if admin_signed_in? %>
                <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @patients, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
    </div>
  </div>
</div>

