<div class="container-fluid">
  <h1>Matricular pacientes en serie</h1>
  <h6>Escribe la cédula o el número de identificación donde dice: # identificación y haz clic en Buscar / Matricular</h6>
  <%= form_tag patients_new_series_path, method: "get", class: "form-inline my-3 my-lg-0" do %>
    <%= text_field_tag :id_number, nil, class: "form-control input mx-2", placeholder: "# identificación" %>
    <button class="btn btn-primary my-2 my-3" type="submit">Buscar / Matricular</button>
  <% end %>
  <h6>Si tenemos el paciente, te lo muestro con opción de crear informe.</h6>
  <h6>Si no, te muestro como crearlo!</h6>
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto mt-3">
      <h1>Últimos 20 pacientes atendidos</h1>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th># id</th>
            <th>Sexo</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Cel</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @patients.each do |patient| %>
            <tr>
              <td><%= patient.id_type %>
                <%= link_to patient do %>
                   <%= patient.id_number %>
                <% end %>
              </td>
              <td><%= patient.fullname %></td>
              <td><%= patient.sex %></td>
              <td><%= patient.informs.first.try(:p_address) %></td>
              <td><%= patient.informs.first.try(:p_email) %></td>
              <td><%= patient.informs.first.try(:p_tel) %></td>
              <td><%= patient.informs.first.try(:p_cel) %></td>
              <td><%= link_to 'Editar', edit_patient_path(patient) %></td>
              <% if admin_signed_in? %>
                <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

