<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">
      <div class="alert alert-primary mt-3">
        <h1>Paciente: <%= @patient.name1 %> <%= @patient.name2 %> <%= @patient.lastname1 %> <%= @patient.lastname2 %> - <%= @patient.id_type %>: <%= @patient.id_number %></h1>
        <div class="row mt-3">
          <div class="col-12 col-lg-4">
            <h5>Características</h5>
            <br>
            <p>Sexo: <strong><%= @patient.sex %></strong></p>
            <p>F. Nac: <strong><%= @patient.birth_date || "sin fecha" %></strong></p>
            <p>Edad: <strong><%= @patient.age_number || '#' %> <%= @patient.age_type || '#' %></strong></p>
            <p>Ocupación: <strong><%= @patient.occupation %></strong></p>
            <p>Creado el: <strong><%= @patient.created_at.strftime("%d/%m/%Y") %></strong></p>
            <p>Modificado el: <strong><%= @patient.updated_at.strftime("%d/%m/%Y") %></strong></p>
          </div>
          <div class="col-12 col-lg-4">
            <h5>Contacto</h5>
            <br>
            <p>Tel: <strong><%= @patient.tel %></strong></p>
            <p>Cel: <strong><%= @patient.cel %></strong></p>
            <p>Email: <strong><%= @patient.email %></strong></p>
            <p>Dirección: <strong><%= @patient.address %></strong></p>
            <p>Municipio: <strong><%= @patient.municipality %></strong></p>
            <p>Departamento: <strong><%= @patient.department %></strong></p>
            <p>Código Res: <strong><%= @patient.residence_code %></strong></p>
          </div>
          <div class="col-12 col-lg-4">
            <h5>Diagnósticos previos encontrados</h5>
            <br>
            <% if @patient.informs.length == 0%>
              <h4>No se encuentrn diagnósticos previos para este paciente</h4>
            <% else %>
              <% @patient.informs.each do |inform| %>
                <% inform.diagnostics.each do |diagnostic| %>
                  <p>Dx: <strong><%= diagnostic.description %></strong></p>
                  <p><small>Fecha: <strong><%= diagnostic.created_at.strftime("%d/%m/%Y") %></strong></small></p>
                  <%= link_to "Ver informe", inform_path(inform), class: "btn btn-info" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>      
    </div>

  </div>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="alert alert-secondary">
        <h1>Informes previos</h1>
        <% @patient.informs.each do |inform| %>
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-lg-8">
                <div class="card-body">
                  <h5 class="card-title"><%= inform.tag_code %> recibido hace <%= time_ago_in_words(inform.receive_date) %></h5>
                  <p class="card-text">Médico tratante: <%= inform.physician_id %></p>
                  <p class="card-text">EPS: <%= Promoter.find(inform.promoter_id).initials %></p>
                  <p class="card-text">Sede IPS: <%= Branch.find(inform.branch_id).initials %></p>
                  <%= link_to 'Ir a informe', inform_path(inform), class: "btn btn-primary" %>
                  <p class="card-text"><small class="text-muted">Creado el <%= inform.created_at %></small></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="alert alert-success">
        <h1>Nuevo informe</h1>
        <%= form_for [@patient, @patient.informs.build] do |form| %>
        <div class="row">
          <div class="col-12 col-lg-6">

            <div class="form-group">
              <%= form.label "Médico tratante" %>
              <%= form.number_field :physician_id, class: "form-control form-control-lg input" %>
            </div>

            <div class="form-group">
              <%= form.label "Fecha de recepción" %>
              <%= form.date_field :receive_date, autocomplete: "Fecha de recepción", class: "form-control form-control-lg input"  %>
            </div>

            <div class="form-group">
              <%= form.label "Fecha de entrega" %>
              <%= form.date_field :delivery_date, autocomplete: "Fecha de entrega", class: "form-control form-control-lg input"  %>
            </div>

            <div class="form-group">
              <%= form.label "Código de autorización EPS/IPS" %>
              <%= form.text_field :prmtr_auth_code, class: "form-control form-control-lg input" %>
            </div>
            <div class="form-group">
              <%= form.label "Factura" %>
              <%= form.text_field :invoice, class: "form-control form-control-lg input" %>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="form-group">
              <%= form.label "Estado del paciente" %>
              <%= form.select(:status, options_for_select([['Ambulatorio', '1'], ['Hospitalizado', '2']], @patient.informs), { include_blank: true }, class: "form-control form-control-lg input") %>
            </div>

            <div class="form-group">
              <%= form.label :promoter_id %>
              <%= form.select :promoter_id, Promoter.pluck(:name, :id), {prompt:"Seleccione la EPS"}, class: "form-control form-control-lg input" %>
            </div>

            <div class="form-group">
              <%= form.label :branch_id %>
              <%= form.select :branch_id, Branch.pluck(:name, :id), {prompt:"Seleccione la Sede de la IPS"}, class: "form-control form-control-lg input" %>
            </div>

            <div class="form-group">
              <%= form.label "Tipo de zona" %>
              <%= form.select(:zone_type, options_for_select([['Rural', 'R'], ['Urbano', 'U']], @patient.informs), { include_blank: true }, class: "form-control form-control-lg input") %>
            </div>

            <div class="form-group">
              <%= form.label "Estado de embarazo" %>
              <%= form.select(:pregnancy_status, options_for_select([['EMB1', '1'], ['EMB2', '2'], ['EMB3', '3'], ['No Emb', '4']], @patient.informs), { include_blank: true }, class: "form-control form-control-lg input") %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4 mx-auto">
            <div class="actions">
              <%= form.submit "Guardar", class: "btn btn-primary btn-block" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
