
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">
      <h3>
        <strong><%= @patient.name1 %> <%= @patient.name2 %> <%= @patient.lastname1 %> <%= @patient.lastname2 %></strong>, <%= @patient.id_type %>: <strong><%= @patient.id_number %> </strong>
      </h3>
      
      <div class="inform">
        <% if @patient.informs.count > 0 %>
          <p>
            <strong>Datos del último informe:</strong> <strong><%= @patient.informs.first.p_age %> <%= @patient.informs.first.p_age_type == 'A' ? 'Años' : @patient.informs.first.p_age_type == 'M' ? 'Meses' : 'Días' %></strong>, 
          Teléfono: <strong><%= @patient.informs.first.p_tel %></strong> - Celular: <strong><%= @patient.informs.first.p_cel %></strong> - Dirección: <strong><%= @patient.informs.first.p_address %> - </strong>Email: <strong><%= @patient.informs.first.p_email %></strong>
          </p>
        <% end %>
        
      </div>
      <%= link_to 'Editar paciente', edit_patient_path(@patient) %> |
      <%= link_to 'Regresar a pacientes', patients_path %>
    </div>      
  </div>
</div>

<div class="row">
  <div class="col-8 col-lg-8">
    <div class="alert alert-dark ml-1">
      <h3>Nuevo informe</h3>
      <%= form_with model: @inform, local: true do |form| %>
        <%= form.hidden_field :patient_id, value: @patient.id %>
        <div class="row">
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <%= form.label "Fecha de matrícula" %>
              <%= form.label Date.today, class: "form-control input"  %>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <%= form.label "Fecha de recepción" %>
              <%= form.date_field :receive_date, value: Date.today, autocomplete: "Fecha de recepción", class: "form-control input", autofocus: true  %>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <%= form.label "Tipo Informe" %>
              <%= form.select(:inf_type, options_for_select([['Clínica', 'clin'], ['Hospital', 'hosp'], ['Citología', 'cito']]), { prompt:"Selecciona" }, class: "form-control form-control input") %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="form-group">
              <%= form.label "EPS" %>
              <%= form.select :promoter_id, Promoter.pluck(:name, :id), {prompt:"Selec EPS"}, class: "form-control input" %>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="form-group">
              <%= form.label "Sede IPS" %>
              <%= form.select :branch_id, Branch.pluck(:name, :id), {prompt:"Selec IPS"}, class: "form-control input" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <%= form.label "Autoriz EPS/IPS" %>
              <%= form.text_field :prmtr_auth_code, class: "form-control input" %>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <%= form.label "Estado del paciente" %>
              <%= form.select(:status, options_for_select([['Ambulatorio', '1'], ['Hospitalizado', '2']]), { include_blank: true }, class: "form-control input") %>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <%= form.label "Tipo de zona" %>
              <%= form.select(:zone_type, options_for_select([['Urbano', 'U'], ['Rural', 'R']]), { include_blank: true }, class: "form-control input") %>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <% if @patient.sex == 'F' %>
              <div class="form-group">
                <%= form.label "Estado de embarazo" %>
                <%= form.select(:pregnancy_status, options_for_select([['EMB1', '1'], ['EMB2', '2'], ['EMB3', '3'], ['No Emb', '4']]), { include_blank: true }, class: "form-control input") %>
              </div>
            <% else %>
              <div class="form-group">
                <%= form.label "Estado de embarazo" %>
                <fieldset disabled>
                  <%= form.select(:pregnancy_status, options_for_select([['No Emb', '4']]), { include_blank: false }, class: "form-control input") %>
                </fieldset>
              </div>
            <% end %>
          </div>
        </div>
          <%= form.fields_for :physicians do |phy_form| %>
            <h5>Médico tratante</h5>
            <div class="row">
              <div class="col-12 col-lg-4">
                <div class="form-group">
                  <%= phy_form.label "Nombre" %>
                  <%= phy_form.text_field :name, class: "form-control input" %>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="form-group">
                  <%= phy_form.label "Apellido" %>
                  <%= phy_form.text_field :lastname, class: "form-control input" %>
                </div>
              </div>
              <div class="col-12 col-lg-2">
                <div class="form-group">
                  <%= phy_form.label "Teléfono" %>
                  <%= phy_form.text_field :tel, class: "form-control input" %>
                </div>
              </div>
              <div class="col-12 col-lg-2">
                <div class="form-group">
                  <%= phy_form.label "Celular" %>
                  <%= phy_form.text_field :cel, class: "form-control input" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-4">
                <%= phy_form.label "email" %>
                <%= phy_form.text_field :email, class: "form-control input" %>
              </div>
              <div class="col-12 col-lg-4">
                <%= phy_form.label "Especialidad" %>
                <%= phy_form.text_field :study1, class: "form-control input" %>
              </div>
              <div class="col-12 col-lg-4">
                <%= phy_form.label "Otro estudio/especialidad" %>
                <%= phy_form.text_field :study2, class: "form-control input" %>
              </div>
            </div>
          <% end %>

        <div class="row">
          <div class="col-12 col-lg-4 mx-auto">
            <div class="actions">
              <%= form.submit "Guardar", class: "btn btn-primary btn-block mt-3" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to 'Borrar paciente', @patient, method: :delete, data: { confirm: '¿Confirmas la operación?' }, class: "btn btn-danger" %>
    </div>
  </div>
  <div class="col-4 col-lg-4">
    <div class="alert alert-info mr-1">
      <h3>Diagnósticos previos encontrados</h3>
      <br>
      <% if @patient.informs.length == 0%>
        <h4>No se encuentran diagnósticos previos para este paciente</h4>
      <% else %>
        <% @patient.informs.each do |inform| %>
          <ul>
            <% inform.diagnostics.each do |diagnostic| %>
              <li>
                <span class="diagnostic"><strong><%= diagnostic.description %></strong></span>
                <p><small>Fecha: <strong><%= diagnostic.created_at.strftime("%d/%m/%Y") %></strong></small> | <%= link_to "Ver informe", inform_path(inform) %></p>
              </li>
            <% end %>
          </ul>
          
        <% end %>
      <% end %>
    </div>
  </div>
</div>



