
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">
      <h3>
        <strong><%= @patient.name1 %> <%= @patient.name2 %> <%= @patient.lastname1 %> <%= @patient.lastname2 %></strong>, <%= @patient.id_type %>: <strong><%= @patient.id_number %> </strong>
      </h3>
      
      <div class="inform">
        <% if @patient.informs.count > 0 %>
          <p>
            <strong>Datos del último informe:</strong> <strong><%= @patient.informs.first.p_age %> <%= @patient.informs.first.p_age_type == 'A' ? 'Años' : @patient.informs.first.p_age_type == 'M' ? 'Meses' : 'Días' %></strong>, 
          Teléfono: <strong><%= @patient.informs.first.p_tel %></strong> - Celular: <strong><%= @patient.informs.first.p_cel %></strong> - Dirección: <strong><%= @patient.informs.first.p_address %> - </strong>Email: <strong><%= @patient.informs.first.p_email %></strong>
          </p>
        <% end %>
        
      </div>
      <%= link_to 'Editar paciente', edit_patient_path(@patient) %> |
      <%= link_to 'Regresar a pacientes', patients_path %>
    </div>      
  </div>
</div>

<div class="row">
  <div class="col-8 col-lg-8">
    <div class="alert alert-dark ml-1">
      <h3>Nuevo informe</h3>
      <%= form_with model: @inform, local: true do |informs_form| %>
        <h5>Datos del informe en la fecha de recepción del estudio de patología:</h5>
        <div class="row">
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <%= informs_form.label "Tipo Informe" %>
              <%= informs_form.select(:inf_type, options_for_select([['Clínica', 'clin'], ['Hospital', 'hosp'], ['Citología', 'cito']], @patient.informs), { include_blank: true }, class: "form-control form-control input") %>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <%= informs_form.label "EPS" %>
              <%= informs_form.select :promoter_id, @promoters, {prompt:"Seleccione la EPS"}, class: "form-control input" %>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <%= informs_form.label "Sede IPS" %>
              <%= informs_form.select :branch_id, Branch.pluck(:initials, :id), {prompt:"Seleccione la Sede de la IPS"}, class: "form-control input" %>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <%= informs_form.label "Factura" %>
              <%= informs_form.text_field :invoice, autocomplete: "Factura", class: "form-control input"  %>
            </div>
          </div>
        </div> 
        <div class="row">
          <div class="col-12 col-lg-2">
            <div class="form-group">
              <%= informs_form.label "Fecha recepción" %>
              <%= informs_form.date_field :receive_date, value: Date.today, autocomplete: "Fecha de nacimiento", class: "form-control input"  %>
            </div>
          </div>
          <div class="col-12 col-lg-2">
            <div class="form-group">
              <%= informs_form.label "Edad" %>
              <%= informs_form.number_field :p_age, class: "form-control input" %>
            </div>
          </div>
          <div class="col-12 col-lg-1">
            <div class="form-group">
              <%= informs_form.label "UniEdad" %>
              <%= informs_form.select(:p_age_type, options_for_select([['Años', 'A'], ['Meses', 'M'], ['Días', 'D']]), { include_blank: true }, class: "form-control input") %>
            </div>
          </div>
          <div class="col-12 col-lg-2">
            <div class="form-group">
              <%= informs_form.label "Teléfono" %>
              <%= informs_form.text_field :p_tel, class: "form-control input" %>
            </div>
          </div>
          <div class="col-12 col-lg-2">
            <div class="form-group">
              <%= informs_form.label "Celular" %>
              <%= informs_form.text_field :p_cel, class: "form-control input" %>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <%= informs_form.label "Email" %>
              <%= informs_form.text_field :p_email, class: "form-control input" %>
            </div>
          </div>
          
        </div>

        <div class="row">
          
          <div class="col-12 col-lg-4">
            <div class="form-group">
              <%= informs_form.label "Dirección de residencia" %>
              <%= informs_form.text_field :p_address, class: "form-control input" %>
            </div>
          </div>
          <div class="col-12 col-lg-2">
            <div class="form-group">
              <%= informs_form.label "Código de área" %>
              <%= informs_form.text_field :p_residence_code, class: "form-control input" %>
            </div>
          </div>
          <div class="col-12 col-lg-2">
            <div class="form-group">
              <%= informs_form.label "Municipio" %>
              <%= informs_form.text_field :p_municipality, class: "form-control input" %>
            </div>
          </div>
          <div class="col-12 col-lg-2">
            <div class="form-group">
              <%= informs_form.label "Departamento" %>
              <%= informs_form.text_field :p_department, class: "form-control input" %>
            </div>
          </div>
          <div class="col-12 col-lg-2">
            <div class="form-group">
              <%= informs_form.label "Ocupación" %>
              <%= informs_form.text_field :p_occupation, class: "form-control input" %>
            </div>
          </div>
        </div>

        
        <div class="row">
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <%= informs_form.label "Autorización EPS/IPS" %>
              <%= informs_form.text_field :prmtr_auth_code, class: "form-control form-control input" %>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <%= informs_form.label "Estado del paciente" %>
              <%= informs_form.select(:status, options_for_select([['Ambulatorio', '1'], ['Hospitalizado', '2']], @patient.informs), { include_blank: true }, class: "form-control form-control input") %>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <%= informs_form.label "Tipo de zona" %>
              <%= informs_form.select(:zone_type, options_for_select([['Urbano', 'U'], ['Rural', 'R']], @patient.informs), {  }, class: "form-control form-control input") %>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="form-group">
              <%= informs_form.label "Estado de embarazo" %>
              <%= informs_form.select(:pregnancy_status, options_for_select([['No Emb', '4'], ['EMB1', '1'], ['EMB2', '2'], ['EMB3', '3']], @patient.informs), {  }, class: "form-control form-control input") %>
            </div>
          </div>
        </div>
        <%= informs_form.fields_for :physicians do |phy_form| %>
          <h5>Médico tratante</h5>
          <div class="row">
            <div class="col-12 col-lg-4">
              <div class="form-group">
                <%= phy_form.label "Nombre" %>
                <%= phy_form.text_field :name, class: "form-control input" %>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="form-group">
                <%= phy_form.label "Apellido" %>
                <%= phy_form.text_field :lastname, class: "form-control input" %>
              </div>
            </div>
            <div class="col-12 col-lg-2">
              <div class="form-group">
                <%= phy_form.label "Teléfono" %>
                <%= phy_form.text_field :tel, class: "form-control input" %>
              </div>
            </div>
            <div class="col-12 col-lg-2">
              <div class="form-group">
                <%= phy_form.label "Celular" %>
                <%= phy_form.text_field :cel, class: "form-control input" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-4">
              <%= phy_form.label "email" %>
              <%= phy_form.text_field :email, class: "form-control input" %>
            </div>
            <div class="col-12 col-lg-4">
              <%= phy_form.label "Especialidad" %>
              <%= phy_form.text_field :study1, class: "form-control input" %>
            </div>
            <div class="col-12 col-lg-4">
              <%= phy_form.label "Otro estudio/especialidad" %>
              <%= phy_form.text_field :study2, class: "form-control input" %>
            </div>
          </div>
        <% end %>
        <div class="actions">
          <%= informs_form.submit "Guardar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-4 col-lg-4">
    <div class="alert alert-secondary mr-1">
      <h3>Diagnósticos previos encontrados</h3>
      <br>
      <% if @patient.informs.length == 0 && @oldrecords.length == 0 %>
        <h4>No se encuentran diagnósticos previos para este paciente</h4>
      <% else %>
        <% @patient.informs.each do |inform| %>
          <ul>
            <% inform.diagnostics.each do |diagnostic| %>
              <li>
                <span class="diagnostic"><strong><%= diagnostic.description %></strong></span>
                <p>
                  <small>Fecha: <strong>
                    <%= diagnostic.created_at.strftime("%d/%m/%Y") %></strong></small> | <%= link_to inform_path(inform) do %>Ver informe <%= diagnostic.inform.tag_code %> <% end %>

                </p>
              </li>
            <% end %>
          </ul>
          
        <% end %>
        <p>Sistema FoxPro</p>
        <ul>
          <% @oldrecords.each do |oldrecord| %>
            <li>
              <span class="diagnostic"><strong><%= oldrecord.diagnostic %></strong></span>
              <p>
                <small>Fecha: <strong>
                  <%= oldrecord.fecharec.strftime("%d/%m/%Y") %></strong></small> | <%= link_to oldrecord_path(oldrecord) do %>Ver informe <%= oldrecord.clave %><%= oldrecord.fecharec.strftime("%y") %>-<%= oldrecord.numero %> <% end %>

              </p>
            </li>
          <% end %>
        </ul>
      <% end %>
      
      
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
      <div class="alert alert-primary">
        <h4>No conformidades <%= search_range %></h4>
      </div>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Revisor</th>
            <th>Responsable</th>
            <th>Cierra</th>
            <th>NC</th>
            <th>Proceso</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @objections.each do |objection| %>
            <tr>
              <td><%= objection.created_at.strftime("%d/%m/%Y") %></td>
              <td><%= objection.closed == true ? "Cerrada" : "Abierta" %></td>
              <td><%= User.where(id: objection.user_id).first.try(:fullname) %></td>
              <td><%= User.where(id: objection.responsible_user_id).first.try(:fullname) %></td>
              <td><%= User.where(id: objection.close_user_id).first.try(:fullname) %></td>
              <td><%= Obcode.where(id: objection.obcode_id).first.try(:title) %></td>
              <td><%= Obcode.where(id: objection.obcode_id).first.try(:process) %></td>
              <td><%= link_to "Detalles", objection_path(objection) %></td>
              <% if admin_signed_in? %>
                <td><%= link_to 'Borrar', objection, method: :delete, data: { confirm: '¿Confirmas la operación?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



