<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-lg-8">
            <div class="card-body">
              <h5 class="card-title"><%= @patient.name1 %> <%= @patient.name2 %> <%= @patient.lastname1 %> <%= @patient.lastname2 %> con <%= @patient.id_type %>: <%= @patient.id_number %></h5>
              <p class="card-text">Paciente de sexo <%= @patient.sex %> con <%= @patient.age_number || '#' %> <%= @patient.age_type || '#' %> de edad (nacido el <%= @patient.birth_date || "sin fecha" %>). Ocupación: <%= @patient.occupation %>. Contacto: <%= @patient.tel %> - <%= @patient.cel %>, <%= @patient.email %>. Dirección: <%= @patient.address %>, <%= @patient.municipality %> - <%= @patient.department %> (<%= @patient.residence_code %>)</p>
              <p class="card-text"></p>
              <p class="card-text"></p>
              <p class="card-text"><small class="text-muted">Creado el: <%= @patient.created_at %> - Modificado el: <%= @patient.updated_at %></small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4">
      <% @patient.informs.each do |inform| %>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><%= inform.tag_code %> recibido hace <%= time_ago_in_words(inform.receive_date) %></h5>
                <p class="card-text">Médico tratante: <%= inform.physician_id %></p>
                <p class="card-text">EPS: <%= Promoter.find(inform.promoter_id).initials %></p>
                <p class="card-text">Sede IPS: <%= Branch.find(inform.branch_id).initials %></p>
                <%= link_to 'Ir!', inform_path(inform), class: "btn btn-primary" %>
                <p class="card-text"><small class="text-muted">Creado el <%= inform.created_at %></small></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-lg-8">
      <h1>Nuevo informe</h1>
      <%= form_for [@patient, @patient.informs.build] do |form| %>
      <div class="row">
        <div class="col-12 col-lg-6">

          <div class="form-group">
            <%= form.label "Médico tratante" %>
            <%= form.number_field :physician_id, class: "form-control form-control-lg input" %>
          </div>

          <div class="form-group">
            <%= form.label "Fecha de recepción" %>
            <%= form.date_field :receive_date, autocomplete: "Fecha de recepción", class: "form-control form-control-lg input"  %>
          </div>

          <div class="form-group">
            <%= form.label "Fecha de entrega" %>
            <%= form.date_field :delivery_date, autocomplete: "Fecha de entrega", class: "form-control form-control-lg input"  %>
          </div>

          <div class="form-group">
            <%= form.label "Código de autorización EPS/IPS" %>
            <%= form.text_field :prmtr_auth_code, class: "form-control form-control-lg input" %>
          </div>
          <div class="form-group">
            <%= form.label "Factura" %>
            <%= form.text_field :invoice, class: "form-control form-control-lg input" %>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= form.label "Estado del paciente" %>
            <%= form.select(:status, options_for_select([['Ambulatorio', '1'], ['Hospitalizado', '2']], @patient.informs), { include_blank: true }, class: "form-control form-control-lg input") %>
          </div>

          <div class="form-group">
            <%= form.label :promoter_id %>
            <%= form.select :promoter_id, Promoter.pluck(:name, :id), {prompt:"Seleccione la EPS"}, class: "form-control form-control-lg input" %>
          </div>

          <div class="form-group">
            <%= form.label :branch_id %>
            <%= form.select :branch_id, Branch.pluck(:name, :id), {prompt:"Seleccione la Sede de la IPS"}, class: "form-control form-control-lg input" %>
          </div>

          <div class="form-group">
            <%= form.label "Tipo de zona" %>
            <%= form.select(:zone_type, options_for_select([['Rural', 'R'], ['Urbano', 'U']], @patient.informs), { include_blank: true }, class: "form-control form-control-lg input") %>
          </div>

          <div class="form-group">
            <%= form.label "Estado de embarazo" %>
            <%= form.select(:pregnancy_status, options_for_select([['EMB1', '1'], ['EMB2', '2'], ['EMB3', '3'], ['No Emb', '4']], @patient.informs), { include_blank: true }, class: "form-control form-control-lg input") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4 mx-auto">
          <div class="actions">
            <%= form.submit "Guardar", class: "btn btn-primary btn-block" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
