<p id="notice"><%= notice %></p>

<p>
  <strong>Id number:</strong>
  <%= @patient.id_number %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @patient.id_type %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @patient.birth_date %>
</p>

<p>
  <strong>Age number:</strong>
  <%= @patient.age_number %>
</p>

<p>
  <strong>Age type:</strong>
  <%= @patient.age_type %>
</p>

<p>
  <strong>Name1:</strong>
  <%= @patient.name1 %>
</p>

<p>
  <strong>Name2:</strong>
  <%= @patient.name2 %>
</p>

<p>
  <strong>Lastname1:</strong>
  <%= @patient.lastname1 %>
</p>

<p>
  <strong>Lastname2:</strong>
  <%= @patient.lastname2 %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @patient.sex %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @patient.tel %>
</p>

<p>
  <strong>Cel:</strong>
  <%= @patient.cel %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @patient.occupation %>
</p>

<p>
  <strong>Residence code:</strong>
  <%= @patient.residence_code %>
</p>

<p>
  <strong>Municipality:</strong>
  <%= @patient.municipality %>
</p>

<p>
  <strong>Department:</strong>
  <%= @patient.department %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
