<%= form_with(model: obcode, local: true) do |form| %>
  <% if obcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(obcode.errors.count, "error") %> prohibited this obcode from being saved:</h2>

      <ul>
      <% obcode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :admin_id %>
    <%= form.number_field :admin_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :process %>
    <%= form.text_field :process %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
