<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 mx-auto">
      <%= form_with(model: obcode, local: true) do |form| %>
        <% if obcode.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(obcode.errors.count, "error") %> prohibited this obcode from being saved:</h2>

            <ul>
            <% obcode.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label "Título" %>
          <%= form.text_field :title, class: "form-control input" %>
        </div>

        <div class="form-group">
          <%= form.label "Proceso" %>
          <%= form.text_field :process, class: "form-control input" %>
        </div>

        <div class="form-group">
          <%= form.label "Puntaje" %>
          <%= form.text_field :score, class: "form-control input" %>
        </div>

        <div class="form-group">
          <%= form.label "Orden" %>
          <%= form.number_field :order, class: "form-control input" %>
        </div>

        <div class="actions">
          <%= form.submit "Guardar", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
