<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">

      <h4>Importar datos</h4>
      <%= form_tag import_obcodes_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Importar CSV" %>
      <% end %>

      <h1>Listado de No Conformidades</h1>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Admin</th>
            <th>Título</th>
            <th>Proceso</th>
            <th>Score</th>
            <th>Orden</th>
            <th colspan="3"></th>
          </tr>        </thead>

        <tbody>
          <% @obcodes.each do |obcode| %>
            <tr>
              <td><%= obcode.id %></td>
              <td><%= Admin.where(id: obcode.admin_id).first.try(:name) %></td>
              <td><%= obcode.title %></td>
              <td><%= obcode.process %></td>
              <td><%= obcode.score %></td>
              <td><%= obcode.order %></td>
              <td><%= link_to 'Revisar', obcode %></td>
              <td><%= link_to 'Editar', edit_obcode_path(obcode) %></td>
              <td><%= link_to 'Borrar', obcode, method: :delete, data: { confirm: '¿Confirmas la operación?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>