<%= form_with(model: auto, local: true) do |form| %>
  <% if auto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auto.errors.count, "error") %> prohibited this auto from being saved:</h2>

      <ul>
      <% auto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :diagcode_id %>
    <%= form.text_field :diagcode_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :admin_id %>
    <%= form.number_field :admin_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :param1 %>
    <%= form.text_field :param1 %>
  </div>

  <div class="field">
    <%= form.label :param2 %>
    <%= form.text_field :param2 %>
  </div>

  <div class="field">
    <%= form.label :param3 %>
    <%= form.text_field :param3 %>
  </div>

  <div class="field">
    <%= form.label :param4 %>
    <%= form.text_field :param4 %>
  </div>

  <div class="field">
    <%= form.label :param5 %>
    <%= form.text_field :param5 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
