<%= form_with(model: role, local: true) do |form| %>
  <% if role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :admin_id %>
    <%= form.number_field :admin_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.text_field :rate %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time %>
  </div>

  <div class="field">
    <%= form.label :health_care_rate %>
    <%= form.text_field :health_care_rate %>
  </div>

  <div class="field">
    <%= form.label :pension_rate %>
    <%= form.text_field :pension_rate %>
  </div>

  <div class="field">
    <%= form.label :parafiscal_rate %>
    <%= form.text_field :parafiscal_rate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
