<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @role.admin_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @role.rate %>
</p>

<p>
  <strong>Time:</strong>
  <%= @role.time %>
</p>

<p>
  <strong>Health care rate:</strong>
  <%= @role.health_care_rate %>
</p>

<p>
  <strong>Pension rate:</strong>
  <%= @role.pension_rate %>
</p>

<p>
  <strong>Parafiscal rate:</strong>
  <%= @role.parafiscal_rate %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
