<%= link_to 'Editar código', edit_codeval_path(@codeval) %> |
<%= link_to 'Volver al listado de tarifas', rates_path %>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      <div class="card text-center mt-3">
        <div class="card-header">
          CUPS: <strong><%= @codeval.code %></strong> - Referencia: <strong><%= @codeval.ref_code %></strong>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @codeval.name %></h5>
          <p class="card-text"><%= @codeval.description %></p>
          <p class="card-text"><%= @codeval.description %> en el sistema: <%= @codeval.origin_system %></p>
        </div>
        <div class="card-footer text-muted">
          Modificado por: <%= Admin.find(@codeval.admin_id).name %> - Fecha de creación: <%= @codeval.created_at %> - Fecha de modificación: <%= @codeval.updated_at %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-10 mx-auto">
      <% @codeval.costs.each do |cost| %>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Tabla de costo</th>
              <th>Costo asociado</th>
              <th>Asigando por:</th>
              <th>Comentarios</th>
            </tr>
            
          </thead>
          <tbody>
            <tr>
              <td><%= cost.name %></td>
              <td><%= @codeval.values[0].value %></td>
              <td><%= Admin.find(cost.admin_id).name %></td>
              <td><%= cost.description %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
