<div class="inclusion-blocks">
  <div class="container-fluid">
    <%= form_tag cover_slides_path + "?di=#{params[:di]}&mi=#{params[:mi]}&yi=#{params[:yi]}&df=#{params[:df]}&mf=#{params[:mf]}&yf=#{params[:yf]}", method: :put do %>
    <%= submit_tag "Curbrir lo chequeado", class: "btn btn-secondary btn-sm mb-3" %>
      <% if @slidesc.size != 0 %>
        <div class="row">
          <h4>Cubiertas <%= search_range %></h4>
          <div class="col-12 col-lg-12 col-xl-12">
            <div class="row">
              <% create_matrix(@slidesc,5).each do |col| %>
                <div class="col-12 col-lg-2 col-xl-2">
                  <table class="table table-hover list-covering-slides">
                    <thead>
                      <tr>
                        <th>Sel</th>
                        <th>Placa</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% col.each do |slide| %>
                        <% if get_nomen(slide.slide_tag) == "A" || get_nomen(slide.slide_tag) == "A1" %>
                          <tr>
                            <td></td>
                            <td><span class="badge badge-dark"><%= slide.inform.tag_code %></span><span class="badge badge-dark ml-1"><%= slide.inform.slides.count %></span></td>
                          </tr>
                        <% end %>
                        
                        <tr>
                          <% if !slide.covered  %>
                            <td><%= check_box_tag "slide_ids[]", slide.id, checked: true %></td>
                          <% else %>
                            <td></td>
                          <% end %>
                          
                          
                          <td class="<%= slide.colored ? "slide-colored" : nil %> <%= slide.covered ? "slide-covered" : nil %> <%= slide.tagged ? "slide-tagged" : nil %>" >
                            <%= slide.slide_tag %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% if @slides_first_batch.size != 0 %>
        <div class="row">
          <h4>Canastilla <%= search_range %></h4>
          <div class="col-12 col-lg-12 col-xl-12">
            <div class="row">
              <% create_matrix(@slides_first_batch,5).each do |col| %>
                <div class="col-12 col-lg-2 col-xl-2">
                  <table class="table table-hover list-covering-slides">
                    <thead>
                      <tr>
                        <th>Sel</th>
                        <th>Placa</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% col.each do |slide| %>
                        <% if get_nomen(slide.slide_tag) == "A" || get_nomen(slide.slide_tag) == "A1" %>
                          <tr>
                            <td></td>
                            <td><span class="badge badge-dark"><%= slide.inform.tag_code %></span><span class="badge badge-dark ml-1"><%= slide.inform.slides.count %></span></td>
                          </tr>
                        <% end %>
                        
                        <tr>
                          <% if !slide.covered  %>
                            <td><%= check_box_tag "slide_ids[]", slide.id, checked: true %></td>
                          <% else %>
                            <td></td>
                          <% end %>
                          
                          
                          <td class="<%= slide.colored ? "slide-colored" : nil %> <%= slide.covered ? "slide-covered" : nil %> <%= slide.tagged ? "slide-tagged" : nil %>" >
                            <%= slide.slide_tag %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% if @slides_rest.size != 0 %>
        <div class="row">
          <h4>En espera para cubrimiento <%= search_range %></h4>
          <div class="col-12 col-lg-12 col-xl-12">
            <div class="row">
              <% create_matrix(@slides_rest,5).each do |col| %>
                <div class="col-12 col-lg-2 col-xl-2">
                  <table class="table table-hover list-covering-slides">
                    <thead>
                      <tr>
                        <th>Sel</th>
                        <th>Código</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% col.each do |slide| %>
                        <% if get_nomen(slide.slide_tag) == "A" || get_nomen(slide.slide_tag) == "A1" %>
                          <tr>
                            <td></td>
                            <td><span class="badge badge-dark"><%= slide.inform.tag_code %></span><span class="badge badge-dark ml-1"><%= slide.inform.slides.count %></span></td>
                          </tr>
                        <% end %>
                        
                        <tr>
                          <% if !slide.covered %>
                            <td><%= check_box_tag "slide_ids[]", slide.id %></td>
                          <% else %>
                            <td></td>
                          <% end %>
                          
                          <td class="<%= slide.colored ? "slide-colored" : nil %> <%= slide.covered ? "slide-covered" : nil %> <%= slide.tagged ? "slide-tagged" : nil %>" >
                            <%= slide.slide_tag %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      

    <% end %>
  </div>
</div>