<%= form_with(model: oldcito, local: true) do |form| %>
  <% if oldcito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oldcito.errors.count, "error") %> prohibited this oldcito from being saved:</h2>

      <ul>
      <% oldcito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :clave %>
    <%= form.text_field :clave %>
    <%= form.label :numero %>
    <%= form.text_field :numero %>
    <%= form.label :fecharec %>
    <%= form.date_select :fecharec %>
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>
  <br>
  <div>
    <%= form.label :apellido %>
    <%= form.text_field :apellido %>
    <%= form.label :apellido2 %>
    <%= form.text_field :apellido2 %>
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
    <%= form.label :nombre2 %>
    <%= form.text_field :nombre2 %>
    <%= form.label :identif %>
    <%= form.text_field :identif %>
    <%= form.label :cedula %>
    <%= form.text_field :cedula %>
    <%= form.label :historia %>
    <%= form.text_field :historia %>
    <%= form.label :uniedad %>
    <%= form.text_field :uniedad %>
    <%= form.label :edad %>
    <%= form.text_field :edad %>
    <%= form.label :sexo %>
  </div>
  <br>
  <div>
    <%= form.text_field :sexo %>
    <%= form.label :clinica %>
    <%= form.text_field :clinica %>
    <%= form.label :entidad %>
    <%= form.text_field :entidad %>
    <%= form.label :entad %>
    <%= form.text_field :entad %>
    <%= form.label :codval1 %>
    <%= form.text_field :codval1 %>
    <%= form.label :por1 %>
    <%= form.text_field :por1 %>
    <%= form.label :saldo %>
    <%= form.text_field :saldo %>
    <%= form.label :dnombre %>
    <%= form.text_field :dnombre %>
    <%= form.label :dapellido %>
    <%= form.text_field :dapellido %>
    <%= form.label :oficina %>
    <%= form.text_field :oficina %>
    <%= form.label :telefono %>
    <%= form.text_field :telefono %>
    <%= form.label :diag %>
    <%= form.text_area :diag %>
    <%= form.label :notas %>
    <%= form.text_area :notas %>
    <%= form.label :sugerencia %>
    <%= form.text_area :sugerencia %>
    <%= form.label :citologa %>
    <%= form.text_field :citologa %>
    <%= form.label :patologo %>
    <%= form.text_field :patologo %>
    <%= form.label :celsup %>
    <%= form.text_field :celsup %>
    <%= form.label :celint %>
    <%= form.text_field :celint %>
    <%= form.label :celpara %>
    <%= form.text_field :celpara %>
    <%= form.label :plega %>
    <%= form.text_field :plega %>
    <%= form.label :agrupa %>
    <%= form.text_field :agrupa %>
    <%= form.label :prestador %>
    <%= form.text_field :prestador %>
    <%= form.label :factura %>
    <%= form.text_field :factura %>
    <%= form.label :autoriz %>
    <%= form.text_field :autoriz %>
    <%= form.label :usuario %>
    <%= form.text_field :usuario %>
    <%= form.label :ocupacion %>
    <%= form.text_field :ocupacion %>
    <%= form.label :residencia %>
    <%= form.text_field :residencia %>
    <%= form.label :zona %>
    <%= form.text_field :zona %>
    <%= form.label :emb %>
    <%= form.text_field :emb %>
    <%= form.label :estado %>
    <%= form.text_field :estado %>
    <%= form.label :embarazo %>
    <%= form.text_field :embarazo %>
    <%= form.label :fum %>
    <%= form.text_field :fum %>
    <%= form.label :citprev %>
    <%= form.text_field :citprev %>
    <%= form.label :codigo %>
    <%= form.text_field :codigo %>
    <%= form.label :codcito %>
    <%= form.text_field :codcito %>
  </div>
  <br>
  <div>
    <%= form.label :vinculado %>
    <%= form.text_field :vinculado %>
    <%= form.label :secretaria %>
    <%= form.text_field :secretaria %>
    <%= form.label :secretauno %>
    <%= form.text_field :secretauno %>
    <%= form.label :fecha1 %>
    <%= form.date_select :fecha1 %>
    <%= form.label :fechato %>
    <%= form.date_select :fechato %>
    <%= form.label :resultado %>
    <%= form.text_field :resultado %>
    <%= form.label :imprimir %>
    <%= form.text_field :imprimir %>
    <%= form.label :revisor %>
    <%= form.text_field :revisor %>
    <%= form.label :fechanac %>
    <%= form.date_select :fechanac %>
    <%= form.label :sincroniza %>
    <%= form.text_field :sincroniza %>
    <%= form.label :fsincro %>
    <%= form.date_select :fsincro %>
    <%= form.label :planifica %>
    <%= form.text_field :planifica %>
    <%= form.label :muestra %>
    <%= form.text_field :muestra %>
    <%= form.label :colade %>
    <%= form.text_field :colade %>
    <%= form.label :colinad %>
    <%= form.text_field :colinad %>
    <%= form.label :montade %>
    <%= form.text_field :montade %>
    <%= form.label :montainad %>
    <%= form.text_field :montainad %>
  </div>
    
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
