<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 mx-auto">

      <h4>Importar datos</h4>
      <%= form_tag import_organs_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Importar CSV" %>
      <% end %>

      <h1>Listado de órganos</h1>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Admin</th>
            <th>Órgano</th>
            <th>Keywords</th>
            <th>Código</th>
            <th>Sistema</th>
            <th colspan="3"></th>
          </tr>      
        </thead>

        <tbody>
          <% @organs.each do |organ| %>
            <tr>
              <td><%= Admin.where(id: organ.admin_id).first.try(:name) %></td>

              <td><%= organ.organ %></td>
              <td><%= organ.keywords %></td>
              <td><%= organ.organ_code %></td>
              <td><%= organ.part %></td>

              <td><%= link_to 'Revisar', organ %></td>
              <td><%= link_to 'Editar', edit_organ_path(organ) %></td>
              <td><%= link_to 'Borrar', organ, method: :delete, data: { confirm: '¿Confirmas la operación?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>