<%= link_to 'Editar tarifa ' + @rate.name, edit_rate_path(@rate) %> |
<%= link_to 'Volver a tarifas', rates_path %>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">
      <div class="card text-center mt-3">
        <div class="card-header">
          Tarifa: <strong><%= @rate.name %></strong>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= Admin.find(@rate.admin_id).name %> definió en general un factor de: <%= @rate.factor %></h5>
          <p class="card-text"><%= @rate.description %></p>
        </div>
        <div class="card-footer text-muted">
        	Fecha de creación: <%= @rate.created_at %> - Fecha de modificación: <%= @rate.updated_at %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  	<div class="col-12 col-lg-8 mx-auto">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>CUPS</th>
						<th>Factor asociado</th>
						<th>Asigando por:</th>
            <th>Comentarios</th>
            <th scope="1"></th>
					</tr>
				</thead>
				<tbody>
          <% @rate.factors.each do |factor| %>
  					<tr>
  						<td><%= factor.codeval.code %></td>
  						<td><%= factor.factor %></td>
  						<td><%= Admin.find(factor.admin_id).name %></td>
              <td><%= factor.description %></td>
              <td><%= link_to "Editar", edit_factor_path(factor) %></td>
  					</tr>
          <% end %>
				</tbody>
			</table>
  	</div>
  </div>
</div>