<h1>Reporte de No Conformidades</h1>
<h1><%= search_range %></h1>
<div class="container">
	<div class="row">
		<div class="col-12 col-lg-10 mx-auto my-3">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Usuario</th>
						<th>NC Abiertas</th>
						<th>NC Cerradas</th>
						<th>Total de NC</th>
						<th>Promedio de atención</th>
					</tr>
				</thead>
				<tbody>
					<% User.all.each do |user| %>
						<tr>
							<td><%= user.email %></td>
							<td><%= get_by_user(user)[1] %></td>
							<td><%= get_by_user(user)[2] %></td>
							<td><%= get_by_user(user)[0] %></td>
							<td><span class="badge badge-<%= color(get_by_user(user)[3]) %>"><%= get_by_user(user)[3] != 0 ? distance_of_time_in_words(get_by_user(user)[3]) : 'sin dato' %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-10 mx-auto my-3">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Proceso</th>
						<th>NC Abiertas</th>
						<th>NC Cerradas</th>
						<th>Total de NC</th>
						<th>Promedio de atención</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Doctor</td>
						<td><%= get_by_process(@obj_physicians)[1] %></td>
						<td><%= get_by_process(@obj_physicians)[2] %></td>
						<td><%= get_by_process(@obj_physicians)[0] %></td>
						<td><span class="badge badge-<%= color(get_by_process(@obj_physicians)[3]) %>"><%= get_by_process(@obj_physicians)[3] != 0 ? distance_of_time_in_words(get_by_process(@obj_physicians)[3]) : 'sin dato' %></td>
					</tr>
					<tr>
						<td>CUPS</td>
						<td><%= get_by_process(@obj_studies)[1] %></td>
						<td><%= get_by_process(@obj_studies)[2] %></td>
						<td><%= get_by_process(@obj_studies)[0] %></td>
						<td><span class="badge badge-<%= color(get_by_process(@obj_studies)[3]) %>"><%= get_by_process(@obj_studies)[3] != 0 ? distance_of_time_in_words(get_by_process(@obj_studies)[3]) : 'sin dato' %></td>
					</tr>
					<tr>
						<td>Muestra</td>
						<td><%= get_by_process(@obj_samples)[1] %></td>
						<td><%= get_by_process(@obj_samples)[2] %></td>
						<td><%= get_by_process(@obj_samples)[0] %></td>
						<td><span class="badge badge-<%= color(get_by_process(@obj_samples)[3]) %>"><%= get_by_process(@obj_samples)[3] != 0 ? distance_of_time_in_words(get_by_process(@obj_samples)[3]) : 'sin dato' %></td>
					</tr>
					<tr>
						<td>Bloque</td>
						<td><%= get_by_process(@obj_blocks)[1] %></td>
						<td><%= get_by_process(@obj_blocks)[2] %></td>
						<td><%= get_by_process(@obj_blocks)[0] %></td>
						<td><span class="badge badge-<%= color(get_by_process(@obj_blocks)[3]) %>"><%= get_by_process(@obj_blocks)[3] != 0 ? distance_of_time_in_words(get_by_process(@obj_blocks)[3]) : 'sin dato' %></td>
					</tr>
					<tr>
						<td>Placa</td>
						<td><%= get_by_process(@obj_slides)[1] %></td>
						<td><%= get_by_process(@obj_slides)[2] %></td>
						<td><%= get_by_process(@obj_slides)[0] %></td>
						<td><span class="badge badge-<%= color(get_by_process(@obj_slides)[3]) %>"><%= get_by_process(@obj_slides)[3] != 0 ? distance_of_time_in_words(get_by_process(@obj_slides)[3]) : 'sin dato' %></td>
					</tr>
					<tr>
						<td>Macro</td>
						<td><%= get_by_process(@obj_macros)[1] %></td>
						<td><%= get_by_process(@obj_macros)[2] %></td>
						<td><%= get_by_process(@obj_macros)[0] %></td>
						<td><span class="badge badge-<%= color(get_by_process(@obj_macros)[3]) %>"><%= get_by_process(@obj_macros)[3] != 0 ? distance_of_time_in_words(get_by_process(@obj_macros)[3]) : 'sin dato' %></td>
					</tr>
					<tr>
						<td>Micro</td>
						<td><%= get_by_process(@obj_micros)[1] %></td>
						<td><%= get_by_process(@obj_micros)[2] %></td>
						<td><%= get_by_process(@obj_micros)[0] %></td>
						<td><span class="badge badge-<%= color(get_by_process(@obj_micros)[3]) %>"><%= get_by_process(@obj_micros)[3] != 0 ? distance_of_time_in_words(get_by_process(@obj_micros)[3]) : 'sin dato' %></td>
					</tr>
					<tr>
						<td>Diagnóstico</td>
						<td><%= get_by_process(@obj_diagnostics)[1] %></td>
						<td><%= get_by_process(@obj_diagnostics)[2] %></td>
						<td><%= get_by_process(@obj_diagnostics)[0] %></td>
						<td><span class="badge badge-<%= color(get_by_process(@obj_diagnostics)[3]) %>"><%= get_by_process(@obj_diagnostics)[3] != 0 ? distance_of_time_in_words(get_by_process(@obj_diagnostics)[3]) : 'sin dato' %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
