<div class="info">
	<h4><%= params[:inf_type] == 'clin' ? "Clínica" : params[:inf_type] == 'hosp' ? "Hospital" : "Citologías" %> facturadas para el periodo <%= new_search_range %>: <strong><%= number_to_currency(@total_accumulated, precision: 0, delimiter: '.') %></strong></h4>
</div>
<div class="container">
	<div class="row">
	  <div class="col-12 col-lg-8">
	    <div class="alert alert-secondary pl-1 pb-1">
	      <%= form_tag show_sale_report_path(params[:id]), method: "get" do %>
	      	<%= hidden_field_tag :inf_type, params[:inf_type] %>
	        <div class="row">
	        	<div class="col-12 col-lg-5">
	        		<div class="form-group">
	        		  <%= date_field_tag :init_date, Date.parse(params[:init_date]), class: "form-control input" %>
	        		</div>
	        	</div>
	        	<div class="col-12 col-lg-5">
	        		<div class="form-group">
	        		  <%= date_field_tag :final_date, Date.parse(params[:final_date]), class: "form-control input" %>
	        		</div>
	        	</div>
	        	<div class="col-12 col-lg-2">
	        		<%= submit_tag("Buscar", class: "btn btn-primary mr-1") %>
	        	</div>
	        </div>
	        
	      <% end %>
	    </div>
	  </div>
	  <div class="col-12 col-lg-4 mx-auto">
	  	<div class="alert alert-secondary pl-1 pb-1">
				<%= link_to "Generar archivos RIPS y Affinity", rips_aff_files_report_path(@entity.id, inf_type: params[:inf_type], init_date: params[:init_date], final_date: params[:final_date]), class: "btn btn-primary" %>
	  	</div>
	  	
	  </div>
	  
	</div>
	<div class="row">
		<div class="col-12 col-lg-12">
			<table class="table">
				<thead>
					<tr>
						<th>Sede</th>
						<th>Detalle</th>
						
						<th>Valor</th>
						
						<th>Acumulado</th>
						<th>Saldo</th>
					</tr>
				</thead>
				<tbody>
					<% @total_detail.each do |detail| %>
						<% if detail[2] == "**" %>
							<% if detail[6] != 0 %>
								<tr class="alert alert-warning">
									<td>
										<%= detail[1] %>
									</td>
									<td>Total sede</td>
									
									
									<td><%= number_to_currency(detail[6], precision: 0, delimiter: '.') %></td>
									<td>Acumulado IPS</td>
									<td><%= number_to_currency(detail[7], precision: 0, delimiter: '.') %></td>
									<td><%= link_to "Detalles", show_branch_report_path(
											id: params[:id],
											init_date: params[:init_date],
											final_date: params[:final_date],
											inf_type: params[:inf_type],
											branch_name: detail[1]
										), class: "btn btn-warning btn-sm ml-3" %>
										</td>
								</tr>
								<tr class="alert alert-light">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							<% end %>
								
							</tr>
						<% end %>						
					<% end %>
					
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-12">
			<strong><h4>Reporte detallado de ventas</h4></strong>
			<h1><%= Entity.where(id: params[:id]).first.name %></h1>
			<% if params[:branch_name] != nil %>
				<h4>Sede <%= params[:branch_name] %></h4>
				<%= link_to "Retornar a IPS", show_sale_report_path(id: params[:id], init_date: params[:init_date], final_date: params[:final_date], inf_type: params[:inf_type]) %>
			<% end %>
			<table class="table">
				<thead>
					<tr>
						<th>Factura</th>
						<th>Informe</th>
						<th>Nombre</th>
						<th>Identif.</th>
						
						<th>CUP</th>
						
						<th>Precio total</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @total_detail.each do |detail| %>
						<% if detail[1] == "--" %>
							<tr class="alert alert-primary">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								
								
								<td>Total IPS</td>
								<td><%= number_to_currency(detail[7], precision: 0, delimiter: '.') %></td>
								<td></td>
							</tr>
						<% else %>
							<% if detail[2] == "**" %>
								<% if detail[6] != 0 %>
									<tr class="alert alert-warning">
										<td></td>
										<td></td>
										<!-- <td><%= detail[1] %></td> -->
										<td><%= detail[1] %></td>
										<!-- <td>Total sede</td> -->
										
										
										<td><%= number_to_currency(detail[6], precision: 0, delimiter: '.') %></td>
										<td>Acumulado IPS</td>
										<td><%= number_to_currency(detail[7], precision: 0, delimiter: '.') %></td>
										<td>
											<%= link_to "Detalles", show_branch_report_path(
												id: params[:id],
												init_date: params[:init_date],
												final_date: params[:final_date],
												inf_type: params[:inf_type],
												branch_name: detail[1]
											), class: "btn btn-warning btn-sm" %>
										</td>
									</tr>
									<tr class="alert alert-light">
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								<% end %>
									
								</tr>
							<% else %>
								<tr>
									<td><%= detail[2].invoice %> <%= detail[2].prmtr_auth_code %></td>
									<td><%= detail[2].tag_code %></td>
									<td><%= detail[2].patient.halfname %></td>
									<td><%= detail[2].patient.id_number %></td>
									<td>
										<% detail[3].each do |study| %>
											<strong>(<%= study.factor %>*)</strong><%= Codeval.find(study.codeval_id).code %>
										<% end %>
									</td>
									<td><%= number_to_currency(detail[6], precision: 0, delimiter: '.') %></td>
									<td></td>
								</tr>
							<% end %>
							
						<% end %>
						
					<% end %>
					
				</tbody>
			</table>
		</div>
	</div>
</div>