<div class="info">
	<h4><%= params[:inf_type] == 'clin' ? "Clínica" : params[:inf_type] == 'hosp' ? "Hospital" : "Citologías" %> facturadas para el periodo <%= new_search_range %>: <strong><%= number_to_currency(@total_accumulated, precision: 0, delimiter: '.') %></strong></h4>
</div>
<div class="container">
	<div class="row">
	  <div class="col-12 col-lg-8">
	    <div class="alert alert-secondary pl-1 pb-1">
	      <%= form_tag show_sale_report_path(params[:id]), method: "get" do %>
	      	<%= hidden_field_tag :inf_type, params[:inf_type] %>
	        <div class="row">
	        	<div class="col-12 col-lg-5">
	        		<div class="form-group">
	        		  <%= date_field_tag :init_date, Date.parse(params[:init_date]), class: "form-control input" %>
	        		</div>
	        	</div>
	        	<div class="col-12 col-lg-5">
	        		<div class="form-group">
	        		  <%= date_field_tag :final_date, Date.parse(params[:final_date]), class: "form-control input" %>
	        		</div>
	        	</div>
	        	<div class="col-12 col-lg-2">
	        		<%= submit_tag("Buscar", class: "btn btn-primary mr-1") %>
	        	</div>
	        </div>
	        
	      <% end %>
	    </div>
	  </div>
	  <div class="col-12 col-lg-4 mx-auto">
	  	<div class="alert alert-secondary pl-1 pb-1">
	  		<%= link_to "RIPS", show_rips_report_path(@entity.id, inf_type: params[:inf_type], init_date: params[:init_date], final_date: params[:final_date]), class: "btn btn-primary" %>
	  		<%= link_to "Aff: Det", show_affinity_report_path(@entity.id, inf_type: params[:inf_type], init_date: params[:init_date], final_date: params[:final_date], type: "det"), class: "btn btn-primary" %>
	  		<%= link_to "Aff: Enc", show_affinity_report_path(@entity.id, inf_type: params[:inf_type], init_date: params[:init_date], final_date: params[:final_date], type: "head"), class: "btn btn-primary" %>
	  	</div>
	  	
	  </div>
	  
	</div>
	
	<div class="row">
		<div class="col-12 col-lg-12">
			<strong><h4>Reporte detallado de ventas</h4></strong>
			<h1><%= Entity.where(id: params[:id]).first.name %></h1>
			<table class="table">
				<thead>
					<tr>
						<th>Factura</th>
						<th>Informe</th>
						<th>Nombre</th>
						<th>Identif.</th>
						
						<th>CUP</th>
						
						<th>Precio total</th>
						<th>Saldo</th>
					</tr>
				</thead>
				<tbody>
					<% @total_detail.each do |detail| %>
						<% if detail[1] == "--" %>
							<tr class="alert alert-primary">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								
								<td>Total IPS</td>
								<td><%= number_to_currency(detail[7], precision: 0, delimiter: '.') %></td>
							</tr>
						<% else %>
							<% if detail[2] == "**" %>
								<% if detail[6] != 0 %>
									<tr class="alert alert-warning">
										<td></td>
										<td></td>
										<td><%= detail[1] %></td>
										<td>Total sede</td>
										
										
										<td><%= number_to_currency(detail[6], precision: 0, delimiter: '.') %></td>
										<td>Acumulado IPS</td>
										<td><%= number_to_currency(detail[7], precision: 0, delimiter: '.') %></td>
									</tr>
									<tr class="alert alert-light">
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								<% end %>
									
								</tr>
							<% else %>
								<tr>
									<td><%= detail[2].invoice %> <%= detail[2].prmtr_auth_code %></td>
									<td><%= detail[2].tag_code %></td>
									<td><%= detail[2].patient.halfname %></td>
									<td><%= detail[2].patient.id_number %></td>
									<td>
										<% detail[3].each do |study| %>
											<strong>(<%= study.factor %>*)</strong><%= Codeval.find(study.codeval_id).code %>
										<% end %>
									</td>
									<td><%= number_to_currency(detail[6], precision: 0, delimiter: '.') %></td>
									<td></td>
								</tr>
							<% end %>
							
						<% end %>
						
					<% end %>
					
				</tbody>
			</table>
		</div>
	</div>
</div>