<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentB" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContentB">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item <%= 'active' if @tab == :inclusion %>">
            <%= link_to "Inclusión", inclusion_blocks_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if @tab == :blocks %>">
            <%= link_to "Plaquear", blocks_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if @tab == :slides %>">
            <%= link_to "Placas", slides_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown <%= 'active' if @tab == :color %>">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Coloración
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Placas Clínica: C", processing_slides_coloring_slides_path + "?inf_type=clin", class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Placas Hospital: H", processing_slides_coloring_slides_path + "?inf_type=hosp", class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Placas Citologías: K", processing_slides_coloring_slides_path + "?inf_type=cito", class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown <%= 'active' if @tab == :cover %>">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cubrimiento
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Placas Clínica: C", processing_slides_covering_slides_path + "?inf_type=clin", class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Placas Hospital: H", processing_slides_covering_slides_path + "?inf_type=hosp", class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Placas Citología: K", processing_slides_covering_slides_path + "?inf_type=cito", class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown <%= 'active' if @tab == :tag %>">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Rotulado
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Placas Clínica: C", processing_slides_tagging_slides_path + "?inf_type=clin", class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Placas Hospital: H", processing_slides_tagging_slides_path + "?inf_type=hosp", class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Placas Citología: K", processing_slides_tagging_slides_path + "?inf_type=cito", class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown <%= 'active' if @tab == :asign %>">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInf" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Asignar informes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownInf">
              <%= link_to "Patología", distribution_path, class: "dropdown-item" %>
              <%= link_to "Citología-Patología", distribution_pat_cyto_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Citología", distribution_cyto_path + "?init_date=" + Time.zone.now.strftime("%d-%m-%Y") + "&final_date=" + Time.zone.now.strftime("%d-%m-%Y"), class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <ul class="navbar-nav d-flex justify-content-end">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Usuario: <%= current_user.initials %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
</div>
