<footer>
  <div class="container">
    <div class="row">
      <div class="col-8 col-lg-8 offset-lg-3 mt-3 to_right">
        <small class="up_footer">Teléfono PBX: +57(4) 444 5412 | Email: <%= link_to "info@patologiasuescun.com", "info@patologiasuescun.com" %> | <%= link_to "Informes Supersalud", "https://drive.google.com/folderview?id=0B6JVHK-Z6TVTTl9sTFoxTnR3a0E&usp=sharing" %> | <%= link_to "FaceBook", "http://www.patologiasuescun.com/config/facebook%205.png?attredirects=0" %> | <%= link_to "Twitter", "http://www.patologiasuescun.com/config/twitter%205.png?attredirects=0" %>  </small><br>
        <small class="up_footer">Sede Hospital San Vicente Fundación - Calle 64 # 51 D - 38 (Pensionados) Medellín, Antioquia. Colombia</small><br>
          <small>Hipodecos, desarrollada en Ruby on Rails por: <%= link_to "Eric Suescun", "https://ericsuescun.github.io/portafolio/" %> y David Suescún</small>
        <ul>
          <li>
            <%= link_to "Users", new_user_session_path %>
          </li>
          <li>
            <%= link_to "Admins", new_admin_session_path %>
          </li>
          <li>
            <%= link_to "Inicio", static_pages_home_path %>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-8 col-lg-8 offset-lg-4">
        
      </div>
    </div>

    <div class="row">
      <div class="col-2 col-lg-2 offset-lg-6">
        <!-- <img src="<%= asset_path 'iqnet.JPG' %>" class="d-block w-100" alt="..."> -->
      </div>
      <div class="col-3 col-lg-3">
        <img src="<%= asset_path 'supersalud med.gif' %>" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</footer>
