<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentB" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContentB">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Clínica
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Hoy", informs_path + "?init_date=" + Time.now.strftime("%d-%m-%Y") + "&final_date=" + Time.now.strftime("%d-%m-%Y") + "&inf_type=clin", class: "dropdown-item" %>
              <%= link_to "Ayer", informs_path + "?init_date=" + 1.day.ago.strftime("%d-%m-%Y") + "&final_date=" + 1.day.ago.strftime("%d-%m-%Y") + "&inf_type=clin", class: "dropdown-item" %>
              <%= link_to "Antier", informs_path + "?init_date=" + 2.days.ago.strftime("%d-%m-%Y") + "&final_date=" + 2.days.ago.strftime("%d-%m-%Y") + "&inf_type=clin", class: "dropdown-item" %>
              <%= link_to "Esta semana", informs_path + "?init_date=" + Time.now.beginning_of_week.strftime("%d-%m-%Y") + "&final_date=" + Time.now.strftime("%d-%m-%Y") + "&inf_type=clin", class: "dropdown-item" %>
              <%= link_to "Este mes", informs_path + "?init_date=" + Time.now.beginning_of_month.strftime("%d-%m-%Y") + "&final_date=" + Time.now.strftime("%d-%m-%Y") + "&inf_type=clin", class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <% (1..6).each do |m| %>
                <%= link_to "#{m.month.ago.strftime('%b de %Y')}", informs_path + "?init_date=" + m.month.ago.beginning_of_month.strftime("%d-%m-%Y") + "&final_date=" + m.month.ago.end_of_month.strftime("%d-%m-%Y") + "&inf_type=clin" , class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to "Clínica FoxPro", index_oldrecords_informs_path + "?init_date=" + (Oldrecord.first.fecharec - 1.day).strftime("%d-%m-%Y") + "&final_date=" + Oldrecord.first.fecharec.strftime("%d-%m-%Y") + "&inf_type=clin", class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= 'active' if @tab == :admins %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hospital
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Hoy", informs_path + "?init_date=" + Time.now.strftime("%d-%m-%Y") + "&final_date=" + Time.now.strftime("%d-%m-%Y") + "&inf_type=hosp", class: "dropdown-item" %>
              <%= link_to "Ayer", informs_path + "?init_date=" + 1.day.ago.strftime("%d-%m-%Y") + "&final_date=" + 1.day.ago.strftime("%d-%m-%Y") + "&inf_type=hosp", class: "dropdown-item" %>
              <%= link_to "Antier", informs_path + "?init_date=" + 2.days.ago.strftime("%d-%m-%Y") + "&final_date=" + 2.days.ago.strftime("%d-%m-%Y") + "&inf_type=hosp", class: "dropdown-item" %>
              <%= link_to "Esta semana", informs_path + "?init_date=" + Time.now.beginning_of_week.strftime("%d-%m-%Y") + "&final_date=" + Time.now.strftime("%d-%m-%Y") + "&inf_type=hosp", class: "dropdown-item" %>
              <%= link_to "Este mes", informs_path + "?init_date=" + Time.now.beginning_of_month.strftime("%d-%m-%Y") + "&final_date=" + Time.now.strftime("%d-%m-%Y") + "&inf_type=hosp", class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <% (1..6).each do |m| %>
                <%= link_to "#{m.month.ago.strftime('%b de %Y')}", informs_path + "?init_date=" + m.month.ago.beginning_of_month.strftime("%d-%m-%Y") + "&final_date=" + m.month.ago.end_of_month.strftime("%d-%m-%Y") + "&inf_type=hosp" , class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to "Hospital FoxPro", index_oldrecords_informs_path + "?init_date=" + (Oldrecord.first.fecharec - 1.day).strftime("%d-%m-%Y") + "&final_date=" + Oldrecord.first.fecharec.strftime("%d-%m-%Y") + "&inf_type=hosp", class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= 'active' if @tab == :admins %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Citología
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Hoy", informs_path + "?init_date=" + Time.now.strftime("%d-%m-%Y") + "&final_date=" + Time.now.strftime("%d-%m-%Y") + "&inf_type=cito", class: "dropdown-item" %>
              <%= link_to "Ayer", informs_path + "?init_date=" + 1.day.ago.strftime("%d-%m-%Y") + "&final_date=" + 1.day.ago.strftime("%d-%m-%Y") + "&inf_type=cito", class: "dropdown-item" %>
              <%= link_to "Antier", informs_path + "?init_date=" + 2.days.ago.strftime("%d-%m-%Y") + "&final_date=" + 2.days.ago.strftime("%d-%m-%Y") + "&inf_type=cito", class: "dropdown-item" %>
              <%= link_to "Esta semana", informs_path + "?init_date=" + Time.now.beginning_of_week.strftime("%d-%m-%Y") + "&final_date=" + Time.now.strftime("%d-%m-%Y") + "&inf_type=cito", class: "dropdown-item" %>
              <%= link_to "Este mes", informs_path + "?init_date=" + Time.now.beginning_of_month.strftime("%d-%m-%Y") + "&final_date=" + Time.now.strftime("%d-%m-%Y") + "&inf_type=cito", class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <% (1..6).each do |m| %>
                <%= link_to "#{m.month.ago.strftime('%b de %Y')}", informs_path + "?init_date=" + m.month.ago.beginning_of_month.strftime("%d-%m-%Y") + "&final_date=" + m.month.ago.end_of_month.strftime("%d-%m-%Y") + "&inf_type=cito" , class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to "Citologías FoxPro", index_oldcitos_informs_path + "?init_date=" + (Oldcito.first.fecharec - 1.day).strftime("%d-%m-%Y") + "&final_date=" + Oldcito.first.fecharec.strftime("%d-%m-%Y") + "&inf_type=cito", class: "dropdown-item" %>
            </div>
          </li>
          <% if role_path_allowed? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInf" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Leer material
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownInf">
                <%= link_to "Leer material (todos)", descr_micros_informs_path, class: "dropdown-item" %>
                <%= link_to "Leer material hoy y ayer", descr_micros_informs_path + days_ago_search(1), class: "dropdown-item" %>
                <%= link_to "Leer material semana", descr_micros_informs_path + days_ago_search(7), class: "dropdown-item" %>
              </div>
            </li>
          <% end %>
          <% if role_cyto_allowed? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInf" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Leer material Cito
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownInf">
                <%= link_to "Leer material (todos)", descr_micros_cyto_informs_path, class: "dropdown-item" %>
                <%= link_to "Leer material hoy y ayer", descr_micros_cyto_informs_path + days_ago_search(1), class: "dropdown-item" %>
                <%= link_to "Leer material semana", descr_micros_cyto_informs_path + days_ago_search(7), class: "dropdown-item" %>
              </div>
            </li>
          <% end %>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInf" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Validación
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownInf">
              <%= link_to "Por validar (todos)", index_revision_informs_path, class: "dropdown-item" %>
              <%= link_to "Lo de hoy y ayer", index_revision_informs_path + days_ago_search(1), class: "dropdown-item" %>
              <%= link_to "Lo de la semana", index_revision_informs_path + days_ago_search(7), class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInf" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Estado
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownInf">
              <%= link_to "Listos para publicar", informs_index_ready_path, class: "dropdown-item" %>
              <%= link_to "Publicados", informs_index_ready_path, class: "dropdown-item" %>
              <%= link_to "Leídos", informs_index_ready_path, class: "dropdown-item" %>
            </div>
          </li>
          <ul class="navbar-nav d-flex justify-content-end">
            <%= form_tag informs_path, method: "get", class: "form-inline my-2 my-lg-0" do %>
              <!-- <%= submit_tag("Buscar", class: "btn btn-outline-success my-2 my-lg-0") %> -->
              <%= text_field_tag :tag_code, nil, class: "form-control input mx-2", placeholder: "código para buscar" %>
            <% end %>
          </ul>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <ul class="navbar-nav d-flex justify-content-end">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Usuario: <%= current_user.first_name %> <%= current_user.last_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
</div>
