<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentB" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContentB">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInf" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pacientes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownInf">
              <%= link_to "Todos", patients_path, class: "dropdown-item" %>
              <%= link_to "Hoy", patients_path + "?filter=hoy", class: "dropdown-item" %>
              <%= link_to "Ayer", patients_path + "?filter=ayer", class: "dropdown-item" %>
              <%= link_to "Antier", patients_path + "?filter=antier", class: "dropdown-item" %>
              <%= link_to "Trasantier(Puente)", patients_path + "?filter=trasantier", class: "dropdown-item" %>
              <%= link_to "últimos 7 días", patients_path + "?filter=semana", class: "dropdown-item" %>
              <%= link_to "últimos 30 días", patients_path + "?filter=mes", class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInf" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Matrícula
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownInf">
              <%= link_to "En serie", matriculate_series_patients_path, class: "dropdown-item" %>
              <%= link_to "Uno y al informe", last20_patients_path + "?filter=hoy", class: "dropdown-item" %>
              
            </div>
          </li>
          
          <!-- <ul class="navbar-nav d-flex justify-content-end">
            <%= form_tag new_patient_path, method: "get", class: "form-inline my-2 my-lg-0" do %>
              <%= text_field_tag :id_number, nil, class: "form-control input mx-2", placeholder: "# identificación" %>
            <% end %>
          </ul> -->
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <ul class="navbar-nav d-flex justify-content-end">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Usuario: <%= current_user.first_name %> <%= current_user.last_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
</div>
