<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentB" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContentB">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= 'active' if @tab == :admins %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Informes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Hoy", reports_status_path + day_before_search(0), class: "dropdown-item" %>
              <%= link_to "Ayer", reports_status_path + day_before_search(1), class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <% (2..7).each do |day| %>
                <%= link_to "#{(Date.today - day).strftime('el %A pasado')}", reports_status_path + day_before_search(day), class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to "Esta semana", reports_status_path + week_before_search(0), class: "dropdown-item" %>
              <%= link_to "La semana pasada", reports_status_path + week_before_search(1), class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Este mes", reports_status_path + month_before_search(0), class: "dropdown-item" %>
              <%= link_to "El mes pasado", reports_status_path + month_before_search(1), class: "dropdown-item" %>
              <% (2..6).each do |month| %>
                <%= link_to "#{(Date.today - month.month).strftime('%b de %Y')}", reports_status_path + month_before_search(month), class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= 'active' if @tab == :admins %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Calidad
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Hoy", reports_objections_path + day_before_search(0), class: "dropdown-item" %>
              <%= link_to "Ayer", reports_objections_path + day_before_search(1), class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <% (2..7).each do |day| %>
                <%= link_to "#{(Date.today - day).strftime('el %A pasado')}", reports_objections_path + day_before_search(day), class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to "Esta semana", reports_objections_path + week_before_search(0), class: "dropdown-item" %>
              <%= link_to "La semana pasada", reports_objections_path + week_before_search(1), class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Este mes", reports_objections_path + month_before_search(0), class: "dropdown-item" %>
              <%= link_to "El mes pasado", reports_objections_path + month_before_search(1), class: "dropdown-item" %>
              <% (2..6).each do |month| %>
                <%= link_to "#{(Date.today - month.month).strftime('%b de %Y')}", reports_objections_path + month_before_search(month), class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= 'active' if @tab == :sales %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mes a mes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% (0..2).each do |m| %>
                <%= link_to "C: #{m.month.ago.strftime('%b de %Y')}", billings_reports_path + "?init_date=" + m.month.ago.beginning_of_month.strftime("%d-%m-%Y") + "&final_date=" + m.month.ago.end_of_month.strftime("%d-%m-%Y") + "&inf_type=clin" , class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <% (0..2).each do |m| %>
                <%= link_to "H: #{m.month.ago.strftime('%b de %Y')}", billings_reports_path + "?init_date=" + m.month.ago.beginning_of_month.strftime("%d-%m-%Y") + "&final_date=" + m.month.ago.end_of_month.strftime("%d-%m-%Y") + "&inf_type=hosp" , class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <% (0..2).each do |m| %>
                <%= link_to "K: #{m.month.ago.strftime('%b de %Y')}", billings_reports_path + "?init_date=" + m.month.ago.beginning_of_month.strftime("%d-%m-%Y") + "&final_date=" + m.month.ago.end_of_month.strftime("%d-%m-%Y") + "&inf_type=cito" , class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= 'active' if @tab == :sales %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              16 a 15
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% (0..2).each do |m| %>
                <%= link_to "C: #{(Time.now.beginning_of_month - (m + 1).month + 15.days).strftime("%b %d")} a #{(Time.now.beginning_of_month - m.month).year == Time.now.year ? (Time.now.beginning_of_month - m.month + 14.days).strftime("%b %d") : (Time.now.beginning_of_month - m.month + 14.days).strftime("%b %d de %Y")}", billings_reports_path + "?init_date=" + (Time.now.beginning_of_month - (m + 1).month + 15.days).strftime("%d-%m-%Y") + "&final_date=" + (Time.now.beginning_of_month - m.month + 14.days).strftime("%d-%m-%Y") + "&inf_type=clin" , class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <% (0..2).each do |m| %>
                <%= link_to "H: #{(Time.now.beginning_of_month - (m + 1).month + 15.days).strftime("%b %d")} a #{(Time.now.beginning_of_month - m.month).year == Time.now.year ? (Time.now.beginning_of_month - m.month + 14.days).strftime("%b %d") : (Time.now.beginning_of_month - m.month + 14.days).strftime("%b %d de %Y")}", billings_reports_path + "?init_date=" + (Time.now.beginning_of_month - (m + 1).month + 15.days).strftime("%d-%m-%Y") + "&final_date=" + (Time.now.beginning_of_month - m.month + 14.days).strftime("%d-%m-%Y") + "&inf_type=hosp" , class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <% (0..2).each do |m| %>
                <%= link_to "K: #{(Time.now.beginning_of_month - (m + 1).month + 15.days).strftime("%b %d")} a #{(Time.now.beginning_of_month - m.month).year == Time.now.year ? (Time.now.beginning_of_month - m.month + 14.days).strftime("%b %d") : (Time.now.beginning_of_month - m.month + 14.days).strftime("%b %d de %Y")}", billings_reports_path + "?init_date=" + (Time.now.beginning_of_month - (m + 1).month + 15.days).strftime("%d-%m-%Y") + "&final_date=" + (Time.now.beginning_of_month - m.month + 14.days).strftime("%d-%m-%Y") + "&inf_type=cito" , class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= 'active' if @tab == :sales %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              26 a 25
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% (0..2).each do |m| %>
                <%= link_to "C: #{(Time.now.beginning_of_month - (m + 1).month + 25.days).strftime("%b %d")} a #{(Time.now.beginning_of_month - m.month).year == Time.now.year ? (Time.now.beginning_of_month - m.month + 24.days).strftime("%b %d") : (Time.now.beginning_of_month - m.month + 24.days).strftime("%b %d de %Y")}", billings_reports_path + "?init_date=" + (Time.now.beginning_of_month - (m + 1).month + 25.days).strftime("%d-%m-%Y") + "&final_date=" + (Time.now.beginning_of_month - m.month + 24.days).strftime("%d-%m-%Y") + "&inf_type=clin" , class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <% (0..2).each do |m| %>
                <%= link_to "H: #{(Time.now.beginning_of_month - (m + 1).month + 25.days).strftime("%b %d")} a #{(Time.now.beginning_of_month - m.month).year == Time.now.year ? (Time.now.beginning_of_month - m.month + 24.days).strftime("%b %d") : (Time.now.beginning_of_month - m.month + 24.days).strftime("%b %d de %Y")}", billings_reports_path + "?init_date=" + (Time.now.beginning_of_month - (m + 1).month + 25.days).strftime("%d-%m-%Y") + "&final_date=" + (Time.now.beginning_of_month - m.month + 24.days).strftime("%d-%m-%Y") + "&inf_type=hosp" , class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <% (0..2).each do |m| %>
                <%= link_to "K: #{(Time.now.beginning_of_month - (m + 1).month + 25.days).strftime("%b %d")} a #{(Time.now.beginning_of_month - m.month).year == Time.now.year ? (Time.now.beginning_of_month - m.month + 24.days).strftime("%b %d") : (Time.now.beginning_of_month - m.month + 24.days).strftime("%b %d de %Y")}", billings_reports_path + "?init_date=" + (Time.now.beginning_of_month - (m + 1).month + 25.days).strftime("%d-%m-%Y") + "&final_date=" + (Time.now.beginning_of_month - m.month + 24.days).strftime("%d-%m-%Y") + "&inf_type=cito" , class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= 'active' if @tab == :sales %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ventas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% (0..2).each do |m| %>
                <%= link_to "C: #{m.month.ago.strftime('%b de %Y')}", sales_reports_path + "?init_date=" + m.month.ago.beginning_of_month.strftime("%d-%m-%Y") + "&final_date=" + m.month.ago.end_of_month.strftime("%d-%m-%Y") + "&inf_type=clin" , class: "dropdown-item" %>
              <% end %>
              <% (0..2).each do |m| %>
                <%= link_to "H: #{m.month.ago.strftime('%b de %Y')}", sales_reports_path + "?init_date=" + m.month.ago.beginning_of_month.strftime("%d-%m-%Y") + "&final_date=" + m.month.ago.end_of_month.strftime("%d-%m-%Y") + "&inf_type=hosp" , class: "dropdown-item" %>
              <% end %>
              <% (0..2).each do |m| %>
                <%= link_to "K: #{m.month.ago.strftime('%b de %Y')}", sales_reports_path + "?init_date=" + m.month.ago.beginning_of_month.strftime("%d-%m-%Y") + "&final_date=" + m.month.ago.end_of_month.strftime("%d-%m-%Y") + "&inf_type=cito" , class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
            
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <ul class="navbar-nav d-flex justify-content-end">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Usuario: <%= current_user.first_name %> <%= current_user.last_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
</div>
