<!DOCTYPE html>
<html>
  <head>
    <title>Hipodecos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Hipodecos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if admin_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admins
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admins">Admins</a>
                <a class="dropdown-item" href="/admins/sign_in">Ingresar</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usuarios
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Usuarios", users_path, class: "dropdown-item" %>
                <%= link_to "Ingresar", new_user_session_path, class: "dropdown-item" %>
                <%= link_to "Nuevo Usuario", new_user_registration_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "Cargos", roles_path, class: "dropdown-item" %>
                <%= link_to 'Nuevo Cargo', new_role_path, class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Instituciones
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "EPS", promoters_path, class: "dropdown-item" %>
                <%= link_to "Crear EPS", new_promoter_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "IPS", entities_path, class: "dropdown-item" %>
                <%= link_to "Crear IPS", new_entity_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "Sedes IPS", branches_path, class: "dropdown-item" %>
                <%= link_to "Crear Sede IPS", new_branch_path, class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Administración
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">CUPS</a>
                <a class="dropdown-item" href="#">Costos</a>
                <a class="dropdown-item" href="#">Tarifas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Lista de no conformidades</a>
                <a class="dropdown-item" href="#">Lista de correcciones</a>
                <a class="dropdown-item" href="#">No conformidades</a>
                <div class="dropdown-divider"></div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reportes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">A</a>
                <a class="dropdown-item" href="#">B</a>
                <a class="dropdown-item" href="#">C</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">D</a>
                <a class="dropdown-item" href="#">E</a>
                <a class="dropdown-item" href="#">F</a>
                <div class="dropdown-divider"></div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">IPS</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CUPS
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/codevals">Listado</a>
                <a class="dropdown-item" href="/codevals/new">Nuevo</a>
              </div>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Informes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admins">Matrícula</a>
                <a class="dropdown-item" href="/admins/sign_up">Edición</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Procedimientos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users">Registro de especímenes</a>
                <a class="dropdown-item" href="/users/sign_up">Macros</a>
                <a class="dropdown-item" href="/users/sign_in">Cassettes</a>
                <a class="dropdown-item" href="/users/edit">Bloques</a>
                <a class="dropdown-item" href="#">Placas</a>
                <%= link_to "Roles", roles_path, class: "dropdown-item" %>
              </div>
            </li>
          <% end %>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <% if admin_signed_in? %>
          <ul class="navbar-nav d-flex justify-content-end">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin: <%= current_admin.email %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Salir", destroy_admin_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          </ul>
        <% else %>
          <% if user_signed_in? %>
            <ul class="navbar-nav d-flex justify-content-end">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Usuario: <%= current_user.email %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </li>
            </ul>
          <% else %>
            <ul class="navbar-nav d-flex justify-content-end">
              <li class="nav-item active">
                <%= link_to "Ingresar", new_admin_session_path, class: "nav-link" %>
              </li>
            </ul>
          <% end %>
        <% end %>
      </div>
    </nav>
    <% if flash[:notice] %>
      <div class="alert alert-warning"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
