<div class="contanier">
  <div class="row">
    <div class="col-12 col-lg-12">
      
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-10 mx-auto">
      <h2 class="edit-user">Edición de información personal de <%= resource_name.to_s.humanize %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <% if !admin_signed_in? %>
          <fieldset disabled>
        <% end %>
          <div class="alert alert-info">
            <div class="row mx-auto">
              <div class="col-12 col-lg-4 mx-auto">
                <div class="form-group">
                  <%= f.label "Nombres" %><br />
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "Nombres", class: "form-control"  %>
                </div>
              </div>
              <div class="col-12 col-lg-4 mx-auto">
                <div class="form-group">
                  <%= f.label "Apellidos" %><br />
                  <%= f.text_field :last_name, autocomplete: "Apellidos", class: "form-control"  %>
                </div>
              </div>
              <div class="col-12 col-lg-4 mx-auto">
                <div class="form-group">
                  <%= f.label "Cargo" %><br />
                  <%= f.select :role_id, Role.pluck(:name, :id), {prompt:"Seleccione el cargo"}, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row mx-auto">
              <div class="col-12 col-lg-4 mx-auto">
                <div class="form-group">
                  <%= f.label "Dirección" %><br />
                  <%= f.text_field :address, autocomplete: "Dirección", class: "form-control"  %>
                </div>
              </div>
              <div class="col-12 col-lg-4 mx-auto">
                <div class="form-group">
                  <%= f.label "Teléfono" %><br />
                  <%= f.text_field :tel, autocomplete: "Teléfono", class: "form-control"  %>
                </div>
              </div>
              <div class="col-12 col-lg-4 mx-auto">
                <div class="form-group">
                  <%= f.label "Celular" %><br />
                  <%= f.text_field :cel, autocomplete: "Celular", class: "form-control"  %>
                </div>
              </div>
            </div>

            <div class="row mx-auto">
              <div class="col-12 col-lg-4 mx-auto">
                <div class="form-group">
                  <%= f.label "Cumpleaños" %><br />
                  <%= f.date_field :birth_date, autocomplete: "Fecha de cumpleaños", class: "form-control" %>
                </div>
              </div>
              <div class="col-12 col-lg-4 mx-auto">
                <div class="form-group">
                  <%= f.label "Fecha de ingreso" %><br />
                  <%= f.date_field :join_date, autocomplete: "Fecha de ingreso", class: "form-control" %>
                </div>
              </div>
              <div class="col-12 col-lg-4 mx-auto">
                <div class="form-group">
                  <%= f.label "Fecha de salida" %><br />
                  <%= f.date_field :deactivation_date, autocomplete: "Fecha de desactivación", class: "form-control"  %>
                </div>
              </div>
            </div>

            <div class="row mx-auto">
              <div class="col-12 col-lg-6 mx-auto">
                <div class="form-group">
                  <%= f.label "Hoja de vida (Hacerlo por el menú Editar Datos)" %><br />
                </div>
              </div>
              <div class="col-12 col-lg-4 mx-auto">
                <div class="form-group">
                  <%= f.label "Archivo de firma (Hacerlo por el menú Editar Datos)" %><br />
                </div>
              </div>

            </div>
            <div class="row mx-auto">
              <div class="col-12 col-lg-6 mx-auto">
                <div class="form-group">
                  <%= f.label "Contacto de emergencia: Nombres y apellidos" %><br />
                  <%= f.text_field :emergency_contact, autocomplete: "Contacto de emergencia", class: "form-control"  %>
                </div>
              </div>
              <div class="col-12 col-lg-3 mx-auto">
                <div class="form-group">
                  <%= f.label "Emergencia: Teléfono" %><br />
                  <%= f.text_field :emergency_tel, autocomplete: "Teléfono de emergencia", class: "form-control"  %>
                </div>
              </div>
              <div class="col-12 col-lg-3 mx-auto">
                <div class="form-group">
                  <%= f.label "Emergencia: Celular" %><br />
                  <%= f.text_field :emergency_cel, autocomplete: "Celular de emergencia", class: "form-control"  %>
                </div>
              </div>
            </div>
            <div class="row mx-auto">
              <div class="col-12 col-lg-4 mx-auto">
                <div class="form-group">
                  <%= f.check_box :active %>
                  <%= f.label "Activo" %>
                </div>
              </div>
              <div class="col-12 col-lg-4 mx-auto">
                <div class="form-group">
                  <%= f.label "Email alterno/personal" %><br />
                  <%= f.email_field :email2, autocomplete: "email", class: "form-control"  %>
                </div>
              </div>
              <div class="col-12 col-lg-4 mx-auto">
                <% if admin_signed_in? %>
                  <div class="form-group">
                    <%= f.label "Notas" %><br />
                    <%= f.text_area :notes, autocomplete: "Notas", class: "form-control"  %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="row mx-auto">
              <div class="col-12 col-lg-4 mx-auto">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Archivo de hoja de vida</h5>
                    <% if @user.cvfile.file != nil %>
                      <h6 class="card-subtitle mb-2 text-muted"><%= link_to @user.cvfile.file.filename , @user.cvfile.url %></h6>
                      <p>
                        <label>
                          <%= f.check_box :remove_cvfile %>
                          Borrar hoja de vida
                        </label>
                      </p>
                    <% else %>
                      <p class="card-text">Aún no cargado</p>
                      <p class="card-text"><%= f.file_field :cvfile %></p>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-4 mx-auto">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Archivo de contrato</h5>
                    <% if @user.contract.file != nil %>
                      <h6 class="card-subtitle mb-2 text-muted"><%= link_to @user.contract.file.filename , @user.contract.url %></h6>
                      <p>
                        <label>
                          <%= f.check_box :remove_contract %>
                          Borrar archivo de contrato
                        </label>
                      </p>
                    <% else %>
                      <p class="card-text">Aún no cargado</p>
                      <p class="card-text"><%= f.file_field :contract %></p>
                    <% end %>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-4 mx-auto">
                <% if @user.signfile.file %>
                  <div class="card">
                    <img src="<%= @user.signfile.url %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p>
                        <label>
                          <%= f.check_box :remove_signfile %>
                          Borrar archivo de firma
                        </label>
                      </p>
                    </div>
                  </div>
                <% else %>
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Archivo de firma</h5>
                      <p class="card-text">Aún no cargado</p>
                      <p class="card-text"><%= f.file_field :signfile %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% if !admin_signed_in? %>
          <fieldset>
        <% end %>
    </div>
      
      <div class="col-6 col-lg-3 mx-auto">
        <h2 class="edit-user">Guardar</h2>
        <div class="alert alert-warning">
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autocomplete: "email", class: "form-control"  %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="form-group">
            <%= f.label "Contraseña" %> <i>(déjala en blanco si no quieres cambiarla)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> caracteres mínimo</em>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label "Confirmación de contraseña" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
          </div>

          <div class="form-group">
            <%= f.label "Contraseña actual" %> <i>(la necesitamos para confirmar los cambios)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "Guardar", class: "btn btn-primary btn-block mb-3" %>
          </div>
          <%= render "admins/shared/links" %>
        </div>
                    
      <% end %>   <!-- El botón de Borrar Cuenta debe quedar por debajo de este END para que no borre la cuenta en lugar de Actualizarla! -->
<!--       <div class="alert alert-warning">
        <h3>Borrar cuenta</h3>

        <p><%= button_to "Borrar cuenta", registration_path(resource_name), data: { confirm: "¿Confirmar acción?" }, method: :delete, class: "btn btn-danger btn-block mb-3" %></p>

        <%= link_to "Vovler a usuarios", :back %>
      </div> -->
    </div>
  </div>
</div>
